@media screen and (min-width:1080px) and(max-width:1081px) {
	.data_every .data_graph{
		margin:0px !important;
	}
	.data_list .data_every .data_titleInfo{
		min-width:122px;
		padding:0 !important;
		margin-top:100px;
	}
	.count-echart{
		margin-top:33px;
	}
}

* {
	margin: 0;
	padding: 0;
}
html,body{
	height:100%;
	width:100%;
}
canvas{
	display:block;
}
.comboBox{
	background:#fff;
}
.comboBox .form-inline{
	background:#fff;
}
.comboBox .filter-table form{
	padding:10px 0;
	float:left;
	height:auto;
}

.comboBox .filter-table form .checkbox .manage_title .comboBox_checkType{
	float: left;
	margin-top: 2px;
	margin-right:5px;
}
.comboBox .filter-table .manage_title{
	clear:both;
	margin:0 10px;
}


.comboBox .filter-table .dis{
	margin-right:10px;
}
/*tabs*/
.comboBox .filter-table .tabs:first-child{
	margin-top:20px;
}
.comboBox .filter-table .tabs{
	 margin-bottom:20px;
 }

.comboBox .filter-table .tabs > div{
	vertical-align: middle;
}
.comboBox .filter-table .marking{
	clear:both;
}
.comboBox .filter-table .tabs .most_bj{
    height: 30px;
    line-height: 30px;
    width: 80px;
    text-align: center;
    background:#fff;
    border:1px solid #ddd;
    display: inline-block;
    margin-right: 10px;
}
.comboBox .filter-table .mark_mar{
	margin-left: 81.3px;
}
.comboBox .filter-table .tabs .active{
	background:#666;
}
.comboBox .tabs .check-sub label {
	margin-right: 15px;
	width: 90px;
	text-align: center;
    padding: 10px;
    height: 36px;
    width: 100px;
    background: #fff;
}
.comboBox .tabs .check-sub1 label {
	margin-right: 10px;
	width: 90px;
/*	background: green;*/
	text-align: center;
    padding: 10px;
    height: 36px;
    width: 100px;
    background: #fff;
	margin-right:15px;
	margin-bottom:10px;
}
.comboBox .width50{
	width: 88px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	padding:0 10px;
}
.comboBox .tabs .priority-check label {
	margin-right: 10px;
	width: 90px;
/*	background: green;*/
	text-align: center;
    padding: 10px;
    height: 36px;
    width: 100px;
}
.coop-countElement{
	font-weight: normal;
	/*float: right;*/
	/*margin-right: 8px;*/
	position:absolute;
	right:8px;
}
.coop-menusSet{
	width: 157px;
	display: inline-block;
	position: absolute;
}
.comboBox .tabs .priority-check input[type=checkbox]:checked + div {
	background: #979ba8;
	color:#fff;
}
.comboBox .tabs .priority-check label > div {
	background: #fff;
    width: 100px;
    height: 36px;
    top: 0px;
    left: 0px;
    line-height: 36px;
    border: 1px solid #979ba8;
	color:#979ba8;
}
.comboBox .tabs .mark-check input[type=checkbox]:checked + div {
	background: #979ba8;
	color:#fff;
}

.comboBox .tabs .mark-check  label > div {
	background: #fff;
    width: 100px;
    height: 36px;
    top: 0px;
    left: 0px;
    line-height: 36px;
    border: 1px solid #979ba8;
	color:#979ba8;
}

.comboBox .tabs .check-sub1 .input-check {
	background: #979ba8;
}
.comboBox .tabs .check-sub label input {
	opacity: 0.5;
}
/*type-check*/
.comboBox .tabs .type-check .bg0 {
	background: url('../imgs/dyfilter/co_1.png');
}
.comboBox .tabs .type-check .bg1 {
	background: url('../imgs/dyfilter/co_2.png');
}
.comboBox .tabs .type-check .bg2 {
	background: url('../imgs/dyfilter/co_3.png');
}
.comboBox .tabs .type-check .bg3 {
	background: url('../imgs/dyfilter/co_4.png');
}
.comboBox .tabs .type-check .bg4 {
	background: url('../imgs/dyfilter/co_5.png');
}
.comboBox .tabs .type-check .bg5 {
	background: url('../imgs/dyfilter/co_6.png');
}

.comboBox .tabs .type-check .bgs0 {
	background: url('../imgs/dyfilter/co_1_s.png');
}
.comboBox .tabs .type-check .bgs1 {
	background: url('../imgs/dyfilter/co_2_s.png');
}
.comboBox .tabs .type-check .bgs2 {
	background: url('../imgs/dyfilter/co_3_s.png');
}
.comboBox .tabs .type-check .bgs3 {
	background: url('../imgs/dyfilter/co_4_s.png');
}
.comboBox .tabs .type-check .bgs4 {
	background: url('../imgs/dyfilter/co_5_s.png');
}
.comboBox .tabs .type-check .bgs5 {
	background: url('../imgs/dyfilter/co_6_s.png');
}
.comboBox .tabs .check-sub input{
	top: 18px;
    left: 77px;
}
.comboBox .marking .marklist {
	margin-left: 138px;
	max-width: 100%;
	margin-top: -34px;
}
.comboBox .filter-table .tabs .checkbox {
    margin-left: 25px;
}
.comboBox .filter-button {
	text-align: center;
	background:#fff;
	padding-bottom:10px;
}
.combo-typeAll{
	float:left;
}
.first-list{
	margin-left:138px;
}
.operation{
	position:relative;
}
.operation-mask{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #fff;
	z-index: 1;
	opacity: 0.4;
	display:none;
}
/*data_count(鏁版嵁缁熻椤甸潰)*/

/*table-list*/
.table-list{
	overflow:hidden;
}
/*data_count*/
.data_count{
	display:none;
	position:relative;
	height:824px;
	min-width:800px;
}
.data_count .data_Totle{
	width:100%;
	height:59px;
	background:#f3f3f3;
	position:absolute;
	top: -59px;
	left:0;
	z-index:10;
}
.data_count .data_Totle .data_back{
	line-height: 59px;
	padding: 0 10px;
	float: left;
}
.data_count .data_Totle  h4{
	text-align: center;
	line-height: 59px;
	font-size: 17px;
}
.data_count .data_Totle .btn{
	float:right;
	margin-top:13px;
	margin-right:10px;
}
.data_count .overflow{
	overflow:auto;
	zoom:1;
}
/*data_every*/
.data_every{
	width:50%;
	float:left;
	/*height:50%;*/
	height:412px;
}
.count-echart{
	vertical-align:middle;
	display:inline-block;
	width:100%;
	/*margin-top:56px;*/
}
.count-echart+span{
	display:inline-block;
	vertical-align:middle;
	width:0%;
	height:102%;

}

 .data_list .data_every .data_titleInfo{
	width: 25%;
	height: 70%;
	float: right;
	margin-top: 64px;
	margin-right:12px;

}
 .data_every .data_titleInfo  h4{
	font-weight:normal;
	line-height:40px;
	border:1px solid #ddd;
	 border-bottom:none;
	padding:0 20px;
	 background:#F9F9FA;
}
 .data_every .data_titleInfo ul{
	background:#F9F9FA;
	border:1px solid #ddd;
	margin-bottom:20px;
	 /*margin-right:10px;*/
}
 .data_every .data_titleInfo ul li{
	line-height:40px;
	padding:0 10px;
	 /*cursor: pointer;*/
}
.data_every .data_titleInfo ul li>p{width: 100px;}
 .data_every .data_titleInfo ul li:last-child{
	/*padding-bottom:20px;*/
}
 .data_every .data_graph{
	 /*width:100%;*/
	/*height:360px;*/
	float:left;
}
/*data_titleInfo锛堝唴鍦堢殑棰滆壊锛�*/
 .data_count .data_every .data_titleInfo.first ul li:nth-of-type(1) span{
	border: 4px solid #5887FD;
}
 .data_count .data_every .data_titleInfo.first ul li:nth-of-type(2) span{
	border: 4px solid #73CC6C;
}
 .data_count .data_every .data_titleInfo.first ul li:nth-of-type(3) span{
	border: 4px solid #E6D055;
}
  .data_count .data_every .data_titleInfo ul li .data_raduis{
	width: 20px;
	height: 20px;
	border: 4px solid #E6D055;
	border-radius: 50%;
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: 12px;
}
.markColor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* display: inline-block; */
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}
/*data_graph*/
/*缁熻椤甸潰鐨勬í绔栫嚎*/
.transverse-line{
	border-bottom:1px solid #ddd;
}
.long-line{
	position:absolute;left:50%;top:0;border-right:1px solid #ddd;height:calc( 100% )
}
/*琛ㄦ牸鍒犻櫎鍒�*/
.icon-remove{
	display:none;

}
.cop-delete{
	display:none;
	line-height: 39px !important;
}
/*.draft-box{
	display:none;
}*/
.icon-del-tr{
	width:20px;height:20px;display:block;background:url(../imgs/icon/new-icon.png) no-repeat center 0 ;
	margin:0 auto;
}
.icon-del-tr:hover{
	opacity:0.6;
}
.comboBox .type-check{
	margin-top:0;
}
.main-container .left .btn.btn-default.cop-filter{
	margin-top: 0px;
	padding: 2px 12px;
	height: 30px !important;
	display: inline-block;
	background: #69C080;
	color: #fff;
	border: 0;
	border-radius: 5px;
	line-height:16px ;
	margin-right:10px;
}
.main-container .left .btn.btn-default.cop-filter:hover{
	background:#55ad6c;
}
.main-container .left .btn.btn-default.cop-filter:active{
	background:#4a965e;
}
.main-container .cop-list{
	margin-right:9px;
}
.coop-searchKey{
	height:30px !important;
}

.filter-active{
	border: 1px solid #69C080 !important;
	background: #fff !important;
	color: #000 !important;
}
.bg-lock{
	background:#eceef0;
}


.bootstrap-select > select{
	left:0;
}
.m-40{
	margin-left:40px !important;
}
.trent-branch{
	width:314px;
	max-height:413px;
	background: url(../imgs/menus-head.png) no-repeat center top;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-157px;
	margin-top:-202px;
	z-index:103;
	box-shadow: -1px 3px 9px #333;
}
.trent-branch h3+div{
	background:#fff;
}
.trent-branch .branch-title{
	font-size: 18px;
	line-height: 50px;
	text-align: left;
	color: #fff;
	padding: 0 20px;
}
.trent-branch ul{
	width:314px;
	padding:0 20px;
	max-height:363px;
}
.trent-branch ul li{
	color:#333;
	font-size:14px;
	border-bottom:1px solid #ddd;
	padding:10px 20px;
	line-height:25px;
	text-align:left;
	list-style:none;
	background:#fff;
}
.trent-branch ul li:last-child{
	border:0;
}
.trent-branch ul li:hover{
	color:#65c17d;
}
.trent-branch-mask{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.4;
	z-index:101;
}
