/*@media screen and (min-width: 320px) and (max-width: 768px){*/
    /*.main img{*/
    /*width: 70px;*/
    /*height: 70px;*/
    /*}*/
    /*.data-list dl, .data-list dt, .data-list dd{*/
        /*width: 70px;*/
        /*height: 70px; */
    /*}*/
    /*.data-list .show-icon {*/
        /*width: 70px;*/
    /*}*/
    /*.data-list .show-icon span {*/
        /*margin:0 5px;*/
    /*}*/
/*}*/


/*@media screen and (min-width: 768px) and (max-width: 1920px){*/
    /*.main img{*/
    /*width: 118px;*/
    /*height: 118px;*/

    /*}*/
    /*.data-list dl, .data-list dt, .data-list dd{*/
        /*width: 118px;*/
        /*height: 118px;*/
        /*overflow:hidden;*/
    /*}*/
    /*.data-list .show-icon {*/
        /*width: 118px*/
    /*}*/
    /*.data-list .show-icon span {*/
        /*margin: 10px 12px;*/
    /*}*/
    /*.data-list .show-icon span img{*/
        /*width:20px;*/
        /*height:20px;*/
    /*}*/

/*}*/
/*电脑端*/
.detail-computer{
    /*display:none;*/
    position:relative;
}
header{
    height:60px;
    background:#ddd;
    text-align:center;
    position:relative;
}
header p{
    line-height:60px;
    /*color:#fff;*/
}
header .close{
    position:absolute;
    top:10px;
    right:10px;
}
/*---------------------main--------------------*/
.main{
   overflow:hidden;
}
/*-------------------main_content---------------*/
.main_content{
    /*width:1200px;*/
    margin:0 auto;
}
.coop-detail-con{
    position:relative;
}
/*------------------content_left-----------------*/
.content_left{
    /*width:80%;*/
    /*height:1000px;*/
    /*display:inline-block;*/
    /*background:rebeccapurple;*/
}
.content_left .proTitle{
    width:70px;
    /*height:1000px;*/
    /*border:1px solid #0000ff;*/
    display:inline-block;
}
.content_left .proTitle .message {
    width:70px;
    height:70px;
    background:cornflowerblue;
    text-align:center;
    float:left;
}
.content_left .proTitle .message p{
    width:40px;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    margin: 13px;
    float: left;
}
/*-------------proInfo-------------*/
.proInfo{
    width:100%;
    float:right;
}
.proInfo .pro_man{
    /*padding-bottom: 10px;*/
    border-bottom:1px solid #ddd;
    margin-top:36px;
    padding-bottom: 2px;
}
.proInfo .pro_man div:nth-child(1){
    margin-bottom:23px;
}
.proInfo .pro_man div:nth-child(2){
    margin-bottom:23px;
}
.proInfo .pro_man .active{
    margin-top:15px;
    /*width: 32%;*/
    /*height: 100px;*/
    float: left;
}
.proInfo .pro_man  .btn-default{
    background-color:#65c17d !important;
    color:#fff;
}
.proInfo .pro_man  .btn.focus, .btn:focus, .btn:hover{
   /* background:#65c17d;*/
}
.proInfo .pro_man .coop-name{
    display: inline-block;
    margin-left: 20px;
}
.proInfo .pro_man div:nth-child(1) .look-model{
    background:url(../imgs/show_model.png) 5px center no-repeat;
    padding-left:30px;
}
.proInfo .pro_man div:nth-child(2) .play-audio{
    background:url(../imgs/play.png) 20px center no-repeat;
    padding-left:45px;
}
.proInfo .pro_man  .look-model:focus, .look-model:hover{
    background:url(../imgs/show_model.png) 5px center no-repeat;
    padding-left:30px;
}
/*play-audio-Mask*/
.detail-voice{
    text-align:center;
    line-height:120px;
    display:none;
}
.detail-voice .play-audio-mask{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:120px;
    background:#000;
    opacity:0.6;
}
.detail-voice .palys{
    position:absolute;
    top: -5%;
    left: 33%;
    margin-left:28px;
    margin-top:28px;
}
/*声音进度条*/
.detail-voice  .detail-voice-dialog{
    position:absolute;
    top: -66px;
    left: 850px;
}
input,button{margin:0;font-size:12px;vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}

a{color:#333;text-decoration:none;}
a:hover{color:#c00;text-decoration:underline;}

/* votebox */
.votebox{width:282px;margin-left:15px;text-align:left;position:relative;z-index:66;}
/* barbox */
.barbox{height:10px;line-height:10px;overflow:hidden;}
.barbox dt a{color:#0048CC;}
.barbox dd{float:left;}
.barbox dd.last{color:#999;}
.barbox dd.barline{width:282px;background:#fff ;border-radius:5px;}
.barbox dd.barline div.charts{height:10px;overflow:hidden;background:#65c17d;border-radius:8px;}
.detail-voice .palys .play-play{
    margin-right:34px;
}
/*声音印度条*/

.row{
    margin:0;
}
.proInfo .pad_clear{
    padding:0;
}
.active span{
    display:inline-block;
    width:80px;
    text-align:left;
}
.active p{
    display:inline-block;
}
.active .btn{
    margin-top:10px;
}
/*-------------detail(详情描述)--------------*/
.textHeight{
    height:130px;
}
.detail {
    margin-top:30px;
    border-bottom:1px solid #ddd;
    padding:10px 0;
}
.detail .blank{
    margin-bottom:20px;
}
.Avatar{
    /*clear:both;*/
    margin:40px 0;
}
.Avatar .photo dl{
    height: 100px;
    display: inline-block;
    margin-right:38px;
    text-align:center;
    font-size:12px;
    margin-left:-10px;
}
.Avatar .photo dl dt{
    width:50px;
    height: 50px;
    border-radius: 50%;
    border:1px solid #ddd;
    margin-bottom:22px;
}
.Avatar .photo dl dt img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    border:1px solid #ddd;
}
.Avatar .photo dl dd{
    line-height:20px;
    margin-bottom:25px;
}

/*-----------------------action--------------*/
.action{
    /*padding:40px 0;*/
    padding-top:40px;
    padding-bottom:20px;
    border-bottom:1px solid #ddd;
}
.action dl{
    display: inline-block;
    text-align:center;
    margin-right:40px;
    width: 80px;
}
/*.action dl dt{
    border:1px solid #ddd;
}*/

.action dl dt img{
    
}
.action dl dd{
    line-height:40px;
    margin-bottom:10px;
}
.action .show-icon .detail-down{
    width:20px;
    height:20px;
    margin-top:7px;
}
.action .picInfo  dl dt .detail-search{
    width:100%;
    background:#000;
    line-height:36px;
    opacity:0.6;
    position:absolute;
    bottom:-36px;
    left:0;
}
.action .picInfo  dl dt .detail-search img{
  width:15px;
  height:15px;
}
.action .picInfo  dl dt {
    width: 72px;
    height: 88px;
    overflow: hidden;
}
.action .picInfo  dl dt>img{
    width: 72px;
    height: 88px;
}
.action .picInfo  dl dt .deta-down{
    width: 118px;
    height: 118px;
    overflow: hidden;
}
.action .picInfo  dl dt .deta-down img{
    width: 118px;
    height: 118px;
}
.action .picInfo .data-list dd{
   /* width: 103px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*-------------reply---------------------------*/
.reply{
margin:34px 0;
}
.reply .man_pic{
    text-align:left;
}
.reply .man_pic p{
    margin-top:10px;
    margin-left: 8px;
}
.reply .man_pic img{
    width:50px;
    height:50px;
    border-radius: 50%;
}
.reply .comment {
    border: 1px solid #ccc;
    min-height: 70px;
}
.reply .say{
    margin-bottom:40px;
}
.reply .comment{
    border-radius:5px;
}
.reply .col-md-11,.col-xs-10,.col-md-12{
    padding:0;
}
.reply .say .comment .say-content{
    padding-left:10px !important;
}

/*-----------principal(个人信息)-----------------------------*/
.principal{
    width:30%;
    border:1px solid red;
    margin-right:30px;
    float:left;
}
/*--------------------content_right---------------*/
.content_right{
    min-width: 260px;
    float:right;
	position:absolute;
    top: 0;
	right:0;
	background:#fff;
	/*bottom:0;*/

}
/*-------bttn(侧边栏样式)-----------------------------------*/
 .btn_box{
    width: 43px;
    height: 74px;
    background: #979ba8;
    text-align: center;
    /* display: inline-block; */
    position: absolute;
    top: 40px;
    right: 16%;
    float: left;
    /* border-radius: 5px; */
    line-height: 74px;
}
 .btn_box span{
     font-size: 30px;
     color: #fff;
     line-height:none;
 }
 /*-------------------aside--------------------------*/
.aside{
    width:100%;
    /*border:1px solid red;*/
    float:right;
    /*position:absolute;*/
    /*right:0;*/
    /*top:0;*/

    /*display:none;*/
}
.aside .side_title{
    line-height:35px;
    text-align:center;
    background:#ddd;
}

/*----------------state-----------------------*/
.state{
    width: 82%;
    margin-left: 30px;
    margin-top: 20px;
}
.state::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 0;
    width: 2px;
    height: 94%;
    background: #65c17d;
}
.state ul{
    width: 100%;
    position: relative;
    left: -16px;
    top: 0;
    margin-left: 19px;

}
.state ul li{
    list-style:none;
    clear:both;
    margin-bottom:20px;
    position:relative;

}
.state ul li:last-child{
	 margin-bottom:0;
	 
}
.state ul li .step{
    width:34px;
    height:34px;
    background:#65c17d;
    border-radius: 50%;
    display:inline-block;
    position:absolute;
    top:0;
    left:-15px;

}
.state ul li .handle{
    line-height: 30px;
    border: 1px solid #ddd;
    width: 82%;
    display:inline-block;
    border-radius: 5px;
    margin-left: 30px;

}
.icon_man{
    display:inline-block;
}
.state ul li .handle p{
    display:inline-block;
    font-size:12px;
}

.icon_man img{
    width:24px;
    height:24px;
    border-radius: 50%;
}
/*------------------footer---------------------*/
.footer{
	width:100%;
    height:50px;
    text-align:center;
    line-height:50px;
    background:#ECEEF0;
    clear:both;
    position:fixed;
    bottom:0;
    left:0;
}
.footer .btn{
     margin:0 10px;

 }
.footer .btn-default{
   background:#65c17d;
    color:#fff;

}
.show-icon {
    bottom: -38px;
    width: 118px;
    background: #0a0909;
    opacity: 0.5;
    height:36px;
}
.show-icon span {
    margin: 0 7px;
    color: #fff;
    /*line-height:36px;*/
}
.data-list :hover .show-icon{
    display: block;
}

.data-list dd {
    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
    height: 30px;
}
/*问题整改*/
.pro_solve{
    position: absolute;
    top: 40px;
    left: -94px;
    width: 100px;
    height: 79px;
}
.pro_solve img{
    width:100px;
    height:79px;
}
/*手机端*/
html,body{
    height:100%;
    overflow-x:hidden;
}

.mobile-devices{
    height:100%;
    overflow-x:hidden;
}
.mobile-header{
    line-height:40px;
    background:#eceef0;
    text-align:center;
}
.mobile-main{
    width: 95%;
    padding:0;
    position:relative;
    overflow:hidden;
}
.container{
    /*overflow-x:hidden;*/
}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-12{
    padding:0;
}
.mobile-main .mobile-main-principal{
    margin-top:20px;
    border-bottom:1px solid #ddd;
    padding:0px;
}
.mobile-main .mobile-main-principal div:nth-child(1){
    padding:0;
    margin-bottom:20px;
}
.mobile-main .mobile-main-principal div:nth-child(1) button{
    background:#65c17d url(../imgs/show_model.png) no-repeat 10px center;
    padding-left:35px;
}
.mobile-main .mobile-main-principal div:nth-child(2){
    padding:0;
    argin-bottom:20px;
}
.mobile-main .mobile-main-principal div:nth-child(2) button{
    background:#65c17d url(../imgs/play.png) no-repeat 10px center;
    padding-left:35px;
}
.mobile-main .mobile-main-principal div:nth-child(3){
    padding:0;
    float:right;
    margin-bottom:20px;
}
.mobile-main .mobile-main-principal .float-rig{
    float:right;
}
.line-h22{
    margin-top:15px;
}
.DIY-btn{
    padding:5px;
    border-radius:5px;
    border:none ;
    color:#fff;
    margin-top:15px;
}
.DIY-btn:hover{
    border:1px solid #65c17d;
}
/*详情描述*/
.mobile-main .mobile-job-descrition{
    margin-top:15px;
    padding:0px;
}
.mobile-main .mobile-job-descrition .mobile-title{
    margin-bottom:10px !important;
    padding:0;
}
.mobile-main .mobile-job-descrition .mobile-textarea{
    float:right;
    padding:0;
}
/*相关人*/
.mobile-main .mobile-relate{
    padding:20px 0px;
    border-bottom:1px solid #ddd;
}
.mobile-main .mobile-relate .mobile-relate-title{
    padding:0;
}
.mobile-main  .mobile-relate .mobile-relate-con{
    padding:0;
}
.mobile-main  .mobile-relate .mobile-relate-con dl{
    width:45px;
    text-align:center;
    display:inline-block;
    margin-right:20px;
}
.mobile-main  .mobile-relate .mobile-relate-con dl dd{
    margin-top:10px;
    font-size:12px;
}
.mobile-main  .mobile-relate .mobile-relate-con dl dt{
    width:45px;
    height:45px;
}
.mobile-main  .mobile-relate .mobile-relate-con dl dt img{
    width:45px;
    height:45px;
    border-radius:50%;
}
/*照片*/
.mobile-main .mobile-photo{
    padding:0;
    margin:20px 0;
}
.mobile-main .mobile-photo .photo-title{

}
.mobile-main .mobile-photo .photo-con dl{
    width:70px;
    text-align:center;
}
.mobile-main .mobile-photo .photo-con .detail-sear>img{
    width:70px;
    height:70px;
}
.mobile-main .mobile-photo .photo-con .detail-sear .detail-search{
    width:100%;
    line-height:20px;
    background:#000;
    opacity:0.6;
    position:absolute;
    bottom:-1px;
    left:0;
    line-height:20px;
    text-align:Center;
    display:none;
}
.mobile-main .mobile-photo .photo-con .detail-sear .detail-search img{
    width:10px;
    height:10px;
}
.mobile-main .mobile-photo .photo-con dl dd{
    margin-top:10px;
}
/*移动端资料*/
.mobile-main .mobile-means{
    padding:0;
    margin-bottom:20px;
}
.mobile-main .mobile-means .means-con dl{
    width:70px;
    display:inline-block;
    margin-right: 14px;
}
.mobile-main .mobile-means .means-con dl dd{
    width:70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mobile-main .mobile-means .means-con .means-list .means-down{
    width:70px;
    height:70px;
    border:1px solid #ddd;
    position:relative;
}
.mobile-main .mobile-means .means-con .means-list .means-down>img{
    width:70px;
    height:70px;
    overflow:hidden;
}
.mobile-main .mobile-means .means-con .means-list .means-down .means-address{
    width: 70px;
    position: absolute;
    bottom: -1px;
    height: 20px;
    text-align: center;
    opacity: 0.6;
    background:#000;
}
.mobile-main .mobile-means .means-con .means-list .means-down .means-address img{
    width:16px;
    height:16px;
    line-height:20px;
}
.mobile-main .mobile-means .means-con .means-list dd{
    margin-top:10px;
}
/*回复*/
.mobile-main .mobile-reply{
    padding:0;
}
.mobile-main .reply-con .reply-reply .reply-icon{
    width:45px;
    text-align:center;
    margin-right:20px;
}
.mobile-main .reply-con .reply-reply .reply-icon p{
    margin-top:10px;
}
.mobile-main .reply-con .reply-reply .reply-icon img{
    width:30px;
    height:30px;
    border-radius:50%;
}
.mobile-main .reply-con .reply-reply .reply-box{
    border:1px solid #ddd;
    min-height:60px;
    border-radius:5px;
}
.mobile-main .reply-con .reply-reply .replys{
    margin-top:20px;
}
/*底部*/
.mobile-footer{
    width:100%;
    height:50px;
    position:fixed;
    bottom:0px;
    left:0px;
    background:#eceef0;
    text-align:center;
}
.mobile-footer button{
    /*line-height:40px;*/
    background:#65c17d;
    height:30px;
    padding:0 10px;
    text-align:center;
    margin-top:10px;

}
/*侧边栏划出效果*/
.mobile-main .content_right {
    /*bottom:0 */!important;
}
.mobile-devices .mobile-phone-turn{
    width:21px;
    height:37px;
    top:80px;

}
.mobile-devices .mobile-phone-turn .glyphicon-menu-left {
    font-size:20px;
    top:-12px;
}
.mobile-devices .mobile-phone-turn .glyphicon-menu-right{
    display:none;
    font-size:20px;
    top:-88px;
}
/*.mobile-menus*/
.mobile-menus{
    position:absolute;
    right:0;
    top:40px;
}

/*html::-webkit-scrollbar,*/
/*body::-webkit-scrollbar{*/
    /*width:0;*/
    /*height:0;*/
/*}*/