@media (min-width: 993px) and (max-width: 1150px){
    .container {
        width: 890px;
    }
}

/*电脑端*/
.detail-computer{
    /*display:none;*/
    position:relative;

}

.detail-computer .F16{
    font-size:16px;
}
.detail-computer .F14{
    font-size:14px;
}
.detail-computer .detail-dir{
    border:1px solid #ddd;min-height:80px;padding: 3px 8px;
}

/*---------------------main--------------------*/
.main{
   overflow:hidden;
}
/*-------------------main_content---------------*/
.main_content{
    /*width:1200px;*/
    margin:0 auto;
}
.coop-detail-con{
    position:relative;
    margin-top: 60px;
}
/*------------------content_left-----------------*/
.content_left{
    /*width:80%;*/
    /*height:1000px;*/
    /*display:inline-block;*/
    /*background:rebeccapurple;*/
}
.content_left .proTitle{
    width:70px;
    /*height:1000px;*/
    /*border:1px solid #0000ff;*/
    display:inline-block;
}
.content_left .proTitle .message {
    width:70px;
    height:70px;
    background:cornflowerblue;
    text-align:center;
    float:left;
}
.content_left .proTitle .message p{
    width:40px;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    margin: 13px;
    float: left;
}

.detail-close{
    position: fixed;
    top: 20px;
    right: -13px;
    font-size: 22px;
    z-index: 100;
    color: #fff;
}
/*-------------proInfo-------------*/
.proInfo{
    width:100%;
    float:right;
}
.proInfo{
    /*padding-bottom: 10px;*/
    /*border-bottom:1px solid #ddd;*/
    margin-top:36px;
    padding-bottom: 2px;
}
.proInfo .pro_man div:nth-child(1){
    margin-bottom:23px;
}
/*.proInfo .pro_man div:nth-child(2){
    margin-bottom:23px;
}*/
.proInfo .pro_man .active{
    margin-top:15px;
    /*width: 32%;*/
    /*height: 100px;*/
    float: left;
}
.proInfo .pro_man  .btn-default{
    background-color:#65c17d !important;
    color:#fff;
    border:0;
}
.proInfo .pro_man  .btn-default:hover{
    background:#55ad6c !important;
    border:0;
}
.proInfo .pro_man  .btn-default:active{
    background:#4a965e !important;
    border:0;
}
.proInfo .pro_man  .btn.focus, .btn:focus, .btn:hover{
   /* background:#65c17d;*/
}
.proInfo .pro_man .coop-name{
    display: inline-block;
    margin-left: 20px;
}
.proInfo .pro_man div:nth-child(1) .look-model{
    /*background:url(../imgs/show_model.png) 5px center no-repeat;*/
    padding-left:30px;
}
.proInfo .pro_man div:nth-child(1) .look-model img{
    position:absolute;
    margin-left: -4%;
}
.proInfo .pro_man .play-audio{
    width:143px;
    /*background: url(../imgs/play.png) 30px center no-repeat;*/
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.proInfo .pro_man .play-audio img{
    /*position: absolute;*/
    float: left;
    margin-left: 14px !important;

}
.proInfo .pro_man .play-audio:hover,.play-audio:focus{
    color:#fff !important;
}
.proInfo .pro_man  .look-model{
    /*background: url(../imgs/show_model.png) 13px center no-repeat;*/
   width:143px;
    height:34px;
    border-radius:5px;
}
.proInfo .pro_man  .look-model img{
    float:left;
    margin-right:2px;
}
.say-time{
    margin-left: 89px;
    margin-bottom:10px;
    clear:both;
}
.say-pic{
    margin:10px 0;margin-right:20px;
}
/*.proInfo .pro_man  .look-model:focus, .look-model:hover{*/
    /*!*background: url(../imgs/show_model.png) 13px center no-repeat;*!*/
    /*!*padding-left: 36px;*!*/
    /*!*border-radius:5px;*!*/
    /*!*color:#fff !important;*!*/
/*}*/

/*play-audio-Mask*/
.detail-voice{
   /* text-align:center;*/
    line-height:120px;
    display:none;
}
.detail-voice .play-audio-mask{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:77px;
    background:#000;
    opacity:0.6;
    z-index: 100;
}
.detail-voice .palys{
    position: fixed;
    /* top: -1%; */
    left: 50%;
    margin-top: 18px;
    z-index: 100;
    margin-left: -140px;
}
/*声音进度条*/
.detail-voice  .detail-voice-dialog{
    z-index: 108;
    position: absolute;
    right: 25px;
    width: 36px;
    color: #fff;
    top: -33px;
    font-size: 20px;
}


.detail-computer .audio-close {
    z-index: 108;
    position: absolute;
    right: 0;
    width: 17px;
    color: #fff;
    top: -14px;
}
.photoImg dt dd{
    font-size:14px;
}
input,button{margin:0;font-size:12px;vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}

a{color:#333;text-decoration:none;}
a:hover{color:#c00;text-decoration:underline;}

/* votebox */
.votebox{width:282px;margin-left:15px;text-align:left;position:relative;z-index:66;}
/* barbox */
.barbox{height:10px;line-height:10px;overflow:hidden;}
.barbox dt a{color:#0048CC;}
.barbox dd{float:left;}
.barbox dd.last{color:#999;}
.barbox dd.barline{width:282px;background:#fff ;border-radius:5px;}
.barbox dd.barline div.charts{height:10px;overflow:hidden;background:#65c17d;border-radius:8px;}
.detail-voice .palys .play-play{
    margin-right:34px;
}
/*声音印度条*/

.row{
    margin:0;
}
.proInfo .pad_clear{
    padding:0;
}
.active span{
    display:inline-block;
    width:80px;
    text-align:left;
}
.active p{
    display:inline-block;
}
.active .btn{
    margin-top:10px;
}
/*-------------detail(详情描述)--------------*/
.textHeight{
    height:130px;
}
.detail {
    margin-top:30px;
    border-bottom:1px solid #ddd;
    padding:10px 0;
}
.detail .blank{
    margin-bottom:20px;
}
.Avatar{
    /*clear:both;*/
    margin:40px 0;
}
.Avatar .photo dl{
    height: 100px;
    display: inline-block;
    margin-right:38px;
    text-align:center;
    font-size:12px;
    margin-left:0px;
}
.photo.col-xs-8.col-md-10{
    /*padding:0;*/
}
.col-xs-11{
    padding:0;
}
.Avatar .photo dl dt{
    /*width:50px;*/
    /*height: 50px;*/
    border-radius: 50%;
    /*border:1px solid #ddd;*/
    margin-bottom:22px;

}
.Avatar .photo dl dt img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    border:1px solid #ddd;
}
.Avatar .photo dl dd{
    line-height:20px;
    margin-bottom:25px;
    font-size:14px;
}
.adorn-line{
    border-right: 1px solid #ddd;
    height: 100%;
    display: inline-block;
    position: absolute;
}
/*-----------------------action--------------*/
.action{
    /*padding:40px 0;*/
    padding-top:40px;
    padding-bottom:20px;
    border-bottom:1px solid #ddd;
}
.action dl{
    display: inline-block;
    text-align: center;
    margin-right: 40px;
    width: 118px;
    margin-bottom: 15px;
}
/*.action dl dt{
    border:1px solid #ddd;
}*/

.action dl dt img{
    
}
.action dl dd{
    line-height:40px;
    margin-bottom:10px;
}
.action .show-icon .detail-down{
    width:20px;
    height:20px;
    margin-top:7px;
}
.action .picInfo  dl dt .detail-search{
    width:100%;
    background:#000;
    line-height:36px;
    opacity:0.6;
    position:absolute;
    bottom:-36px;
    left:0;
}
.action .picInfo  dl dt .detail-search img{
  width:15px;
  height:15px;
}
.action .picInfo  dl dt {
    width: 72px;
    overflow: hidden;

}

.action .picInfo  dl dt>img{
    width: 72px;
    width: 70px;
    margin: 0 auto;
    margin-top: 19px;
}
.action .picInfo  dl dt .deta-down{
    width: 118px;
    height: 118px;
    border:1px solid #ddd;
    overflow: hidden;
}
.action .picInfo  dl dt .deta-down img{


}
.action .picInfo .data-list dt{
    width:118px;
    height:118px;
    border:1px solid #ddd;
}
.action .picInfo .data-list dd{
    width: 118px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*-------------reply---------------------------*/
.reply{
margin:34px 0;
}
.reply .man_pic{
    text-align:left;
}
.reply .man_pic p{
    margin-top:10px;
    /* margin-left:12px; */
    width: 55px;
}
.reply .man_pic img{
    width:50px;
    height:50px;
    border-radius: 50%;
}
.reply .say{
    margin-bottom:40px;
}
.reply .comment {
    border: 1px solid #ddd;
    min-height: 70px;
    margin-bottom:10px;
    border-radius:5px;
    padding: 0 20px;
/*    width:auto !important;*/
}
.reply .comment .comment-doclist >div {
    width: 75px;
    margin-right: 10px;
}
.reply .say .comment  .dashed {
    border-bottom: 0.1rem dashed #ddd;
    padding: 10px 0;
}
.reply .reply-state{
    margin-bottom:10px;float:left;margin-right:20px;

}
.reply-other{
    display: inline-block;
}
.reply .say .comment .say-content .look-return span > img{
   width: 70px;
}
.reply .say .comment .say-content .look-return{
   width: 80px;
}
/*-----------principal(个人信息)-----------------------------*/
.principal{
    width:30%;
    border:1px solid red;
    margin-right:30px;
    float:left;
}
/*--------------------content_right---------------*/
.content_right_pc{
    width: 260px;
    float:right;
	position:absolute;
    top: 88px;
	right:-260px;
	background:#fff;
	bottom:0;
    z-index:2;
    /*box-shadow: 0px 3px 23px 3px;*/
}
.content_right_bv{
    width: 280px;
    /*width: 200px;*/
    float:right;
    position:fixed;
    top: 0;
    right: -280px;
    background:#fff;
    bottom:0;
    z-index:2;
    /*box-shadow: 0px 3px 23px 3px;*/
}
/*-------bttn(侧边栏样式)-----------------------------------*/
 .btn_box_pc{
    top: 88px;
    width: 43px;
    height: 74px;
    background: #979ba8;
    text-align: center;
    position: absolute;
    right: 0px;
    line-height: 74px;
    z-index:2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height:85px;
}
 .btn_box_pc span{
     font-size: 30px;
     color: #fff;
     line-height:0;
 }
 .btn_box_bv{
    width: 43px;
    height: 74px;
    background: #979ba8;
    text-align: center;
    position: absolute;
    top: 40px;
    right: 0px;
    line-height: 74px;
    z-index:2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height:85px;
}
 .btn_box_bv span{
     font-size: 30px;
     color: #fff;
     line-height:0;
 }
  .hide_btn{
    line-height:60px !important;
 }
 /*-------------------aside--------------------------*/
.aside{
    width:100%;
    /*border:1px solid red;*/
    float:right;
    /*position:absolute;*/
    /*right:0;*/
    /*top:0;*/

    /*display:none;*/
}
.aside .side_title{
    line-height:40px;
    text-align:center;
    background:#ddd;
    font-size:16px;
}

/*----------------state-----------------------*/
.state{
    width: 82%;
    margin-left: 30px;
    margin-top: 20px;
}
.state::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 0;
    width: 2px;
    height: calc(100% - 86px);
    background: #65c17d;
}
.mobile-devices .state::before {
    background: #5c58f9;
}
.state ul{
    width: 100%;
    position: relative;
    left: -18px;
    top: 0;
    margin-left: 19px;
    margin-bottom: 10px;
}
.state ul li{
    list-style:none;
    clear:both;
    margin-bottom:20px;
    position:relative;

}
.state ul li:last-child{
	 margin-bottom:0;
	 
}
.state ul li .step{
    width:34px;
    height:34px;
    background:#65c17d;
    border-radius: 50%;
    display:inline-block;
    position:absolute;
    top:0;
    left:-15px;

}
.mobile-devices .state ul li .step {
    background: #5c58f9;
}

.state ul li .handle{
    line-height: 30px;
    border: 1px solid #ddd;
    width: 82%;
    display:inline-block;
    border-radius: 5px;
    margin-left: 30px;

}
.icon_man{
    display: inline-block;
    float: left;
    margin-top: 3px;
    padding: 0 5px;
    height: 27px;
}
.state ul li .handle p{
    display:inline-block;
    font-size:14px;
}

.icon_man img{
    width:24px;
    height:24px;
    border-radius: 50%;
}
/*------------------footer---------------------*/

.show-icon {
    bottom: -38px;
    width: 118px;
    background: #0a0909;
    opacity: 0.5;
    height:36px;
    text-align:center;
}
.show-icon span {
    margin: 0 7px;
    color: #fff;
    /*line-height:36px;*/
}
.data-list :hover .show-icon{
    display: block;
}

.data-list dd {
    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
    height: 30px;
}
/*问题整改*/
.pro_solve{
    position: absolute;
    top: 40px;
    left: -125px;
    width: 100px;
    height: 79px;
}
.pro_solve img{
    width:100px;
    height:79px;
}
.detail-computer .pull-left{
    width:10%;
    margin-top:10px;
}

/*电子签名*/
.pdf-sign .sign{
    position: fixed;;
    bottom: 60px;
    text-align: center;
    width: 100%;
}
/*手机端*/
html,body{
    height:100%;
    overflow-x:hidden;
    /*overflow-y:scroll;*/
    /*scroll:no;*/
}

.mobile-devices{
    height:100%;
    overflow-x:hidden;
}
.mobile-mark{
    width:100%;
    height:100%;
    background:#000;
    opacity:0.5;
    position:fixed;
    top:0;
    left:0;
    z-index:1;
    display:none;
}
.text-format{
    /*text-indent:28px;*/
    line-height:20px;
}
.mobile-header{
    line-height:40px;
    background:#eceef0;
    text-align:center;
}
/*标识色块*/
.chara{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 6px;
    float: left;
    margin-top:3px;
}
.mobile-devices .play-audio{
    width: 49%;
    height: 40px;
    /*background: #65C17D url(../imgs/play.png) 32px center no-repeat;*/
    background: #5c58f9;
   padding-left: 21px;
   border-radius:5px;
}
.mobile-devices .play-audio img{
    position:absolute;
    margin-left:-8%;
    margin-top:3px;
}
.mobile-devices .look-modle{
   /*background:#65C17D url(../imgs/show_model.png) 32px center no-repeat;*/
    background:#65C17D ;
    padding-left: 21px;
    border-radius:5px;
}
.mobile-devices .look-modle img{
    position:absolute;
    margin-left:-8%;
}
.mobile-main{
    width: 100%;
    padding:0;
    position:relative;
    overflow:hidden;
    padding:0 8px;
}
.F14{
    font-size:16px;
}
.mobile-devices .inline{
    display: inline-block;
    padding: 0 8px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.mobile-devices .inline > span {
    /*vertical-align: middle;*/
}
.mobile-devices .inline > span >img {
    height:50px;
}

.container{
    /*overflow-x:hidden;*/
}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-12{
    padding:0;
}
.mobile-main .mobile-main-principal{
    margin-top:20px;
    border-bottom:1px solid #ddd;
    padding:0px;
}
.mobile-main .mobile-main-principal p{
    margin-bottom:10px;
}
.mobile-main .mobile-main-principal p .oSpan{
    width:65px;
    text-align:left;
    display:inline-block;
}
.mobile-main .mobile-main-principal div:nth-child(1){
    padding:0;
}
.mobile-main .mobile-main-principal .paly-model{
    /*background: #65c17d url(../imgs/show_model.png) no-repeat 22px center;*/
    background: #5c58f9;
    padding-left: 28px;
    border-radius:5px;
}
.mobile-main .mobile-main-principal .paly-model img{
    position: absolute;
    margin-left: -8%;
    margin-top:3px;
}
.mobile-main .mobile-main-principal .paly-mode img{
    position:absolute;
    margin-left:-8%;
    margin-top:3px;
}
/*.mobile-main .mobile-main-principal div:nth-child(2){
    padding:0;
    margin-bottom:20px;
}*/
.mobile-main .mobile-main-principal .paly-audio{
    /*background: #65c17d url(../imgs/play.png) no-repeat 32px center;*/
    background: #65c17d;
    padding-right: 9px;
    border: none;
    padding-left: 35px;
}
.mobile-main .mobile-main-principal .paly-audio img{
    position:absolute;
    margin-left:-8%;
    margin-top:3px;
}
.mobile-main .mobile-main-principal div:nth-child(3){
    padding:0;
    float:right;
    margin-bottom:20px;
}
.mobile-main .mobile-main-principal .float-rig{
    float:right;
}
/*play-audio-Mask*/
.mobile-devices .detail-voice{
   /* text-align:center;*/
    line-height:50px;
    display:none;
}
.mobile-devices .detail-voice .play-audio-mask{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:80px;
    background:#000;
    opacity:0.6;
    z-index: 100;
}
.mobile-devices .detail-voice .palys{
    position:absolute;
    top: 15px;
    left: 8%;
    z-index: 100;
    margin-left: 0;
    margin-top: 0;
}
.mobile-devices .jp-audio .jp-controls {
    padding: 6px 0 0 0!important;
}
.mobile-devices .jp-audio .jp-time-holder {
    position: absolute;
    top: 17px !important;
    right: 67px !important;
    left: 226px !important;
 
}
.mobile-devices .jp-audio .jp-type-single .jp-time-holder {
    left: 110px;
    width: 40px!important;
}
.mobile-devices .jp-duration {
    color: #fff;
}
.mobile-devices .jp-interface {
    background-color: transparent!important
}
.mobile-devices .jp-audio, .jp-audio-stream, .jp-video {
    border: none !important;
    background-color:transparent!important;
}
.mobile-devices .jp-audio .jp-type-single .jp-progress {
    left: 80px!important;
    width: 35%;
    height: 10px;
    border-radius: 10px;
    top: 21px;
    margin-left: -10px;
}
.mobile-devices  .jp-current-time, .jp-duration {
    width: 40px!important;
}
.mobile-devices .audio-close {
    z-index: 108;
    position: absolute;
    right: 0;
    width: 25px;
    color: #fff;
    top: -14px;
}

.line-h22{
    margin-top:20px;
}
.DIY-btn{
    border:none ;
    color:#fff;
}
.DIY-btn.paly-model{
    height: 40px;
    width: 49%;
    background: #65C17D url(../imgs/show_model.png) 23px center no-repeat;
    padding-left: 27px;
}

textarea{
    border:1px solid #ddd !important;
}
/*详情描述*/
.mobile-main .mobile-job-descrition{
    margin-top:15px;
    padding:0px;
}
.mobile-main .mobile-job-descrition .mobile-title{
    margin-bottom:10px !important;
    padding:0;
    margin-top:10px;
    font-size:16px;
}
.mobile-main .mobile-job-descrition .mobile-textarea{
    /*float:right;*/
    padding:0;
    margin-right: 2px;
    border:1px solid #ddd;
    min-height:70px;
    padding:3px 8px;
    font-size:16px;
/*    text-indent:32px;*/
}
/*相关人*/
.mobile-main .mobile-relate, .mobile-main .mobile-photo, .mobile-main .mobile-means{
    padding:20px 0px;
    border-bottom:1px solid #ddd;
}
.mobile-main .mobile-relate .mobile-relate-title{
    padding:0;
}
.mobile-main  .mobile-relate .mobile-relate-con{
    padding:0;
}
.mobile-main  .mobile-relate .mobile-relate-con dl{
    width:50px;
    text-align:center;
    display:inline-block;
    margin-right:16px;
}
.mobile-main  .mobile-relate .mobile-relate-con dl dd{
    margin-top:4px;
    font-size:16px;
}
.mobile-main  .mobile-relate .mobile-relate-con dl dt{
    /*width:45px;*/
    /*height:45px;*/
}
.mobile-main  .mobile-relate .mobile-relate-con dl dt img{
    width:45px;
    height:45px;
    border-radius:50%;
    border:1px solid #ddd;
}
.mobile-main .mobile-relate .show-more-btn {
    position:absolute;
    bottom:10px;
    right:0px;
    width:100%;
    text-align:center;
    color: #909090;
}
/*照片*/
.mobile-main .mobile-photo .photo-title{

}
.mobile-main .mobile-photo .photo-con dl{
    width:70px;
    text-align:center;

}
.mobile-main .mobile-photo .photo-con .detail-sear{
    width:70px;
    height:70px;
    border:1px solid #ddd;
}
.mobile-main .mobile-photo .photo-con .detail-sear>img{
    width:70px;
    height:70px;
}
.mobile-main .mobile-photo .photo-con .detail-sear .detail-search{
    width:100%;
    line-height:20px;
    background:#000;
    opacity:0.6;
    position:absolute;
    bottom:-1px;
    left:0;
    line-height:20px;
    text-align:Center;
    display:none;
}
.mobile-main .mobile-photo .photo-con .detail-sear .detail-search img{
    width:10px;
    height:10px;
}

.mobile-main .mobile-photo .photo-con dl{
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size:16px;
}

.mobile-main .mobile-photo .photo-con dl dd{
    margin-top:10px;
}
/*移动端资料*/

.mobile-devices header{
    height:40px;
    background:#ddd;
    text-align:center;
    position:relative;
}
.mobile-devices header p{
    line-height:40px;
    /*color:#fff;*/
}
.mobile-main .mobile-means .means-con dl{
    width:70px;
    display:inline-block;
    margin-right: 11px;
    font-size:16px;
}
.mobile-main .mobile-means .means-con dl dd{
    width:70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mobile-main .mobile-means .means-con .means-list .means-down{
    width:70px;
    height:70px;
    position:relative;
    overflow:hidden;
    float:left;
    border:1px solid #ddd;
    margin-bottom: 10px;
}
.mobile-main .mobile-means .means-con .means-list .means-down>img{
    width: 56px;
    overflow:hidden;
    margin-left: 6px;
    margin-top: 6px
}
.mobile-main .mobile-means .means-con .means-list .means-down .means-address{
    width: 70px;
    position: absolute;
    bottom: -1px;
    height: 20px;
    line-height:21px;
    text-align: center;
    opacity: 0.6;
    background:#000;
}
.mobile-main .mobile-means .means-con .means-list .means-down .means-address img{
    width: 13px;
    height: 13px;
    line-height: 20px;
    margin-top: -1px;
}
.mobile-main .mobile-means .means-con .means-list dd{

    text-align: center;
}
/*回复*/
.mobile-main .mobile-reply{
    padding:0;
    font-size:16px;
}
.mobile-main .mobile-reply .say-content .dashed {
    border-bottom: 0.1rem dashed #ddd;
    padding: 10px 0;
}
.mobile-main .reply-con .reply-reply .reply-icon{
    text-align:center;
    float:left;
    margin-right:10px;
}
.mobile-main .reply-con .reply-reply .reply-icon p{
    margin-top:10px;
}
.mobile-main .reply-con .reply-reply .reply-icon img{
    width:30px;
    height:30px;
    border-radius:50%;
}
.mobile-main .reply-con .reply-reply .reply-box{
    border:1px solid #ddd;
    min-height:60px;
    border-radius:5px;
    float:right;
}
.mobile-main .reply-con .reply-reply .replys{
    margin-top:20px;
}
.mobile-main .mobile-reply .comment-doclist div{
    width: 65px;
}
/*底部*/
.mobile-footer{
    width:100%;
    height:50px;
    position:fixed;
    bottom:0px;
    left:0px;
    background:#eceef0;
    text-align:center;
}
.mobile-footer button{
    /*line-height:40px;*/
    background:#65c17d;
    height:30px;
    padding:0 10px;
    text-align:center;
    margin-top:10px;

}

/*侧边栏划出效果*/
.mobile-main .content_right {
    bottom:0;
}

.mobile-devices .mobile-phone-turn{
    width: 37px;
    height: 60px;
    line-height: 60px;
    /*background:#65C17D;*/
    background:#5c58f9;
}

.mobile-devices .mobile-phone-turn .glyphicon-menu-left {
    font-size:20px;
    vertical-align: middle;
}
.mobile-devices .mobile-phone-turn .glyphicon-menu-right{
    display:none;
    font-size:20px;
}
/*.mobile-menus*/
.mobile-menus{
    position:absolute;
    right:0;
    top:40px;
}
.state ul li .handle p{
    /*line-height:10px;*/
    font-size:16px;
    /*padding:0 5px;*/
    margin-left:5px;
}
.mobile-devices .menus-time{
    margin-left: 7px;
}
.mobile-devices .menus-name{
    width:100px;
    margin-top:-3px;
    text-align:left;
}
.mobile-devices .menus-head{
    margin-top:3px;
}
.mobile-devices .aside{
    height:100%;
    overflow:auto;
}
