@media screen and (min-width:1080px) and(max-width:1081px) {
	.data_every .data_graph{
		margin:0px !important;
	}
	.data_list .data_every .data_titleInfo{
		min-width:122px !important;
		padding:0 !important;
		margin-top:25% !important;
	}
	.count-echart{
		margin-top:33px;
	}
}

canvas{
	display:block;
}
.right-content{
	position:relative;
}
.table-list{
	position:relative;
}
.comboBox{
	background:#fff;
}
.comboBox .form-inline{
	background:#fff;
}
.comboBox .filter-table form{
	float:left;
	height:auto;
	padding:0 8px;
}
.comboBox .filter-table form .checkbox .manage_title .comboBox_checkType{
	float: left;
	margin-top: 2px;
	margin-right:5px;
}
.comboBox .filter-table .manage_title{
	clear:both;
	margin:0 10px;
}
.comboBox .filter-table .dis{
	margin-right:10px;
}
/*tabs*/
.comboBox .tabs label {
	/*margin-right: 13px;*/
	width: 88px;
	text-align: left;
    padding: 6px;
    background: #fff;
    margin-bottom: 0px;
}
.comboBox .tabs .check-sub1 label {
	margin-right: 10px;
	width: 90px;
	text-align: center;
    padding: 10px;
    height: 36px;
    width: 100px;
    background: #fff;
	margin-right:15px;
	margin-bottom:10px;
}
.priority-check{
	margin-bottom:10px;
}
.comboBox .tabs .priority-check label {
	margin-right: 10px;
	width: 90px;
/*	background: green;*/
	text-align: center;
    padding: 10px;
    height: 36px;
    width: 100px;
}
.coop-countElement{
	font-weight: normal;
	/*float: right;*/
	/*margin-right: 8px;*/
	position:absolute;
	right:8px;
}
.coop-menusSet{
	/*width: 157px;*/
	width: 75%;
	display: inline-block;
	position: absolute;
}
.comboBox .tabs .priority-check input[type=checkbox]:checked + div {
	background: #979ba8;
	color:#fff;
}
.comboBox .tabs .priority-check label > div {
	background: #fff;
    width: 100px;
    height: 36px;
    top: 0px;
    left: 0px;
    line-height: 36px;
    border: 1px solid #979ba8;
	color:#979ba8;
}
.comboBox .tabs .mark-check input[type=checkbox]:checked + div {
	background: #979ba8;
	color:#fff;
}
.comboBox .tabs .check-sub1 .input-check {
	background: #979ba8;
}
.comboBox .tabs .check-sub label input {
	opacity: 0.5;
}
.comboBox .tabs .check-sub input{
	top: 18px;
    left: 77px;
}
.comboBox .marking .marklist {
	margin-left: 138px;
	max-width: 100%;
	margin-top: -34px;
}
.comboBox .filter-table .tabs .checkbox {
    margin-left: 25px;
}
.comboBox .filter-button {
	text-align: center;
	background:#fff;
	padding-bottom:10px;
}
.combo-typeAll{
	float:left;
}
.first-list{
	margin-left:138px;
}
.operation{
	position:relative;
}
.operation-mask{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #fff;
	z-index: 1;
	opacity: 0.4;
	display:none;
}
.comboBox .filter-table label span{
	width: 68px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    padding: 4px 8px;
    vertical-align: middle;
	font-size:12px;
	padding-left:10px;
}
.comboBox .filter-table .filter_title span{
	width: 72px;
    font-weight: bold;
	font-size:12px;
}
.filter-tab .filterOptions span,
.form-inline div span{

}
.comboBox .filter-table .filter-sub label span:hover{
	background: #e0f3e5;
	color:#69c080;
	cursor:pointer;
}

/*data_count(鏁版嵁缁熻椤甸潰)*/

/*table-list*/
.table-list{
	overflow:hidden;
}
/*data_count*/
.data_count{
	display:none;
	position:absolute;
	min-width:800px;
	overflow:hidden;/*----------------------------------*/
}
.data_count .data_Totle{
	width: 100%;
	height: 47px;
	background: #f3f3f3;
	border-bottom:1px solid #ddd;
	/*position: absolute;*/
	/*top: -49px;*/
	/*left: 0;*/
	/*z-index: 1000;*/
	/*display:none;*/
}
.data_count .data_Totle .data_back{
	line-height: 59px;
	padding: 0 10px;
	float: left;
	margin-left:20px;
}
.data_count .data_Totle  h4{
	text-align: center;
	line-height: 47px;
	font-size: 17px;
}
.data_count .data_Totle .btn{
	float:right;
	margin-top:13px;
	margin-right:10px;
}
.data_count .overflow{
	overflow:auto;
	zoom:1;
}
/*data_every*/
.data_every{
	/*width:50%;*/
	/*min-width:547px;*/
	/*float:left;*/
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	text-align:center !important;
}
.data_list.row{
	margin:0 !important;
}

/*统计菜单*/
.data_list .statistics-menus{
	height:auto;
	padding:0;
}
/*统计页面的同级菜单*/
.statistics-menus #count-menus{
	line-height:45px;
}
.statistics-menus #count-menus li{

	text-align:center;
}
.statistics-menus #count-menus li:hover{
	color:#65c17d  ;
	font-size:16px;
}
/*统计图像*/
.data_list .echart-shape{
	/*border: 1px solid #ddd;*/
	padding: 0;
	height: 100%;
	overflow: auto;
	padding:0 10px;
	/*margin-top:13px;*/
}
.count-echart{
	/*vertical-align:middle;*/
	display:inline-block;
	width:100%;
	/*margin-top:56px;*/
}
.count-echart+span{
	display:inline-block;
	vertical-align:middle;
	width:0%;
	height:102%;

}
.data_list{
	width:100%;
	overflow: auto;
	 height:calc(100vh - 110px);
}
.data_list .data_every .data_titleInfo{
	width: 25%;
	height: 70%;
	float: right;
	margin-top: 19px;
	margin-right:12px;

}
 .data_every .data_titleInfo  h4{
	font-weight:normal;
	line-height:40px;
	border:1px solid #ddd;
	 border-bottom:none;
	padding:0 20px;
	 background:#F9F9FA;
}
 .data_every .data_titleInfo ul{
	background:#F9F9FA;
	border:1px solid #ddd;

	 /*margin-right:10px;*/
}
 .data_every .data_titleInfo ul li{
	line-height:32px;
	padding:0 10px;
	 /*cursor: pointer;*/
}
/*.data_every .data_titleInfo ul li>p{width: 100px;}*/
 .data_every .data_titleInfo ul li:last-child{
	/*padding-bottom:20px;*/
}
 .data_every .data_graph{
	 /*width:100%;*/
	/*height:360px;*/
	float:left;
	 /*margin-left:10px;*/
}
/*data_titleInfo锛堝唴鍦堢殑棰滆壊锛�*/
 .data_count .data_every .data_titleInfo.first ul li:nth-of-type(1) span{
	border: 4px solid #5887FD;
}
 .data_count .data_every .data_titleInfo.first ul li:nth-of-type(2) span{
	border: 4px solid #E6D055;
}
 .data_count .data_every .data_titleInfo.first ul li:nth-of-type(3) span{
	border: 4px solid #73CC6C;
}
  .data_count .data_every .data_titleInfo ul li .data_raduis{
	width: 20px;
	height: 20px;
	border: 4px solid #E6D055;
	border-radius: 50%;
	display: block;
	float: left;
	margin-right: 5px;
	margin-top: 12px;
}
.markColor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* display: inline-block; */
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}
/*data_graph*/
/*缁熻椤甸潰鐨勬í绔栫嚎*/
.transverse-line{
	border-bottom:1px solid #ddd;
}
.long-line{
	position:absolute;left:50%;top:0;border-right:1px solid #ddd;height:calc(100%);
}
/*琛ㄦ牸鍒犻櫎鍒�*/
.icon-remove{
	display:none;

}
.cop-delete{
	display:none;
	line-height: 39px !important;
}
/*.draft-box{
	display:none;
}*/
.icon-del-tr{
	width:20px;height:20px;display:block;background:url(../imgs/icon/new-icon.png) no-repeat center 0 ;
	margin:0 auto;
}
.icon-del-tr:hover{
	opacity:0.6;
}
.comboBox .type-check{
	margin-top:0;
}
.main-container .left .btn.btn-default.cop-filter{
	margin-top: 0px;
	padding: 2px 32px 2px 12px;
	height: 30px !important;
	display: inline-block;
	background: none;
	border: 0;
	border-radius: 5px;
	line-height:16px ;
	margin-right:10px;
	padding-right:2px;color:#4c4c4c;
}
.main-container .left .btn.btn-default.cop-filter:hover{
	background:#55ad6c;
}

.main-container .left .btn.btn-default.cop-filter:active{
	background:#4a965e ;
}
.cop-filter:hover{
	background:none !important;
}
.main-container .cop-list{
	margin-right:9px;
}
.filter-tab .coop-searchKey{
	height:30px !important;
	width: auto;
	display: inline-block;
}
.filter-tab .search{
	padding: 10px 10px 5px;
}
.filter-tab .search>img{
	position: absolute;
    width: 19px;
    margin-left: -23px;
    margin-top: 6px;
}
.filter-tab .search>input{
	border-radius: 0px;
}
/*.filter-tab .search .filterOptions{
	di
}*/
/*.filter-active{*/
	/*border: 1px solid #69C080 !important;*/
	/*background: #fff !important;*/
	/*color: #000 !important;*/
/*}*/
.bg-lock{
	background:#eceef0;
}


.bootstrap-select > select{
	left:0;
}
.m-40{
	margin-left:40px !important;
}
.trent-branch{
	width:314px;
	height:413px;
	background: url(../imgs/menus-head.png) no-repeat center top;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-157px;
	margin-top:-202px;
	z-index:103;
	box-shadow: -1px 3px 9px #333;
}
.trent-branch h3{
	display:inline-block;
	float:left;
}
.trent-branch h3+div{
	background:#fff;
}
.trent-branch .branch-title{
	font-size: 18px;
	line-height: 50px;
	text-align: left;
	color: #fff;
	padding: 0 20px;
}
.trent-branch ul{
	width:314px;
	padding:0 20px;
	max-height:363px;
}
.trent-branch ul li{
	color:#333;
	font-size:14px;
	border-bottom:1px solid #ddd !important;
	padding:10px 20px;
	line-height:25px;
	text-align:left;
	list-style:none;
	background:#fff;
}
.trent-branch ul li:last-child{
	border:0;
}
.trent-branch ul li:hover{
	color:#65c17d;
}
.trent-branch-mask{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.4;
	z-index:101;
}
.trent-branch div .close{
	background: url('../imgs/icon/new-icon.png') 8px 7px no-repeat !important;
	padding: -19px;
	width: 34px;
	height: 29px;
	margin-top: 6px;
	float:right;
	display:inline-block;
}

.statistics {
	text-align: left;
    width: 50%;
    font-weight: normal;
    height: 26px;
    margin: 0px;
}

/*更新人*/
.search-Msg{
	background:#fff;
	position: absolute;
	width: 20px;
	height: 28px;
	top: 11px;
	right: 6px;
}
#siderControl,#siderControlT{
	cursor:e-resize;
	width:9px;height:100%;position:absolute;left:250px;
	/*background:red;*/
	top:0;z-index:109;
}
.table-simulate table thead tr th:nth-child(1){
	/*width:8%;*/

}

.colorBox{
    vertical-align: middle;
    width: 44px;
	border-radius: 15px;
	padding: 1px 8px;
    height: 15px;
	line-height:13px;
    display: inline-block;
    /*margin: 0px 5px 0 0;*/
	color: #fff;
	font-weight: 400 !important;
}
.checkStatus{
	/*float:left;*/
	/*width:3%;*/
	width:15px;
	line-height:30px;
	margin-left: -12px !important;
}
.coType{
	border-top:none !important;
}
.info_list{
	position:relative;
}
.noFilter{
	width:100px !important;
	height:30px !important;
	color:#fff;
	margin-top: -22px !important;
}
.noFilter:active,.new-btnFail:active{
	color:#333 !important;
}
.filterOptions{
	line-height:41px;
	height:30px;
}
.filter-criteria{
	width:86px;max-width:100px !important;display:inline-block;line-height:30px;height:30px !important;margin-top:-22px !important;margin-top:10px;
}
.filter-btn{
	display:inline-block;
	/*position:relative;*/
}
.double-arrow{
	position:relative;
	width:15px;
	height:15px;
	display:inline-block;
	float:right;
	margin-top: 15px;
	transform-origin: 10px 9px;
	/*transform: rotate(-183deg);*/
}
.filter-btn .direction-arrow,.filter-btn .single-arrow{
	position: absolute;
	width: 8px;
	height: 8px;
	display: inline-block;
	border-left: 1px solid #4c4c4c;
	border-bottom: 1px solid #4c4c4c;
	-webkit-transform: rotate(315deg) skew(3deg);
	-moz-transform: rotate(315deg) skew(3deg);
	-ms-transform: rotate(315deg) skew(3deg);
	-o-transform: rotate(315deg) skew(3deg);
	transform: rotate(315deg) skew(3deg);

}
.filter-btn .direction-arrow{
	top: 0px;
	right: 0px;
}
.filter-btn .single-arrow{
	top: 5px;
	right: 0px;
}
.multi-choice{
	position:absolute !important;
	/*top:-13px;*/
	left:30px;
}