@media screen and (min-width:1000px){
    .edit-detailC .container{
        /*width: 960px;*/
    }
}
.container{
    padding:0;
}
/*电脑端*/
.detail-computer{
    /*display:none;*/
}
.detail-computer .select-list{
    width:253px;
}
.detail-computer .foot-defult{
    width: 143px;
    height: 34px;
    border-radius: 0;
}
.detail-computer .show-more-btn{
    margin-bottom:20px !important;
}
.show-more-btn span{
    padding-right:10px;
}
.show-more-btn span:not(.bv-more):hover{
    color:#3fce61;
}
header{
    height:60px;
    background:#ddd;
    text-align:center;
    position:relative;
}
.dropdown-menu{
    border: 1px solid rgba(221,221,221,1);
}
.pro_man .coop-theme .dropdown-menu{
    width:100%;
    border: 1px solid rgba(221,221,221,1);
}
.pro_man .bootstrap-select.btn-group[class*="col-"] .dropdown-toggle:hover{
    border:1px solid #65C17D;
}
.edit-blank  .dropdown-menu{
    width:100%;
    width:150px;
}
.edit-blank span+div.bootstrap-select{
    width:200px !important;
}
.edit-blank  .btn-group{
    width:41% !important;
}
.edit-blank .btn-group.bootstrap-select{

}
.edit-blank>span+div{
    /*margin-left:-4px !important;*/
    margin-bottom:20px;
}
.btn-group button{
    background:#fff;
    border:1px solid #ddd;
}
input{
    background:#fff;
}
.edit-blank  .btn-group>button{
    background:#fff;
    border:1px solid #ddd;
}
header p{
    line-height:60px;
    /*color:#fff;*/
}
header .close{
    position:absolute;
    top:10px;
    right:10px;
}
.col-xs-12{
    padding:7px;
}
/*---------------------main--------------------*/
.main{
    position:relative;
    overflow:hidden;
}
/*-------------------main_content---------------*/
.main_content{
    /*width:1200px;*/
    margin:0 auto;
}
/*------------------content_left-----------------*/
.content_left{
    /*width:80%;*/
    /*height:1000px;*/
    /*display:inline-block;*/
    /*background:rebeccapurple;*/
}
.content_left .proTitle{
    width:70px;
    /*height:1000px;*/
    /*border:1px solid #0000ff;*/
    display:inline-block;
}
.content_left .proTitle .message {
    width:70px;
    height:70px;
    background:cornflowerblue;
    text-align:center;
    float:left;
}
.content_left .proTitle .message p{
    width:40px;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    margin: 13px;
    float: left;
}
/*-------------proInfo-------------*/
.proInfo{
    width:100%;
    float:right;
}
 .bootstrap-select.btn-group .dropdown-menu li a .glyphicon-stop + span{
     word-break: normal;
     white-space: nowrap;
     word-wrap: break-word;
     overflow: hidden;
     text-overflow:ellipsis;
     width:120px;
     display:inline-block;
}
 .ng-scope .substr .mark-blank{
     text-align:left;
     width:120px !important;
 }
.proInfo .pro_man{
    /*padding-bottom: 10px;*/
    border-bottom:1px solid #ddd;
    margin-top:36px;
    padding-bottom: 2px;
}
.proInfo .pro_man .coop-theme .theme-title{
    padding:0;
}
.proInfo .pro_man .basicInfo div>span{
    width:64px;
    display:inline-block;
    text-align:left;
}
.proInfo .pro_man .basicInfo div> div{
    outline-color:#65C17D;
}
.proInfo .pro_man .basicInfo div> div button:focus{
    outline-color:#65C17D !important;
}
.proInfo .pro_man .edit-blank div>div button:focus{
    outline-color:#65C17D !important;
}
.proInfo .pro_man .edit-blank button:focus{
    outline-color:#65C17D !important;
}

.proInfo .pro_man .basicInfo div .edit-state{
    float: left;
    margin-top: 3px;
    vertical-align:top !important;
}
.edit-state+div >button{
    outline-style:none !important;
}
.edit-blank  .btn.dropdown-toggle{
    width:200px !important;
}
.proInfo .pro_man .basicInfo  .edit-date{
    padding: 0 12px;
    margin-top: 4px;
    float: left;
}
/*日历*/
.proInfo .pro_man .basicInfo  .edit-calendar{
    margin-top: 2px;
}
.proInfo .pro_man .basicInfo  .input-group-btn{
    padding:0;
    margin-left: -11px;
}
.proInfo .pro_man .basicInfo div .identify{
    width:200px !important;
    height:auto;
}
.proInfo .pro_man .coop-name{
    margin-left:0 !important;
}
.int-style{
    border: 1px solid #ddd;
    /* border-radius: 5px; */
    width: 200px;
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
}
.int-style:hover{
    border:1px solid #65C17D;
}
.proInfo .pro_man> div{
    margin-bottom:23px;
}
.proInfo .pro_man div:nth-child(2){
    /*margin-bottom:23px;*/
}
.proInfo .pro_man div .uib-datepicker{
    margin-bottom:0 !important;
}
.proInfo .pro_man div .uib-datepicker table{
    width:260px !important;
}
/*.proInfo .pro_man .active{*/
    /*margin-top:15px;*/
    /*float: left;*/
/*}*/
.proInfo .pro_man  .btn-default{

}

.proInfo .pro_man .coop-name{
    display: inline-block;
    margin-left: 20px;
}
.proInfo .pro_man div:nth-child(1) .look-model{
    background:url(../imgs/show_model.png) 5px center no-repeat;
    padding-left:30px;
}
.proInfo .pro_man div:nth-child(2) .play-audio{
    background:url(../imgs/play.png) 20px center no-repeat;
    padding-left:45px;
}
.proInfo .pro_man  .look-model:focus, .look-model:hover{
    background:url(../imgs/show_model.png) 5px center no-repeat;
    padding-left:30px;
}
/*play-audio-Mask*/
.detail-voice{
    text-align:center;
    line-height:120px;
    display:none;
}
.detail-voice .play-audio-mask{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:120px;
    background:#000;
    opacity:0.6;
}
.detail-voice .palys{
    position:absolute;
    top: -5%;
    left: 33%;
    margin-left:28px;
    margin-top:28px;
}
/*声音进度条*/
.detail-voice  .detail-voice-dialog{
    position:absolute;
    top: -66px;
    left: 850px;
}
input,button{margin:0;font-size:12px;vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}
a{color:#333;text-decoration:none;}
a:hover{/*color:#000;text-decoration:underline;*/}

/* votebox */
.votebox{width:282px;margin-left:15px;text-align:left;position:relative;z-index:66;}
/* barbox */
.barbox{height:10px;line-height:10px;overflow:hidden;}
.barbox dt a{color:#0048CC;}
.barbox dd{float:left;}
.barbox dd.last{color:#999;}
.barbox dd.barline{width:282px;background:#fff ;border-radius:5px;}
.barbox dd.barline div.charts{height:10px;overflow:hidden;background:#65c17d;border-radius:8px;}
.detail-voice .palys .play-play{
    margin-right:34px;
}
/*声音印度条*/

.row{
    margin:0;
}
.proInfo .pad_clear{
    padding:0;
}
/*.proInfo .active span{*/
    /*display:inline-block;*/
    /*width:80px;*/
    /*text-align:left;*/
/*}*/
.active p{
    display:inline-block;
}
.active .btn{
    margin-top:10px;
}
/*-------------detail(详情描述)--------------*/
.textHeight{
    height:130px;
}
.detail {
    margin-top:36px;
    border-bottom:1px solid #ddd;
}
.detail .blank{
    margin-bottom:20px;
}
.Avatar{
    /*clear:both;*/
    margin-top:40px;
}

.Avatar .photo dl{
    display: inline-block;
    margin-right:33px;
    text-align:center;
    font-size:12px;
    vertical-align: top;
    margin-bottom:15px;
}
.Avatar .photo dl:last-child{
    margin-bottom:20px;
}
.Avatar .photo{
    padding:0;
}
.Avatar .photo dl dt{
    /*width:50px;*/
    /*height: 50px;*/
    /*border-radius: 50%;*/
    /*border:1px solid #ddd;*/
    margin-bottom:15px;
}
.Avatar .photo dl dt img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    border:2px solid #dbdee7;
}
.Avatar .photo dl dd{
    line-height:20px;
    margin-bottom:10px;
    font-size:14px;
}
.Avatar .photo .photoImg  dd:last-child{
    margin-bottom:0 !important;
}
.Avatar .photo .add-chioce ul{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: red;
    margin-right: 38px;
    margin-top: -169px !important;
}
.Avatar .photo .add-chioce .add-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -169px;
}
.edit-raltive-person .modal-dialog{
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-501px;
    margin-top:-351px;
}
.edit-raltive-person .modal-body{
    height:597px !important;
}
.edit-raltive-person .modal-body .right{
    height:523px !important;
}

/*-----------------------action--------------*/
.action{
    /*padding:40px 0;*/
    padding-top:40px;
    padding-bottom:40px;
    border-bottom:1px solid #ddd;
}
.action.pc-means{
    padding-bottom:40 !important;
}
.action dl{
    display: inline-block;
    text-align:center;
    margin-right:32px;
    margin-bottom:15px;
}
.action dl dt{
    border:1px solid #ddd;
}

.action dl dt img{

}
.action dl dd{
    line-height:40px;
    margin-bottom:10px;
}
.action .show-icon .detail-down{
    width:20px;
    height:20px;
    margin-top:7px;
}
.photo .add-related{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #eceef0 !important;
    color: #ddd;
    border-color: #ddd;
    /*margin-top:-200px;*/
    /*position:absolute;*/
}

.action .picInfo  dl dt .detail-search{
    width:100%;
    background:#000;
    line-height:36px;
    opacity:0.6;
    position:absolute;
    bottom:-36px;
    left:0;
    opacity:0.8;
}

.action .picInfo  dl dt .detail-search img{
    width:15px;
    height:15px;
}
.action .picInfo  dl dt {
    width: 118px;
    height:118px;
    overflow: hidden;
}
.action .picInfo  dl dd{
    width: 118px;
    white-space: nowrap;
    /* text-align: center; */
    text-overflow: ellipsis;
    overflow: hidden;
}
.action .picInfo  dl .means-down>img{
    width: 70px;
    margin: 0 auto;
    margin-top: 19px;
}
.action .picInfo  dl dt>img{
   width:118px;
}
.action .picInfo  dl dt .deta-down{
    width: 118px;
    height: 118px;
    border:1px solid #ddd;
}
.action .picInfo  dl dt .deta-down img{
    width: 118px;
    height: 118px;
}
.action .picInfo .data-list dd{
    width: 103px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*-------------reply---------------------------*/
.reply{
    margin:34px 0;
}
.reply .man_pic{
    text-align:left;
}
.reply .man_pic>div{
    text-align:center;
    display:inline-block;
}
.reply .man_pic p{
    margin-top:10px;
    margin-left: 8px;
}
.reply .man_pic img{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:2px solid #dbdee7;
}
.reply .comment {
    border: 1px solid #ddd;
    min-height: 20px;
    border-radius: 0px !important;
}
.reply .say{
    margin-bottom:40px;
}
.reply .col-md-11,.col-xs-10,.col-md-12{
    padding:0;
}
.reply .say .comment .say-content{
    padding-left:10px !important;
}
.comment-doclist .inline .substr{
    max-width:80px;
}
/*.reply .say .comment .say-content div{*/
    /*width: 80px;*/
/*}*/
.reply .say .comment .say-content span img{
    width: 70px;
}
.say-time{
    margin-left: 89px;
    margin-bottom:10px;
    clear:both;
}
.say-pic{
    margin:10px 0;margin-right:20px;
}
.reply .comment {
    min-height: 70px;
    margin-bottom:10px;
    border-radius:5px;
    padding:0 10px;
}
.reply .say .comment .say-content{
    padding-left:10px !important;
}


/*-------------reply---------------------------*/

.reply .say .comment  .dashed {
    border-bottom: 0.1rem dashed #ddd;
    padding: 10px 0;
}
.reply .reply-state{
    margin-bottom:10px;float:left;margin-right:20px;
}
.reply-other{
    display: inline-block;
}
.reply .say .comment .say-content .look-return span > img{
    width: 70px;
}
.reply .say .comment .say-content .look-return{
    width: 80px;
}
/*-----------principal(个人信息)-----------------------------*/
.principal{
    width:30%;
    border:1px solid red;
    margin-right:30px;
    float:left;
}
/*--------------------content_right---------------*/
.content_right{
    min-width: 260px;
    float:right;
    position:absolute;
    top: 40px;
    right:0;
    background:#fff;
    /*bottom:0;*/

}
/*-------bttn(侧边栏样式)-----------------------------------*/
.btn_box{
    width:43px;
    height:74px;
    background:#6495ED;
    text-align:center;
    /*display:inline-block;*/
    position:absolute;
    top: 40px;
    right:16%;
    float:left;
    border-radius: 5px;
    line-height: 74px;

}
.btn_box span{
    font-size: 30px;
    color: #fff;
    line-height:0;
}
/*-------------------aside--------------------------*/
.aside{
    width:100%;
    /*border:1px solid red;*/
    float:right;
    /*position:absolute;*/
    /*right:0;*/
    /*top:0;*/

    /*display:none;*/
}
.aside .side_title{
    line-height:35px;
    text-align:center;
    background:#ddd;
}

/*----------------state-----------------------*/
.state{
    width: 82%;
    margin-left: 30px;
    margin-top: 20px;
}
.state::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 0;
    width: 2px;
    height: 94%;
    background: #6495ed;
}
.state ul{
    width: 100%;
    position: relative;
    left: -16px;
    top: 0;
    margin-left: 19px;

}
.state ul li{
    list-style:none;
    clear:both;
    margin-bottom:20px;
    position:relative;

}
.state ul li:last-child{
    margin-bottom:0;

}
.state ul li .step{
    width:30px;
    height:30px;
    background:#6495ED;
    border-radius: 50%;
    display:inline-block;
    position:absolute;
    top:0;
    left:-15px;

}
.state ul li .handle{
    line-height: 30px;
    border: 1px solid #ddd;
    width: 82%;
    display:inline-block;
    border-radius: 5px;
    margin-left: 30px;

}
.icon_man{
    display:inline-block;
}
.state ul li .handle p{
    display:inline-block;
    font-size:12px;
}

.icon_man img{
    width:24px;
    height:24px;
    border-radius: 50%;
    border: 1px solid #d8dbe5;
}
/*------------------footer---------------------*/
.footer{
    width:100%;
    height:50px;
    text-align:center;
    line-height:50px;
    background:#ECEEF0;
    clear:both;
    position:fixed;
    bottom:0;
    left:0;
}
.footer .btn{
    margin:0 10px;

}
/*.footer .btn-default:focus ,.footer .btn-default:hover, .footer .btn-default:visited{*/
    /*!*background:#65C17D;*!*/
    /*color:#FFF;*/
/*}*/

.footer .btn-default {
    background:#65c17d ;
    color:#fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    border:0;
}
.footer.footer-commom .btn-default .cancel{
    background:#65c17d !important;
    color:#fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    border:0;
}
.btn-success{
    border:0 !important;
}
.btn-success:active{
    background:#449d44 !important;
}
.footer .btn:hover{
    color:#fff !important;
}
.footer .btn-default:active{
    background:#449d44 !important;
}
.show-icon {
    bottom: -38px;
    width: 118px;
    background: #0a0909;
    opacity: 0.5;
    height:36px;
}
.show-icon span {
    margin: 0 7px;
    color: #fff;
    /*line-height:36px;*/
}

.data-list :hover .show-icon{
    display: block;
}

.data-list dd {
    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
    height: 30px;
}
/*问题整改*/
.pro_solve{
    position: absolute;
    top: 40px;
    left: -97px;
    width: 100px;
    height: 79px;
}
.pro_solve img{
    width:100px;
    height:79px;
}
/*手机端*/
html,body{
    /*height:100%;*/
    /*overflow-x:hidden;*/
    /*scroll:no;//*/
}
.F16{
    font-size:16px;
}
.inline>input{
    border:1px solid #ddd;width:100%;padding: 0 8px;
}
.calder{
    height: 34px;
    width: 100%;
    border: 1px solid #ddd;
    min-width: 100px;
    padding: 0 8px;
    line-height: 31px !important;
}
.calder:visited{
    border: 1px solid #5c58f9 !important;
}
.calder:active{
    border-color:#5c58f9;
}
/*.mobile-main .themer.calder-limter{*/
    /*border:1px solid #ddd;*/
/*}*/
/*.mobile-main .themer.calder-limter:visited{*/
    /*border-color:#5c58f9 !important;*/
/*}*/
.edit-detailC .form-control:focus{
    border-color: #65C17D;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(101,193,125,.075),0 0 8px rgba(101,193,125,.6);
    box-shadow: inset 0 1px 1px rgba(101,193,125,.075),0 0 8px rgba(101,193,125,.6);
}


.proInfo .calder:hover{
    border:1px solid #65C17D;
}
    /*标识色块*/
.chara{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 4px;
    float: left;
    font-size:16px;
    margin-top:1px;
}
.pull-left{
    margin-top:0;
}
.line-height30{
    line-height:30px;
}
.proInfo .pro_man .coop-theme input{
    border:1px solid #ddd;padding:0 10px;
}
.proInfo .pro_man .coop-theme input:hover{
    border:1px solid #65C17D;
}
/*协作主题*/
.themer{
    margin-left:0px;
    width:78.5%;
    float: right;

}
.themer>input{

}
.mRight10{
    margin-right:10px !important;
}
.basicInfo .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
    float: none;
    display: inline-block;
    margin-left: 0;
    width: 200px;
}
.pull-right.uib-close{
    background: #979ba8 !important;
    border-radius: 5px;
    border:#979ba8;
}
.pull-right.uib-close:hover{
    background: #777b8a !important;
}
.pull-right.uib-close:active{
    background: #5b6171 !important;
}
.btn-group .btn.btn-danger:hover{
    background:#55ad6c !important;
}
.btn-group .btn.btn-danger:active{
    background:#449d44  !important;
}
/*.uib-datepicker-current:hover{*/
    /*background:#55ad6c !important;*/
/*}*/
.edit-detailC .btn-info{
    background:#65C17D !important;
    border-color:#65C17D !important;
}
.edit-detailC .uib-datepicker-current:active{
    background:#449d44 !important;
}
.edit-detailC .btn-sm.uib-datepicker-current:active{
    background:#449d44 !important;
}
.edit-dis{
    padding: 7px 10px !important;
}
.edit-dis:hover{
    border:1px solid #65C17D;
}
.mobile-main .btn-info{
    background:#5c58f9 !important;
    border-color:#5c58f9 !important;
    color:#fff;
}
.mobile-main .active>.text-info{
    color:#fff !important;
}
.mobile-main .active{
    color:#fff !important;
}
.moblie-main .bootstrap-select .dropdown-toggle .btn-info{
     background:#5c58f9 !important;
     border-color:#5c58f9 !important;
 }
.moblie-main .bootstrap-select .dropdown-toggle .btn-info.active{
    background:#5c58f9 !important;
    border-color:#5c58f9 !important;
}

.mobile-main .btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info{
    background:#5c58f9 !important;
    border-color:#5c58f9 !important;
}
.mobile-main .btn-info.active, .btn-info:active, .open>.dropdown-toggle .text-info{
    background:#5c58f9 !important;
    border:1px solid #5c58f9 !important;
    color:#fff !important;
}
.mobile-main .btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info:focus .mobile-main .text-info{
    color:#fff !important;
}
.mobile-main .bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}
.mobile-main .show-more-btn span:active{
    color:#5c58f9;
}
.mobile-devices{
    height:100%;
    /*overflow-x:hidden;*/
    margin-bottom: 35px;
}
.mobile-main .btn-group .btn.btn-danger{
    background:#5c58f9 !important;
}
.mobile-main .btn-group .btn.btn-danger:active{
    background:#4e4ae3!important;
}
.mobile-main .btn-sm.uib-datepicker-current:not(.activ){
    background:#5c58f9 !important;
}
.mobile-main .btn-sm.uib-datepicker-current:not(.activ):active{
    background:#4e4ae3 !important;
}
.mobile-main .mobile-relate .show-more-btn {
    position:absolute;
    bottom:10px;
    right:0px;
    width:100%;
    text-align:center;
    color: #909090;
}
.mobile-devices input, textarea {
    /*border: 0 ; !* 方法1 *!*/
    -webkit-appearance: none ; /* 方法2 */
}
.mobile-devices input, button{
    font-size:16px;
}
.mobile-devices input:focus{
    border-color:#5c58f9 !important;
    outline-style:none;
}
.mobile-header{
    line-height:40px;
    background:#eceef0;
    text-align:center;
}
.mobile-main{
    width: 100%;
    /*padding:0;*/
    position:relative;
    /*overflow:hidden;*/
    padding: 0 7px;
}
.mobile-main :focus{
    outline:0 !important;
}
.mobile-main .dropdown-toggle:focus {
    outline: 0 !important;
}
.mobile-main .bootstrap-select.btn-group .dropdown-menu li:focus{
    border:1px solid #5c58f9;
}
.mobile-main .photo-list{
    float:left;
    margin-right:7px;
    margin-bottom:20px;

}
.mobile-main .photo-list dt{
    height: 70px;
    width: 70px;
}
.mobile-distance{
    height:34px;
    margin-bottom:10px;
}

.uib-datepicker-current.btn-info{
    margin-right:10px;
}

.form-control{
    padding:0 8px;
    border:1px solid #ddd;
    border-radius:0;
}
.btn-group button[type="button"]{
}

.mobile-main .int-styleMobile{
    border:1px solid #ddd;
}
.mobile-main .sel-style .btn{
    padding:0 !important;
}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8, .col-xs-12{
    padding:0;,
}
.mobile-main .form-control:focus{
    border-color:#5c58f9 !important;
    border-color: #5c58f9 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(92,88,249,.075),0 0 8px rgba(92,88,249,.6) !important;
    box-shadow: inset 0 1px 1px rgba(92,88,249,.075),0 0 8px rgba(92,88,249,.6) !important;
}
.mobile-main .mobile-main-principal{
    margin-top:20px;
    border-bottom:1px solid #ddd;
    padding:0px;
}
.mobile-main .mobile-main-principal .row .col-xs-9 {
    padding: 0;
}
.mobile-main .mobile-main-principal .mobile-uBasicInfo >.userInfo{
    margin-bottom:20px;
}
.mobile-main .mobile-main-principal .float-rig{
    float:right;
}
.mobile-main .uib-datepicker-popup.dropdown-menu {
    width:260px;
    left: -10% !important;
    /*padding:7px;*/
    top: 38px !important;

}
.mobile-main .uib-datepicker-popup.dropdown-menu:focus{
    outline-style:none !important;
}
.mobile-main .uib-datepicker-popup.dropdown-menu table{
    width:260px;
}
.line-h22{
    margin-top:15px;
}
.DIY-btn{
    padding:5px;
    border-radius:5px;
    border:none ;
    color:#fff;
    margin-top:15px;
}
/*.DIY-btn:hover{*/
    /*border:1px solid #65c17d;*/
/*}*/
.DIY-btn.play-audio{
    background:#65c17d;
    width:100px;
}

.mobile-devices .mobile-main .mobile-main-principal .common-height > div{
    height: 30px!important;
    margin-bottom:10px;
    line-height: 30px;
}
.mobile-devices .dropdown-toggle {
    border: 1px solid #ddd;
}
.mobile-devices .dropdown-toggle:focus{
    border:1px solid  #5c58f9 !important;
}
.mobile-devices .bootstrap-select.btn-group[class*="col-"] .dropdown-toggle {
    height: 32px !important;
}
.mobile-devices .bootstrap-select.btn-group .dropdown-menu li a .glyphicon-stop + span{
    word-break: normal;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    width:200px;
    display:inline-block;
}
.mobile-main .mobile-reply .say-content .dashed {
    border-bottom: 0.1rem dashed #ddd;
    padding: 10px 0;
}
.mobile-main .mobile-reply .say-content .dashed >div {
    width: 66px;
}
.mobile-devices .bootstrap-select.btn-group .dropdown-menu {
    max-width: 100%;
}
.mobile-main .mobile-reply .say-content .dashed dl {
    width: 66px;
}
.comment-doclist .read-folder>dt {
    border: 1px solid #ddd;
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.comment-doclist .read-folder>dt>img.thumb {
    width: 60px;
}
.comment-doclist .read-folder>dt>img.file-icon {
    width: 50px;
    position: absolute;
    top: 4px;
    left: 4px;
}
/*重写ui select样式 */
.btn-group.open .dropdown-toggle {
     -webkit-box-shadow: none !important; 
     box-shadow: none !important;
}
.mobile-main .btn-group>.btn.dropdown-toggle{
    background: #fff;
    height:34px;
}
.mobile-main .btn-group>.btn.dropdown-toggle:active{
    border-color:#5c58f9;
}
.mobile-main .btn-group>.btn.dropdown-toggle:focus{
    border-color:#5c58f9 !important;
}
.mobile-main .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
   outline-color:#5c58f9 !important;
}
.dropdown-menu>li>a {
    padding: 7px 12px;
}
/*详情描述*/
.mobile-main .mobile-job-descrition{
    margin-top:15px;
    padding:0px;
}
.mobile-main .mobile-job-descrition .mobile-title{
    margin-top:20px;
    margin-bottom:10px !important;
    padding:0;
}
.mobile-main .mobile-job-descrition .mobile-textarea{
    float:right;
    padding:0;
    /*border:1px solid #ddd;*/
    border:none;
    -webkit-appearance: none !important;
}
table:focus{
    outline-style:none !important;
}
.mobile-main .text-info:active{
    color:#fff !important;
    border:0 !important;
}
.mobile-main .text-info:focus{
    color:#fff !important;
    border:0 !important;
}
.mobile-devices .b-tilte{
   width:65px;float:left
}

.mobile-main .mobile-job-descrition .mobile-textarea textarea{
    font-size:16px;
    border:1px solid #ddd;
    padding:3px 8px;
/*    text-indent: 32px;*/
}
/*相关人*/
.mobile-main .mobile-relate{
    padding:20px 0px;
    border-bottom:1px solid #ddd;
}
.mobile-main .mobile-relate .show-more-btn {
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 100%;
    text-align: center;
    color: #909090;
}
.btn-info.active, .btn-info:active .text-info{
    color: #fff !important;
}
.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info{
    color: #fff;
    background-color: #65C17D;
    border: none !important;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){
    border-radius:5px;
}
.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child){
    border-radius:5px;
}
.btn-info.btn-sm.uib-datepicker-current:not(.activ){
     background:#65C17D;
    border:0;
}
.btn-danger{
    border:0;
    background:#65C17D;
}
.mobile-main .mobile-relate .mobile-relate-title{
    padding:0;
}
.mobile-main .m-title{
    float:left;
    width:54px;
    border:5px;
}
.caret{
    color:#ddd;
}
.dropdown-menu{
    border-radius:0;
}
.main-main .m-con{
    float: right;
    width: 82%;
}
.mobile-main  .mobile-relate .mobile-relate-con{
    padding:0;
}
.mobile-main  .mobile-relate .mobile-relate-con dl{
    width:50px;
    text-align:center;
    display:inline-block;
    margin-right:16px;
    margin-bottom:20px;
}

.mobile-main  .mobile-relate .mobile-relate-con dl img{
    border:1px solid #ddd;
}
.mobile-main  .mobile-relate .mobile-relate-con dl dd{
    margin-top:4px;
    font-size:16px;
}
.mobile-main  .mobile-relate .mobile-relate-con dl dt{
    width:45px;
    height:45px;
}
.mobile-main  .mobile-relate .mobile-relate-con dl dt img{
    width:45px;
    height:45px;
    border-radius:50%;
    border:1px solid #ddd;
}
/*照片*/
.mobile-main .mobile-photo{
    padding-top:20px;
    padding-bottom:0px;
    border-bottom: 1px solid #ddd;
}
.mobile-main .mobile-photo .photo-title{

}
.mobile-main .mobile-photo .photo-con dl{
    width:70px;
    text-align:center;
    font-size:16px;
}
.mobile-main .mobile-photo .photo-con .detail-sear{
    width: 70px;
    height: 70px;
    border: 1px solid #ddd;
    overflow: hidden;
}
.mobile-main .mobile-photo .photo-con .detail-sear>img.thumb{
    max-width: 70px;
}
.mobile-main .mobile-photo .photo-con .detail-sear>img.file-icon{
    width: 56px;
    position: absolute;
    top: 6px;
    left: 6px;
}
.mobile-main .mobile-photo .photo-con .detail-sear .detail-search{
    width:100%;
    line-height:20px;
    background:#000;
    opacity:0.6;
    position:absolute;
    bottom:-1px;
    left:0;
    line-height:20px;
    text-align:Center;
    display:none;
}
.mobile-main .mobile-photo .photo-con .detail-sear .detail-search img{
    width:10px;
    height:10px;
}
.mobile-main .mobile-photo .photo-con dl dd{
    margin-top:10px;
}
.mobile-main .mobile-main-principal .bootstrap-select {
   min-width: 100px;
}
/*移动端资料*/
.mobile-main .mobile-means{
    padding-top:20px;
    border-bottom: 1px solid #ddd;
}
.mobile-main .mobile-means .means-con dl{
    width:70px;
    display:inline-block;
    margin-right: 7px;
    font-size:16px;
}
.mobile-main .mobile-means .means-con dl dd{
    width:70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mobile-main .mobile-means .means-con .means-list .means-down{
    width:70px;
    height:70px;
    border:1px solid #ddd;
    position:relative;
    overflow:hidden;
}
.mobile-main .mobile-means .means-con .means-list .means-down>img{
    width: 56px;
    overflow:hidden;
    margin-left:6px;
    margin-top:6px;
}
.mobile-main .mobile-means .means-con .means-list .means-down .means-address{
    width: 70px;
    position: absolute;
    bottom: -1px;
    height: 20px;
    text-align: center;
    opacity: 0.6;
    background:#000;
}
.mobile-main .mobile-means .means-con .means-list .means-down .means-address img{
    width: 13px;
    height: 13px;
    line-height: 20px;
    margin-top: -1px;
}
.mobile-main .mobile-means .means-con .means-list dd{
    margin-top:10px;
}
/*回复*/
.mobile-main .mobile-reply{
    padding:0;
}
.mobile-main .say-content .dashed {
    border-bottom: 0.1em dashed #ddd;
}
.mobile-main .reply-con .reply-reply .reply-icon{
    text-align:center;
}
.mobile-main .reply-con .reply-reply .reply-icon p{
    margin-top:10px;
}
.mobile-main .reply-con .reply-reply .reply-icon img{
    width:30px;
    height:30px;
    border-radius:50%;
    border:1px solid #ddd;
}
.mobile-main .reply-con .reply-reply .reply-box{
    /*border:1px solid #ddd;*/
    min-height:60px;
    /*border-radius:5px;*/
    float:right;
}
.mobile-main .reply-con .reply-reply .replys{
    margin-top:18px;
}
.mobile-main .reply-con .reply-reply .replys .say-content{
    padding:0 10px;
}
.mobile-main .reply-con .reply-reply .replys .say-content .comment >div > img{
    width: 50px;
}
.mobile-devices .comment .inline{
    display: inline-block;
    padding: 0 8px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.inline1{
    display:inline-block;
}
.mobile-devices .comment .inline > span >img {
    height:50px;
}
/*底部*/
.mobile-footer{
    width:100%;
    height:50px;
    position:fixed;
    bottom:0px;
    left:0px;
    background:#eceef0;
    text-align:center;
}
.mobile-footer button{
    /*line-height:40px;*/
    background:#65c17d;
    height:30px;
    padding:0 10px;
    text-align:center;
    margin-top:10px;

}
.mobile-footer>.mobile-btn-defult{
    width: 143px;
    height: 34px;
    border-radius: 0;
}
/*侧边栏划出效果*/
.mobile-main .content_right {
    /*bottom:0 */!important;
}
.mobile-devices .mobile-phone-turn{
    width:21px;
    height:37px;
    top:80px;

}
.mobile-devices .mobile-phone-turn .glyphicon-menu-left {
    font-size:20px;
    top:-12px;
}
.mobile-devices .mobile-phone-turn .glyphicon-menu-right{
    display:none;
    font-size:20px;
    top:-88px;
}
/*.mobile-menus*/
.mobile-menus{
    position:absolute;
    right:0;
    top:40px;
}
.mobile-devices .foot-deful{
    width: 143px;
    height: 34px;
    border-radius: 0;
}

.list-inline{
    margin-left:0px;
}
.m-4{
    margin-left:-4px;
}
.edit-addRelated{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.Avatar  label{
    font-weight:normal;
    font-size:16px;
}
.basicInfo .btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover{
    background:#55ad6c;
}
/*.addcoo .row .new-type a:nth-child(1){*/
    /*background-color:#74a870 !important;*/
/*}*/
/*.addcoo .row .new-type a:nth-child(2){*/
    /*background-color:#698cdd !important;*/
/*}*/
/*.addcoo .row .new-type a:nth-child(3){*/
    /*background-color:#72b6e5 !important;*/
/*}*/
/*.addcoo .row .new-type a:nth-child(4){*/
    /*background-color:#64b9ae;*/
/*}*/
/*.addcoo .row .new-type a:nth-child(5){*/
    /*background-color:#7bce7f;*/
 /*}*/
/*.addcoo .row .new-type a:nth-child(6){*/
    /*background-color:#aed06d;*/
/*}*/


