*{
    padding:0;
    margin:0;
}
body {
	width:100%;
	height:100%;
    padding:0;
    margin:0;
    position:relative;
   
}
@media screen and (min-width:1080px){

}
/*---------------------------header--------------------------------*/

.trends .header{
    height:70px;
}
.trends .header .nav{
    height:70px;
    background:#6D9CD2;
}
.trends{
	 position:relative;
}
/*----------------------------main---------------------------------*/
.trends .main{
    clear:both;
    background:#ddd;
    min-width:600px;

}
/*---------------------main slide_menu------------------------------*/
.trends  .main .slide_Menu{
    width:25%;
    background:#B1C3D7;
    float:left;
}
/*-------------------------main slide_Content(右边的核心内容)------------------*/
.trends  .main .right_Content{

    width: 75%;
    height:660px;
    background:#F4F2F2;
    clear:both;
}
.trends  .main .right_Content .tools{
    height:50px;
    background:#CEDAE6;
}
.trends .main .right_Content .content{
    width: 98.5%;
    border: 1px solid #C6C6C6;
    margin:10px;
    border-bottom:1px solid #ddd !important;
    /*overflow:hidden;*/
}
/*--------------good_list------------------*/
.trends .good_list{
    width: 99%;
    margin: 18px;
    margin-bottom:0;
}
.trends .good_list dl{
    /*width:32%;*/
    /*height:150px;*/
    width:258px;
    height:174px;
    border:1px solid #DFDFDE;
    float:left;
    margin-right: 14px;
    margin-bottom:24px;
}
/*选中的dl 做出来阴影描边效果*/
/*.trends .good_list dl:hover{*/
    /*box-shadow:2px 3px 1px #ddd;*/
/*}*/
.trends .good_list .dlActive{ box-shadow:2px 1px 1px #ddd;}
.trends .good_list dl dt{
    width:100%;
    line-height:30px;
    background:#DFDFDE;
    /*padding:10px;*/
    /*border-top-left-radius: 3px;*/
    /*border-top-right-radius: 3px;*/
}
/*工程名称长度过长时显示省略号*/
.trends .good_list dl dt .project_name{
    width: 174px;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    cursor:pointer;
    font-size: 16px;
    font-weight:normal;
}
.trends .good_list dl dt img{
    width: 35px;
    /*margin-top: 2px;*/
    float:left;
    margin-top: 2px;
    margin-right: 4px;
    padding:0 5px;
}
.trends .good_list dl dd{
    width:100%;
    height: 116px;
    margin-top: 12px;
    background:#fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.trends .good_list dl dd .box{
    width: 100px;
    height: 100px;
    border:1px solid #DFDFDE;
    margin:10px;
    float:left;
    margin-right:30px;
    overflow:hidden;
    cursor:pointer;
}
/*===========================================================*/
/*.trends .good_list dl dd .box img{*/
    /*width: 100px;*/
    /*height: 100px;*/
/*}*/
.trends .good_list dl dd p{
    line-height: 40px;

}
.font-26{
    color:#808080;
    font-size:26px;
}
.trends .good_list dl dd p b{
    font-weight: normal;
    color:#65c17d;
    font-size:26px;
}
/*project_name(项目名称设置)*/
.project_name{
    width:200px;
    white-space: normal;
    overflow:hidden;
    text-overflow:ellipsis;
}
.totle_count{
    font-size:28px;
    color:#808080;
}
/*资料更新*/
.updata_info{
    text-align:right;
    font-size:14px;
}
.trends .data_update{
    float:right;
    margin-right:15px;
    margin-top:10px;
}

/*--------------------商品列表页面-------------------------*/
/*-----------------------pro_list-------------------------*/
.back{
    color:#69C080;
    font-size: 23px !important;
    float: left;
    margin-top: 15px;
    margin-right: 10px;
}
.trends .pro_list{
    overflow:auto;
    min-width:820px;
    display:none;
    /*background:#F4F2F2;*/
}

.trends .pro_list .list{
    height:auto;
}
.trends .pro_list .list li{
    list-style:none;
    margin-top:10px;

    background:#fff;
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
    border-bottom:1px solid #e9ecf4;

}
/*------------icon_img(工程师头像部分)--------------*/
.trends .pro_list .list li .icon_img{
    display:inline-block;
    float:left;
    padding:10px;
    margin-bottom:15px;
    width:40px;
    height: 100%;
    width: 70px;
    /*margin-right: 20px;*/
}
.trends .pro_list .list li .icon_img img{
    /*float:left;*/

    display:block;
    width:40px;
    height:40px;
    border-radius: 50%;

}
.bx-controls{
    /*margin-left:68px;*/
}
/*-------------------------*/
.trends .pro_list .list li p{
    width:100%;
    display:inline-block;
    /*margin-top:10px;*/
    margin-bottom:26px;
    -moz-float:none;
    /*float:Left;*/
    margin-top:16px;
}
.trends .pro_list .list li p{
   display:inline-block;
}
.trends .pro_list .list li b{
    float:right;
    font-weight:normal;
}
.trents-list{
    width:90%;
}
.trends .pro_list .list li .img_list{
    width:80px;
    /*height:80px;*/
    display:inline-block;
    margin-bottom: 30px;
    text-align: center;
    margin-right:20px;
    /*border:1px solid #bbbcbf;*/
    overflow:hidden;

}
.trends .pro_list .list li .tools_bar{
    width:80px;
    height:80px;
    position:relative;
    border:1px solid #ddd;
    overflow:hidden;
}
.trends .pro_list .list li .tools_bar>img{
    /*width:54px;*/
    height:65px;
    margin-left:3px;
}

.tools_bar{
    vertical-align: middle;
    position:relative;
}
.tools_bar em{
    width:0%;
    height:100%;
    display:inline-block;
    vertical-align: middle;
}
.tools_bar .bar img {
    width:17px;
    height:17px;
    /*margin-left:10px;*/
}
.trends .pro_list .list li .tools_bar .bar{
    width:80px;
    height:28px;
    background:#bbbcbf;
    position:absolute;
    bottom:-28px;
    left:0;
    text-align:center
}
/*-----------图片查看器遮罩--------------*/
.mask{
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index: 10;
    background:#000;
    opacity:0.5;
    position:absolute;
    display:none;
}
/*浏览记录*/
.pro_Time_surfed{
    position:relative;
    text-align:center;
    line-height:30px;
    height:30px;
    padding:10px 0;
}
.pro_Time_surfed .pro_line{
    width: 98.8%;
    margin-left:10px;
    margin-right:30px;
    border:1px solid #ddd;
}
.pro_Time_surfed h5{
    background:#F4F2F2;
    line-height:20px;
    width:200px;
    position:absolute;
    left:45%;
    top:-4%;
}
/*-----------关闭按钮------------*/

/*返回按钮*/
.manage_back{
    display:inline-block;
    padding:0 10px;
}
.manage_back b{
    font-weight:normal;
    color:#68c280;
    margin-top: 1px;
    float: right;
    margin-left: 2px;
}

.prolist_left{
    display:none;
}
/*pro_mask(下载遮罩)*/
.pro_mask{
    width:80px;
    height:80px;
    background:#c2c3c5;
    position:absolute;
    top:80px;
    left:0;
    opacity:0.6;

}
/*滚动条效果*/
.mCSB_dragger_bar{
   background:#ddd !important;
}
/*.mCSB_draggerContainer{*/
    /*margin-right:20px;*/
/*}*/
.noSearch{
    height:calc(100vh - 124px);
    /*display:none;*/
    text-align:center;
    color:#ddd;
}

.noSearch  .noProject{
   width:220px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -110px;
    margin-top: -135px;
}
.noSearch  .noProject dt{
    margin-bottom:20px;
    width: 220px;
    height: 220px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-bottom:20px;
    display:inline-block;
}
.noSearch  .noProject dt span{
    width:0%;
    height:100%;
    vertical-align: middle;
    display:inline-block;
}
.noSearch  .noProject img{
    width:200px;
    vertical-align: middle;
    padding-left:4px;
}
.noSearch  .noProject dd{
    color:#ccc;
    font-size:22px;
    font-family:"Microsoft yahei"
}