/* 滚动条美化 */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, .2);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(221, 221, 221);
}
::-webkit-scrollbar-thumb:window-inactive {
  background-color: rgba(0, 0, 0, .2);
}
/* 滚动条美化end */