<style>
    .preview-cooperation-modal {
        z-index: 1052;
    }
    .preview-cooperation-modal .Bimco-dreamArea{height:496px;}
    .inner header{
        margin:0 !important;
    }
</style>
<div class="pdf-sign">
    <div class="inner">
        <header>
            <div class="header-operation clearfix">
                <div class="pull-left detail-return" style="line-height:42px;padding-left: 20px;">
                    <a style="text-decoration: none;">预览</a>
                </div>
                <div class="opreation clearfix">
                    <span class="close-window" ng-click="cancelPreview('close')"></span>
                </div>
            </div>
        </header>
        <div class="Bimco-dreamArea"></div>
        <!-- 默认预览 -->
        <div ng-show="flag.isGeneral" class="absol" style="top:44px;width:100%;padding-bottom:26px;background:#4a4a4a"><!---->
            <div style="width:100%;" ng-show="!isEdit">
                <iframe ng-src="{{previewUrl}}" style="height:calc(100vh - 300px);width:100%;" scrolling="no"
                        frameborder="0"></iframe>
            </div>
        </div>
         <!--编辑部分 -->
        <div class="doc-edit" ng-show="flag.isPdfsign">
            <div class="text-center footer footer-commom">
                <button class="btn btn-default foot-btn" type="button" ng-click="CommentSign()" ng-disabled="!isClick"><!---->
                    编辑
                </button>
                <button class="btn btn-default foot-btn" type="button" ng-click="saveOffice()">保存</button>
                <button class="btn btn-default new-btnFail" type="button" ng-click="cancelPreview()">取消</button>
                <!-- <button class="btn btn-default new-btnFail" type="button" onclick="transCreateCooperation()">取消</button> -->
            </div>
        </div>
    </div>
</div>