<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
   	<dubbo:reference id="SystemConfigApiService" interface="com.lubansoft.pds.bus.pdsadmin.common.api.SystemConfigApiService"/>
    <dubbo:reference id="OrgApiService" interface="com.lubansoft.pds.bus.pdsadmin.orgnization.api.OrgApiService"/>  
  	<dubbo:reference id="PictureManagementApiService" interface="com.lubansoft.pds.bus.be.picture.api.PictureManagementApiService"/>
  	<dubbo:reference id="UserPortraitPicApiService" interface="com.lubansoft.pds.bus.pdsadmin.userPortrait.api.UserPortraitPicApiService"/>
  	<dubbo:reference id="CompnameSearchApiService" interface="com.lubansoft.pds.bus.search.compnamesearch.api.CompnameSearchApiService"/>
  	<dubbo:reference id="ProjectInfoApiService" interface="com.lubansoft.pds.bus.pdsadmin.project.api.ProjectInfoApiService"/>
  	<dubbo:reference id="DocApiService" interface="com.lubansoft.pds.bus.be.doc.api.DocApiService"/>
	<dubbo:reference id="BWProjectApiService" interface="com.lubansoft.pds.bus.bw.project.api.BWProjectApiService"/>	
	<dubbo:reference id="BEProjectApiService" interface="com.lubansoft.pds.bus.be.project.api.BEProjectApiService"/>
	<dubbo:reference id="LBViewportApiService" interface="com.lubansoft.pds.bus.mcbackend.viewport.api.LBViewportApiService"/>
	<dubbo:reference id="ProjectCommFileApiService" interface="com.lubansoft.pds.bus.mcbackend.project.api.ProjectCommFileApiService"/>
	<dubbo:reference id="ProjectApiService" interface="com.lubansoft.pds.bus.bv.projectinfo.api.ProjectApiService"/>
	<dubbo:reference id="LubanDocApiService" interface="com.lubansoft.pds.bus.pdsdoc.doc.api.LubanDocApiService"/>
</beans>