<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">   
	
	<dubbo:service provider="default_provider" interface="com.lubansoft.pds.bus.bimco.template.api.BimCotemplateApiService" ref="BimCotemplateApiService" />
    <dubbo:service provider="default_provider" interface="com.lubansoft.pds.bus.bimco.sign.api.CoSignPictrueApiService" ref="CoSignPictrueApiService" />    
    <dubbo:service provider="default_provider" interface="com.lubansoft.pds.bus.bimco.token.api.CoUserTokenApiService" ref="CoUserTokenApiService" />
    <dubbo:service provider="default_provider" interface="com.lubansoft.pds.bus.bimco.co.api.CollaborationApiService" ref="CollaborationApiService" />
    
</beans>