<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">   
	<!-- 提供方应用名称信息，这个相当于起一个名字 -->
	<dubbo:application name="bimco_provider"/>
	<!-- 用dubbo协议在20880端口暴露服务 -->  
    <dubbo:protocol name="dubbo" port="20890" host="${dubbo.provider.host}"/>
    
	
	<!-- 使用zookeeper注册中心暴露服务地址 -->  
	<dubbo:registry id="dubbo_registry" address="${dubbo.registry.address}"/>
	
	<!-- 服务器配置 -->
	<dubbo:provider id="default_provider" registry="dubbo_registry" timeout="60000"/>
	<!-- 客户端配置 -->
	<dubbo:consumer registry="dubbo_registry" check="false" timeout="60000"/>
</beans>