<style>
	.content-container {
	     height:calc(100vh - 150px);
	 }
	.content-scroll-container {
	    overflow:auto;
	}

    .box img{max-width:100px;height:auto;width:expression(this.width>100?"100px":this.width);}
</style>
<header ng-include="'template/core/header.html'"></header>
<div class="main-container rela" scroll-directive >
    <div class="sidebar absol "  ng-include="'template/core/sidebar-trends.html'"  ></div>
    <div class="right-content" >
        <!-- <breadcrumbs display-name="data.displayName" front-msg="当前页面"></breadcrumbs> -->
        <div class="container-fluid rela">
            <div class="operation clearfix goodlist_left">
                <div class="clearfix goods_toolsBar">
                    <div class="left good_L">
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="搜索工程" ng-keyUp = "previewList($event)">
                        <div class="good_search001" ng-click="getDeptId()"><img src="imgs/seache.png" alt=""></div>
                    </div>
                </div>
                <strong></strong>
            </div>
        </div>

        <div class="addcoo absol clearfix" ng-show="openSignal">
            <div class="row"><span class="glyphicon glyphicon-remove align-right block close"
                                   ng-click="closeNew()"></span></div>
            <div class="row">
                <div class="col-md-6"><a ng-click="trans()">问题整改</a></div>
                <div class="col-md-6"><a href="">阶段性报告</a></div>
            </div>
        </div>
        <div class="trends clearfix" >
            <div class="table-list rela clearfix">
            <div class="goods_pro clearfix">

                <div class="right_Content clearfix">
                    <!--<div class="tools"></div>-->
                    <div class="content clearfix" style="border-bottom:1px solid #ddd;">
                        <!--商品展示-->
                        <div class="good_list clearfix"  id="content-a2" style="height:calc(100vh - 143px);overflow:auto;" light-height >
                            <!--商品1F-->
                            <dl box-shadow ng-repeat="trentsLiInfo in trentsCount track by $index" ng-click="updateNew($event)">
                                <dt>
                                    <img src="imgs/icon/1.png" alt="" ng-if="trentsLiInfo.projectType == '土建预算'">
                                    <img src="imgs/icon/2.png" alt="" ng-if="trentsLiInfo.projectType == '钢筋预算'">
                                    <img src="imgs/icon/3.png" alt="" ng-if="trentsLiInfo.projectType == '安装预算'">
                                    <img src="imgs/icon/4.png" alt="" ng-if="trentsLiInfo.projectType == 'Revit'">
                                    <img src="imgs/icon/5.png" alt="" ng-if="trentsLiInfo.projectType == 'Tekla'">
                                <p class="project_name" title="{{trentsLiInfo.projectName}}">{{trentsLiInfo.projectName}}</p>
                                </dt>
                                <dd>
                                    <div  class="box" onerror="this.onerror='';this.src='./imgs/icon-projectDefult.png'" ng-click = "turnPage(trentsLiInfo.ppid)" style="background:url({{trentsLiInfo.projectPicture}}) no-repeat center;background-size:120px">
                                        <img ng-if="!trentsLiInfo.projectPicture" src="./imgs/icon/icon-projectDefult.png" alt="">
                                    </div>
                                    <div class=" data_update">
                                        <p class="updata_info" ng-click="updataBook(trentsLiInfo.adds)">资料更新</p>
                                        <p class="totle_count"><b class="updateNub">{{trentsLiInfo.adds}}</b>/{{trentsLiInfo.totals}}</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <!--商品列表展示页面-->
                        <!--工具栏-->
                        <div class="operation clearfix prolist_left">
                            <div class="left proLeft">
                                <div class="manage_back" ng-click="listBack()">
                                    <span><img src="imgs/call_back.png" alt=""></span>
                                    <b>返回</b>
                                </div>
                                <select class="selectpicker btn_white" ng-model="docType" id="doc_type" ng-change="changeAttr()">
                                    <option value="1">全部类型</option>
                                    <option value="2">文档</option>
                                    <option value="4">图纸</option>
                                    <option value="8">图片</option>
                                    <option value="16">视频</option>
                                    <option value="64">压缩文件</option>
                                    <option value="128">其他</option>
                                </select>
                                <!--<select class="selectpicker" >-->
                                    <!--<option value="0">全部</option>-->
                                    <!--<option value="1">我负责</option>-->
                                    <!--<option value="2">我签署</option>-->
                                    <!--<option value="3">我相关</option>-->
                                    <!--<option value="4">已结束</option>-->
                                <!--</select>-->
                                    <input type="text" class="form-control pro_inp" id="exampleInputName3" placeholder="搜索联系人、资料" ng-keyup="keyUp($event)">
                                    <div class="good_search002" ng-click="manageSeacher(trentsLiInfo.ppid)"><img src="imgs/seache.png" alt=""></div>
                                </div>
                            <!--<div class="right ">-->
                                <!--<button type="button" class="btn  btn_new" ng-click="openNew()">新建协作</button>-->
                            <!--</div>-->
                        </div>
                        <!--搜索无工程-->
                        <div class="noSearch" ng-show="isNoSearchValue">
                            <dl class="noProject">
                                <dt>
                                    <img src="imgs/noBook.png" alt="">
                                    <span></span>
                                </dt>
                                <dd>当前无资料</dd>
                            </dl>
                        </div>
                        <!--搜索无结果-->
                        <div class="noSearch" ng-show="isNoSearchValueReject">
                            <dl class="noProject">
                                <dt>
                                    <img src="imgs/noReject.png" alt="">
                                    <span></span>
                                </dt>
                                <dd>当前无结果</dd>
                            </dl>
                        </div>

                         <div class="pro_list clearfix content-container content-scroll-container" infinite-scroll-parent="true" >
                            <ul class="list" infinite-scroll-container='".content-scroll-container"'  infinite-scroll="addMoreData()" infinite-scroll-distance="0" infinite-scroll-disabled="scrollend" >
                                <!--<p>非叫我叫饿哦无人家玩手机费，我如今我让我看人家我绕我日晚就让我两人</p>-->
                                <li ng-repeat="getTrents in trentsListInfo track by $index" class="clearfix" style="min-width:820px;">
                                    <!--icon_img-->
                                    <div class="icon_img col-xs-1">
                                        <img  onerror="this.onerror='';this.src='./imgs/icon/defalut.png'"  ng-src="{{getTrents.avatar}}" ng-if="getTrents.avatar"/>
                                        <img src="./imgs/icon/defalut.png" ng-if="getTrents.avatar==null" alt="">
                                    </div>
                                    <div class="trents-list col-xs-11" >
                                        <p><span class="menName">{{getTrents.username}}</span>&nbsp;&nbsp;上传了资料<b>{{getTrents.updateTime}}</b></p>
                                        <div class="bx-controls" >
                                            <div class="img_list actives" ng-repeat = "items in getTrents.docs">
                                                <div ng-if="items.thumbnailUrl" class="tools_bar" style="background:url({{items.thumbnailUrl}}) no-repeat;background-size:cover">
                                                    <img onerror="this.onerror='';this.src='./imgs/pro-icon/icon-jpg.png'" style="margin-top:7px;" ng-src="{{items.thumbnailUrl}}" alt="" style="margin-left:0;" ng-click="transformBig(items.uuid,items.docName,items.isPreview)">
                                                    <div class="bar" >
                                                        <!--<img src="imgs/icon_down.png" class="pro-down" ng-click="proDown()" />--><!--class="pro-down"-->
                                                        <a ng-href="{{items.downlodUrl}}?name={{items.docName}}" download="123"><img src="imgs/icon_down.png"/></a>
                                                        <!--<img src="imgs/icon_add.png"  class="pro-address"/>-->
                                                        <em></em>
                                                    </div>
                                                </div>
                                                <div ng-if="items.thumbnailUuid==''||items.thumbnailUuid==null" class="tools_bar" >
                                                    <!--文件类型-->
                                                    <img src="imgs/pro-icon/icon-txt.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='txt'||items.fileType=='TXT'">
                                                    <img src="imgs/pro-icon/icon-doc.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='doc'||items.fileType=='DOC'">
                                                    <img src="imgs/pro-icon/icon-pdf.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='pdf'||items.fileType=='PDF'">
                                                    <img src="imgs/pro-icon/icon-xls.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='xls'">
                                                    <img src="imgs/pro-icon/icon-ppt.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='ppt'||items.fileType=='PPT'">
                                                    <img src="imgs/pro-icon/icon-docx.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='docx'||items.fileType=='DOCX'">
                                                    <img src="imgs/pro-icon/icon-xlsx.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='xlsx'||items.fileType=='XLSX'">
                                                    <img src="imgs/pro-icon/icon-xls.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='XLS'" >
                                                    <img src="imgs/pro-icon/icon-xls.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='JPEG'" >
                                                    <img src="imgs/pro-icon/icon-pptx.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='pptx'||items.fileType=='PPTX'">
                                                    <!--图片类型-->
                                                    <img src="imgs/pro-icon/icon-jpeg.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='jpeg'">
                                                    <img src="imgs/pro-icon/icon-bmp.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='bmp'">
                                                    <img src="imgs/pro-icon/icon-png.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='PNG'">
                                                    <img src="imgs/pro-icon/icon-gif.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='GIF'">
                                                    <img src="imgs/pro-icon/icon-jpg.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='JPG'">
                                                    <img src="imgs/pro-icon/icon-png.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='png'">
                                                    <img src="imgs/pro-icon/icon-jpg.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='jpg'">
                                                    <img src="imgs/pro-icon/icon-gif.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='gif'">

                                                    <img src="imgs/pro-icon/icon-dwg.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='dwg'">
                                                    <img src="imgs/pro-icon/icon-rar.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='rar'">
                                                    <img src="imgs/pro-icon/icon-zip.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='zip'">

                                                    <!--视频-->
                                                    <img src="imgs/pro-icon/icon-avi.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='avi'">
                                                    <img src="imgs/pro-icon/icon-mp4.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='mp4'">
                                                    <img src="imgs/pro-icon/icon-mov.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='mov'">
                                                    <img src="imgs/pro-icon/icon-flv.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='flv'">
                                                    <img src="imgs/pro-icon/icon-swf.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='swf'">
                                                    <img src="imgs/pro-icon/icon-wmv.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='wmv'">
                                                    <img src="imgs/pro-icon/icon-mpeg.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='mpeg'">
                                                    <img src="imgs/pro-icon/icon-mpg.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='mpg'">
                                                    <!--音频-->
                                                    <img src="imgs/pro-icon/icon-mp3.png" class="bookSection" ng-click="transformBig(items.uuid,items.docName,items.isPreview)" ng-if="items.fileType=='mp3'">


                                                    <!--显示其他页面-->
                                                    <img src="imgs/pro-icon/icon-other.png" alt="" ng-if="items.fileType=='other'" ng-click="transformBig(items.uuid,items.docName,items.isPreview)">
                                                    <em></em>
                                                    <div class="bar" >
                                                        <!--<img src="imgs/icon_down.png" class="pro-down" ng-click="proDown()" />--><!--class="pro-down"-->
                                                        <a ng-href="{{items.downlodUrl}}?name={{items.docName}}" download="123"><img src="imgs/icon_down.png"/></a>
                                                        <!--<img src="imgs/icon_add.png"  class="pro-address"/>-->
                                                        <em></em>
                                                    </div>
                                                    <!--<div class="pro_mask"></div>-->
                                                </div>
                                                <i  class="substr margin20 menName" title="{{items.docName}}" style="text-align:left;" >&nbsp;&nbsp;{{items.docName}}</i>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

</div>
<input type="hidden" value="" ng-click="transCooperation()">

<!--图片选择器-->
<!--<div class="top_slide_wrap" >-->
    <!--<div class="bx-wrapper" >-->
        <!--<div class="showImg">-->
            <!--<ul class="slide_box">-->
                <!--<li>-->
                    <!--<a href="#"><img src="{{previewImg}}" alt="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="#"><img src="imgs/show/0/2.jpg" alt=""></a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="#"><img src="imgs/show/0/3.jpg" alt=""></a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="#"><img src="imgs/show/0/4.jpg" alt=""></a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--</ul>-->
            <!--<span class="turnDown"><img src="imgs/close.png" style="width:30px;height:30px;" ng-click = "closeSelector()"></span>-->
            <!--<a class="options pre" href="javascript:;" data-drec="pre"><i class="pre glyphicon glyphicon-chevron-left"></i></a>-->
            <!--<a class="options next" href="javascript:;" data-drex="next"><i class="next glyphicon glyphicon-chevron-right"></i></a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="mask"></div>-->
<!--<script src="js/goods.js"></script>-->
<script type="text/javascript">

    $('.selectpicker').selectpicker({
        style: 'btn-default',
        size: 'auto'

    });
    
    $(function(){
        $(".good_list").on("click",".good_list>dl",function(){
            alert(123)
            $(".good_list").hide();
            $(".pro_list").show();
        })
    })

</script>
<script>
    //资料动态界面调出新建
    function transCreateCooperation () {
        document.location= '#/cooperation?newcoop=frombe';
    }
</script>








