<header ng-include="'template/core/header.html'"></header>

<div class="main-container rela" >
    <div class="sidebar absol "  ng-include="'template/core/sidebar-trends.html'" ></div>
    <div class="right-content" >
        <!-- <breadcrumbs display-name="data.displayName" front-msg="当前页面"></breadcrumbs> -->
        <div class="container-fluid rela">
            <div class="operation clearfix">
                <div class="left">
                    <div class="manage_back" ng-click="listBack()">
                        <span class="fa fa-reply back"></span>
                        <b>返回</b>
                    </div>
                    <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">筛选</button>

                    <select class="selectpicker" ng-model="doc_type" id="doc_type">
                        <option value="0">Mustard</option>
                        <option value="1">Ketchup</option>
                        <option value="2">Relish</option>
                    </select>
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                    <button type="button" class="btn btn-default" ng-click="manageSeacher(trentsLiInfo.ppid)">搜索</button>
                </div>
                <div class="right">
                    <button type="button" class="btn btn-default">统计</button>
                    <button type="button" class="btn btn-default" ng-click="openNew()">新建协作</button>
                </div>
            </div>
        </div>
        <!--筛选框-->
        <div class="comboBox">
            <div class="row absol filter" ng-show="isCollapsed">
                <div class="filter-table">
                    <form class="form-inline">
                        <div class="tabs">
                            <div class="checkbox">
                                <label class="manage_title">
                                    <input type="checkbox" class="comboBox_checkType">协作类型
                                </label>
                            </div>
                            <div class="checkbox dis">
                                <div class="rela">问题整改</div>
                                <label class="absol">
                                    <input type="checkbox" id="ComboBox_reform">
                                </label>
                            </div>
                            <div class="checkbox dis">
                                <div class="rela">阶段报告</div>
                                <label class="absol">
                                    <input type="checkbox">
                                </label>
                            </div>
                            <div class="checkbox dis">
                                <div class="checkbox">方案报审</div>
                                <label class="absol">
                                    <input type="checkbox">
                                </label>
                            </div>
                            <div class="checkbox dis">
                                <div class="rela">方案会签</div>
                                <label class="absol">
                                    <input type="checkbox">
                                </label>
                            </div>
                            <div class="checkbox dis">
                                <div class="rela">协作类型</div>
                                <label class="absol">
                                    <input type="checkbox">
                                </label>
                            </div>
                        </div>
                        <!--most(优先级)-->
                        <div class="tabs">
                            <div class="checkbox">
                                <label class="manage_title">
                                    <input type="checkbox" class="comboBox_checkType">协作类型
                                </label>
                            </div>
                            <div class="most_bj">
                                <div class="rela"><span>I</span></div>
                            </div>
                            <div class="most_bj">
                                <div class="rela"><span>II</span></div>
                            </div>
                            <div class="most_bj active">
                                <div class="rela"><span>III</span></div>
                            </div>
                        </div>
                        <!--marking标识-->
                        <div class="marking">
                            <div class="tabs">
                                <div class="checkbox">
                                    <label class="manage_title">
                                        <input type="checkbox" class="comboBox_checkType">协作类型
                                    </label>
                                </div>
                                <div class="most_bj">
                                    <div class="rela"><span>质量安全</span></div>
                                </div>
                                <div class="most_bj">
                                    <div class="rela"><span>质量安全</span></div>
                                </div>
                                <div class="most_bj">
                                    <div class="rela"><span>质量安全</span></div>
                                </div>
                                <div class="most_bj">
                                    <div class="rela"><span>质量安全</span></div>
                                </div>
                                <div class="most_bj">
                                    <div class="rela"><span>质量安全</span></div>
                                </div>
                                <div class="most_bj">
                                    <div class="rela"><span>质量安全</span></div>
                                </div>
                            </div>
                            <!--2F-->
                            <div class="tabs mark_mar">
                                <div class="most_bj">
                                    <div class="rela"><span>质量安全</span></div>
                                </div>
                                <div class="most_bj">
                                    <div class="rela"><span>质量安全</span></div>
                                </div>
                                <div class="most_bj">
                                    <div class="rela"><span>质量安全</span></div>
                                </div>
                                <div class="most_bj">
                                    <div class="rela"><span>质量安全</span></div>
                                </div>
                                <div class="most_bj">
                                    <div class="rela"><span>质量安全</span></div>
                                </div>
                                <div class="most_bj">
                                    <div class="rela"><span>质量安全</span></div>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>

        <div class="addcoo absol clearfix" ng-show="openSignal">
            <div class="row"><span class="glyphicon glyphicon-remove align-right block close"
                                   ng-click="closeNew()"></span></div>
            <div class="row">
                <div class="col-md-6"><a ng-click="trans()">问题整改</a></div>
                <div class="col-md-6"><a href="">阶段性报告</a></div>
            </div>
        </div>
        <div class="trends clearfix" >
            <div class="table-list rela clearfix">
            <div class="goods_pro clearfix">

                <div class="right_Content clearfix">
                    <!--<div class="tools"></div>-->
                    <div class="content clearfix">
                        <!--商品展示-->
                        <div class="good_list clearfix" scroll-directive id="content-2" style="height:740px;overflow:auto;"  >
                            <!--商品1F-->
                            <dl ng-repeat="trentsLiInfo in trentsCount track by $index" ng-click = "turnPage(trentsLiInfo.ppid)">
                                <dt>
                                    <img src="imgs/icon_ion.png">
                                <p>{{trentsLiInfo.projectType}}</p>
                                </dt>
                                <dd>
                                    <div class="box"><img src="imgs/img_build.png"></div>
                                    <div class=" data_update">
                                        <p >资料更新</p>
                                        <p><b>{{trentsLiInfo.adds}}</b>/{{trentsLiInfo.totals}}</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <!--商品列表展示页面-->
                        <div class="pro_list clearfix" ng-click ="letter()" scroll-directive id="content-4" style="height:800px;overflow:auto;" >
                            <ul class="list" scroll-directive>
                                <li ng-repeat="getTrents in trentsListInfo">
                                    <!--icon_img-->
                                    <div class="icon_img"><img ng-src="{{getTrents.avatar}}"></div>
                                    <!--工程师资料-->
                                    <p><b>{{getTrents.username}}</b>&nbsp;&nbsp;上传了 <i ng-repeat="trentsType in getTrents.docs">&nbsp;&nbsp;{{trentsType.docName}}</i>&nbsp;&nbsp;<span>{{getTrents.updateTime}}</span></p>
                                    <div class="bx-controls" >
                                        <div class="img_list actives" ng-repeat = "items in getTrents.docs" ng-click="transformBig(items.uuid)">
                                            <div class="tools_bar"><img ng-src="{{items.downlodUrl}}"  ng-click = "lookSelector()" /></div>
                                            <div class="bar">
                                                <img src="imgs/iocn_search.png" />
                                                <img src="imgs/icon_down.png" />
                                                <img src="imgs/icon_add.png" />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!--记录时间-->
                                <div class="pro_Time_surfed">
                                    <h5>上次浏览时间：2016.8.8</h5>
                                    <div class="pro_line"></div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!--图片选择器-->
    <div class="top_slide_wrap">
        <div class="bx-wrapper">
            <div class="showImg">
                <ul class="slide_box">
                    <li>
                        <a href="#"><img src="imgs/show/0/1.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="imgs/show/0/2.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="imgs/show/0/3.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="imgs/show/0/4.jpg" alt=""></a>
                    </li>
                </ul>
                <span class="turnDown"><img src="imgs/close.png" style="width:30px;height:30px;" ng-click = "closeSelector()"></span>
                <a class="options pre" href="javascript:;" data-drec="pre"><i class="pre glyphicon glyphicon-chevron-left"></i></a>
                <a class="options next" href="javascript:;" data-drex="next"><i class="next glyphicon glyphicon-chevron-right"></i></a>
            </div>
        </div>
    </div>
<div class="mask"></div>
<!--<script src="js/goods.js"></script>-->
<script type="text/javascript">

    $('.selectpicker').selectpicker({
        style: 'btn-default',
        size: 'auto'

    });
    $(function(){
        $(".good_list").on("click",".good_list>dl",function(){
            alert(123)
            $(".good_list").hide();
            $(".pro_list").show();
        })
    })
</script>



