<link rel="stylesheet" href="./css/scrollnice.css">
<style>
	.content-container {
	     height:calc(100vh - 40px);
	 }
	.content-scroll-container {
	    overflow:auto;
	}
</style>

<div class="detail-computer" ng-show="!device && !flag.isPreview">

    <!--mobile-mark-->
    <div class="mobile-mark"></div>
        <div class="main" style="margin-bottom:50px;min-width:320px;">
        <!--main_content-->
        <div class="coop-detail inner">
            <header >
                <div class="header-operation clearfix">
                    <div class="pull-left detail-return" style="" ng-click="backCooperation()">
                    	<span class="detail-gt" style="margin-left:15px;display:inline-block"></span>
                    	<a  style="text-decoration: none;">返回</a>
                    </div>
                    <div class="label_tools">
                        <img src="imgs/icon/icon-small-h.png" alt="" ng-click="minimize()">
                        <div  ng-click="maxRestore($event)" class="inline" style="display:inline;margin-left:18px;">
                            <img src="imgs/icon/icon-restore-h.png" class="max-restore" ng-show="max">
                            <img src="imgs/icon/icon-big-h.png" class="max-restore" ng-show="restore">
                        </div>
                        <span class="change-window"><img src="imgs/icon/icon-close-h.png" alt="" ng-click="close()"></span>
                    </div>
                </div>
                <div class="header-title">
                    <!-- <p class="F16" ><span class="substr" title="{{collaList.coTypeVo.name+'通知单'}}">{{collaList.coTypeVo.name+'通知单'}}</span></p> -->
                    <p class="F16" ><span class="substr" title="{{collaList.name}}" style="display:inline-block;max-width:1200px;">{{collaList.name}}</span></p>
                    <!-- <span class="glyphicon glyphicon-remove close" ui-sref="cooperation"></span> -->
                </div>
            </header>
            <div class="clearfix" style="margin:0 auto;width:1360px;min-width:1000px;" >
                <div class="detailType-brands" style="height:100%;float:left;margin-top:127px;margin-left:15px;">
                    <img ng-if="collaList.coTypeVo.name=='问题整改'"  src="imgs/pro_solve.png" alt="">
                    <img ng-if="collaList.coTypeVo.name=='图纸变更'"  src="imgs/term-cad.png" alt="">
                    <img ng-if="collaList.coTypeVo.name=='现场签证'"  src="imgs/term-visa.png" alt="">
                    <img ng-if="collaList.coTypeVo.name=='方案会签'"  src="imgs/term-sign.png" alt="">
                    <img ng-if="collaList.coTypeVo.name=='方案报审'"  src="imgs/term-plan.png" alt="">
                    <img ng-if="collaList.coTypeVo.name=='阶段报告'"  src="imgs/term-report.png" alt="">
                </div>
             <div class="container coop-detail-con clearfix" style="display:inline-block">
            <div class="main_content clearfix" id="detail-1">
            <!--content_left(中间内容的左边)-->
                <div class="content_left clearfix">
                    <div class="proInfo">
                        <div class="pro_man clearfix row">

                            <div class="  col-xs-5">
                               <div class="F16"> <span class="F16">负责人:</span><span class="coop-name" >{{collaList.collaborator}}</span></div>
                            </div>
                            <div class=" col-xs-4  pad_clear">
                                <div  class="F16"> <span class="F16">优先级:</span><span class="coop-name">{{collaList.priority}}</span></div>
                            </div>
                            <div class="col-xs-3   pad_clear">
                                <span  class="F16">限期:</span><p class="coop-name F16" style="color:{{deadlineStyle}}">{{collaList.deadline | date:'yyyy-MM-dd'}}</p>
                            </div>
                            <div class="col-xs-5">
                                <div  class="F16"> <span class="F16">状态:</span><span class="coop-name" ng-model="status">{{collaList.status}}</span></div>
                            </div>
                            <div class="col-xs-4">
                                <div class="F16"> <span class="F16">标识:</span><span class="coop-name substr" title="{{collaList.markerInfo.name}}" style="max-width:100px;position:absolute"><i class ="chara"style="background:{{collaList.markerInfo.color}};"></i>{{collaList.markerInfo.name}}</span></div>
                            </div>
                            <div class="col-xs-3">
                                <p class="F16"><span class="F16">发起时间：</span><span class=" " style=" display:inline-block;position: absolute;">{{collaList.createTime.split(' ')[0]}}</span></p>
                            </div>
                            <div class="col-xs-5">
                                <p class="F16"><span class="F16 oSpan">更新时间：</span><span class=" " style=" display:inline-block;position: absolute;">{{collaList.updateTime.split(' ')[0]}}</span></p>
                            </div>
                        </div>
                        <div class="row" style="border-bottom:1px solid #ddd;" ng-class="{'margin-12':!link}">
                             <div class="pro_man col-xs-5" ng-if="link" style="margin-bottom:38px;">
                                 <button  type="button" class="btn btn-default look-model" ng-click="checkModelpc()"><img src="imgs/show_model.png">查看模型关联</button>
                            </div>
                            <div class="pro_man col-xs-7" ng-if="speachShow && !flag.audioPlaying" style="margin-bottom:38px;">
                               <button type="button" class="btn btn-default play-audio"  ng-click="getPcMP3Url(collaList.speach.uuid,'')"><input type="hidden" ng-model="collaList.speach.uuid"><img src="imgs/play.png">播放录音</button>
                            </div>
                            <div class="pro_man col-xs-7" ng-if="speachShow && flag.audioPlaying" style="margin-bottom:38px;">
                               <button type="button" class="btn btn-default play-audio"  ng-click="AudioStop('')"><span class="glyphicon glyphicon-volume-up" style="font-size:21px;padding-right:15px;vertical-align:middle;margin-top:-3px;"></span>取消播放</button>
                            </div>
                            
                        </div>
                        <!--detail(详情描述)-->
                        <div class="detail">
                           <div class="row pc-job-descrition" >
                               <div class="blank col-xs-12">
                                    <p class="F16">详情描述:</p>
                                </div>
                                <div class="col-xs-12 col-md-12">
                                    <div class="F14 detail-dir text-format" ng-bind-html="collaList.desc | to_trusted"></div>
                                </div>
                           </div>
                            <div class="Avatar row mobile-relate">
                                <div class="col-xs-12" style="margin-bottom: 4px;margin-top:7px;">
                                    <div class="col-xs-2 col-md-1">
                                        <p class="F16">相关人:</p>
                                    </div>
                                    <div class="photo col-xs-8 col-md-11" style="padding:0">
                                        <div class="" style="margin-left:-3px;">
                                            <dl ng-repeat="item in collaList.relevants" class="photoImg">
                                                <dt><img ng-src="{{item.avatar}}"  onerror="this.onerror='';this.src='./imgs/icon/defalut.png'" ng-if="item.avatar"/><img src="./imgs/icon/defalut.png" ng-if="item.avatar==null" alt=""></dt>
                                                <dd class="substr" title="{{item.username}}" style="width:55px;">{{item.username}}</dd>
                                                <dd  ng-class="{'margin-bottom20':isRevlentMore}" ng-if="!item.isPassed && !item.isRejected && item.isReaded" class="color-gray">已读</dd>
                                                <dd  ng-class="{'margin-bottom20':isRevlentMore}" ng-if="!item.isPassed && !item.isRejected && !item.isReaded " class="color-green">未读</dd>
                                                <dd  ng-class="{'margin-bottom20':isRevlentMore}" ng-if="item.isPassed" class="color-blue">已通过</dd>
                                                <dd  ng-class="{'margin-bottom20':isRevlentMore}" ng-if="item.isRejected" class="color-orange">已拒绝</dd>
                                                <div class="detail-sign" ng-if="item.needSign">
                                                    <img src="imgs/detail-icon-sign.png" alt="">
                                                </div>
                                            </dl>
                                        </div>
                                    </div>
                                    <div ng-show="isRevlentMore" class="show-more-btn" style="margin-top:10px;text-align:center;color:#909090;" >
						                <span ng-show="showMore" ng-click="showMorePerson()">显示更多</span>
						                <span ng-show="collapse"  ng-click="collapsePerson()">收起</span>
						            </div>
                                </div>
                            </div>
                        </div>
                        <!--action(功能)-->
                        <div class="action row pc-photo">
                            <div class="col-xs-2 col-md-1">
                                <p class="F16">照片：</p>
                            </div>
                            <div class="col-xs-8 col-md-11 picInfo" style="padding:0">
                                <dl class="data-list" ng-repeat="item in collaList.pictures" profit>
                                    <dt class="rela detail-sear" ng-if="item.thumbnailUrl"><!-- ng-click="downDocs(item.uuid)"-->
                                        <div  style="height:116px;background:url({{item.thumbnailUrl}});background-size:cover" ng-if="item.thumbnailUrl" ng-click="previewSign(item.uuid,item.name,2)"></div>
                                        <div class="detail-search F14"  >
                                                <a ng-href="{{item.fileUrl}}?name={{item.name}}"><img class="detail-down" src="imgs/icon_down.png" class="a-{{$index}}" /></a>
                                        </div>
                                    </dt>
                                     <dt class="rela detail-sear" ng-if="item.thumbnailUrl==null">
                                        <img ng-src="{{item.imgsrc}}" alt="" ng-click="previewSign(item.uuid,item.name,2)">
                                        <div class="detail-search F14"  > <!--ng-click="downDocs(item.uuid)"-->
                                             <a ng-href="{{item.fileUrl}}?name={{item.name}}"><img class="detail-down" src="imgs/icon_down.png" class="a-{{$index}}"/></a>
                                        </div>
                                    </dt>
                                    <dd class="substr" title="{{item.name}}" style="width:118px;">{{item.name}}</dd>
                                </dl>
                            </div>
                            </div>
                            <div class="action row pc-means">
                                <div class="col-xs-2 col-md-1">
                                    <p class="F16">资料：</p>
                                </div>
                                <div class="col-xs-8 col-md-11 picInfo" style="padding:0">
                                    <dl class="data-list" ng-repeat="item in collaList.docs" profit>
                                        <dt class="rela deta-down" ng-if="item.thumbnailUrl">
                                            <img ng-src="{{item.thumbnailUrl}}" ng-click="previewSign(item.uuid,item.name,1)">
                                            <div class="absol show-icon">
                                                <a ng-href="{{item.fileUrl}}?name={{item.name}}"><img class="detail-down" src="imgs/icon_down.png" class="a-{{$index}}" ng-click="downDocs(item.uuid)"/></a>
                                            </div>
                                        </dt>
                                        <dt class="rela deta-down" ng-if="!item.thumbnailUrl">
                                            <img ng-src="{{item.imgsrc}}" ng-click="previewSign(item.uuid,item.name,1)">
                                            <div class="absol show-icon">
                                                <a ng-href="{{item.fileUrl}}?name={{item.name}}"><img class="detail-down" src="imgs/icon_down.png" class="a-{{$index}}" ng-click="downDocs(item.uuid)"/></a>
                                            </div>
                                        </dt>
                                        <dd title="{{item.name}}" class="substr">{{item.name}}</dd>
                                    </dl>
                                </div>
                        </div>
                        <!--reply-->
                        <div class="reply row pc-reply">
                            <div class="col-md-1 col-xs-2">
                                <p class="F16">回复:</p>
                            </div>
                            <div class="col-md-11 col-xs-10" style="padding:0;">
                                <div class="say clearfix col-xs-12" ng-repeat="item in collaList.comments" profit>
                                    <div class="col-xs-2 col-md-1 man_pic">
                                        <img  onerror="this.onerror='';this.src='./imgs/icon/defalut.png'" ng-src="{{item.avatar}}" ng-if="item.avatar"/><img src="./imgs/icon/defalut.png" ng-if="item.avatar==null" alt="">
                                        <p class="substr" title="{{item.commentator}}">{{item.commentator}}</p>
                                    </div>
                                    <div class="col-xs-10 col-md-11 comment">
                                        <!-- 状态 -->
                                        <div class="dashed" ng-if="item.status">更新状态为：<span style="color:#65c17d">"{{item.status}}"</span></div>
                                        <!-- 评论 -->
                                        <div class="dashed break-word text-format" ng-if="item.comment" id="comment-{{$index}}" ng-bind-html="item.comment | to_trusted"></div>
                                        <!-- 资料 -->
                                        <div class="dashed comment-doclist" ng-if="item.docs.length">
                                            <div class="inline" ng-repeat="doc in item.docs track by $index">
                                                <!--<img src="./imgs/icon/icon-doc.png" alt="" style="width:50px">-->
                                              <!--   <span style="width:50px;height:50px;background:url('{{doc.thumbnailUrl}}');background-size:cover;display:inline-block;" ng-if="doc.thumbnailUrl != null"  ng-click="previewComment($parent.$parent.$index,doc.uuid)" ></span> -->
                                                <div class="replay-down" style="height:80px;">
                                                    <span ng-if="doc.thumbnailUrl" style="width:100px;height:80px;background:url('{{doc.thumbnailUrl}}') no-repeat center;background-size:cover;display:inline-block;" ng-click="previewSign(doc.uuid,doc.name,2)"></span>
                                                    <span ng-if="!doc.thumbnailUrl" style="width:100px;height:80px;background:url('{{doc.imgsrc}}') no-repeat center;background-size:70px;display:inline-block;" ng-click="previewSign(doc.uuid,doc.name,2)"></span>

                                                    <div class="user-down">
                                                        <a ng-href="{{doc.fileUrl}}?name={{doc.name}}"><img class="detail-down" src="imgs/icon_down.png" class="a-{{$index}}"/></a>
                                                    </div>
                                                </div>

                                                <div class="substr reply-name" title="{{doc.name}}">{{doc.name}}</div>
                                            </div>
                                        </div>
                                        <!-- 录音 -->
                                        <div class="dashed" ng-if="item.speech.speechUrl">
                                            <div id="open_{{item.speech.uuid}}"><button type="button" class="play-audio DIY-btn F14 btn-replay-audio " ng-click="getPcMP3Url(item.speech.uuid,'comment')"><input type="hidden" ng-model="item.speech.uuid"/><img  src="imgs/play.png">播放录音</button></div>
                                            <div id="close_{{item.speech.uuid}}" style="display:none;"><button type="button" class="play-audio DIY-btn F14 btn-replay-audio " ng-click="AudioStop('comment',item.speech.uuid)"><span class="glyphicon glyphicon-volume-up" style="font-size:21px;padding-right:15px;vertical-align:middle;margin-top:-3px;"></span>取消播放</button></div>
                                        </div>
                                        <!-- 时间 -->
                                        <div style="text-align:right;padding:10px 0;color:#999" ng-if="item.commentTime">{{item.commentTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
        <!--侧边栏里面的按钮样式-->
        <div class="btn_box_pc" id="btn_box" pc-operation ng-click="getOperationList()">
            <span class="glyphicon glyphicon-menu-left show_btn"></span>
            <span class="glyphicon glyphicon-menu-right hide_btn"></span>
        </div>
        <!--右边内容-->
        <div class="content_right_pc">
            <div class="aside">
                <p class="side_title">协作动态</p>
                <div class="status content-container content-scroll-container" infinite-scroll-parent="true">
                    <div class="state rela" infinite-scroll-container='".content-scroll-container"'  infinite-scroll="addMoreData()" infinite-scroll-distance="0" infinite-scroll-disabled="scrollend">
                        <ul>
                            <li ng-repeat="item in operationList">
                                <div class="step  pc-step">
                                    <!--<img src="./imgs/icon/fq-icon.png" alt="" ng-if="item.operation == '发起'" style="padding:4px;">-->
                                    <!--<img src="./imgs/icon/ck-icon.png" alt="" ng-if="item.operation == '查看'" style="padding: 8px 0 0 1.5px;">-->
                                    <!--<img src="./imgs/icon/jjue-icon.png" alt="" ng-if="item.operation == '拒绝'" style="padding:4px;">-->
                                    <!--<img src="./imgs/icon/js-icon.png" alt="" ng-if="item.operation == '结束'" style="padding:2px 4px;">-->
                                    <!--<img src="./imgs/icon/bj-icon.png" alt="" ng-if="item.operation == '编辑'" style="padding:4px;">-->
                                    <!--<img src="./imgs/icon/wc-icon.png" alt="" ng-if="item.operation == '通过'" style="padding:4px;">-->
                                    <!--<img src="./imgs/icon/update-icon.png" alt="" ng-if="item.operation == '添加'" style="padding:4px;">-->
                                    <!--<img src="./imgs/icon/update.png" alt="" ng-if="item.operation == '更新'" style="padding:4px;">-->
                                    <!--<img src="./imgs/icon/icon-signPng.png" alt="" ng-if="item.operation == '签署'" style="padding:4px; padding: 6px 0 0 2.5px;">-->
                                    <img src="./imgs/icon/fq-icon.png" alt="" ng-if="item.operation == '发起'" >
                                    <img src="./imgs/icon/ck-icon.png" alt="" ng-if="item.operation == '查看'" >
                                    <img src="./imgs/icon/jjue-icon.png" alt="" ng-if="item.operation == '拒绝'" >
                                    <img src="./imgs/icon/js-icon.png" alt="" ng-if="item.operation == '结束'" >
                                    <img src="./imgs/icon/bj-icon.png" alt="" ng-if="item.operation == '编辑'" style="width:20px;" >
                                    <img src="./imgs/icon/wc-icon.png" alt="" ng-if="item.operation == '通过'">
                                    <img src="./imgs/icon/update-icon.png" alt="" ng-if="item.operation == '添加'" >
                                    <img src="./imgs/icon/update.png" alt="" ng-if="item.operation == '更新'" >
                                    <img src="./imgs/icon/icon-signPng.png" alt="" ng-if="item.operation == '签署'" style="width:20px;" >
                                    <span></span>
                                </div>
                                <div class="handle">
                                    <div class="icon_man">
                                        <div style="" class="icon_man_pic">
                                            <div style="display:inline-block">
                                                <img ng-src="{{item.avatar}}"  onerror="this.onerror='';this.src='./imgs/icon/defalut.png'" ng-if="item.avatar"/>
                                                <img src="./imgs/icon/defalut.png" ng-if="item.avatar==null" alt=""/>
                                            </div>
                                            <p class="substr menus-name"  title="{{item.username}}" >{{item.username}}</p>
                                        </div>
                                    </div>
                                    <p class="substr down-operate" >{{item.operation}}<span>本次协作</span></p>
                                    <h5 class="menus-time">{{item.operationTime}}</h5>
                                    <!--<p class="">{{item.operationTime}}</p>-->
                                    <!--<div class="menus-head">-->
                                        <!--<div class="icon_man"><img  onerror="this.onerror='';this.src='./imgs/icon/defalut.png'" ng-src="{{item.avatar}}" ng-if="item.avatar"/><img src="./imgs/icon/defalut.png" ng-if="item.avatar==null" alt=""></div>-->
                                        <!--<p class="substr menus-name">{{item.username}}</p>-->
                                    <!--</div>-->
                                    <!--<p class="substr" style="width:100px;">{{item.operation}}<span>本次协作</span></p>-->
                                    <!--<p class="menus-time">{{item.operationTime}}</p>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    <div class="footer footer-commom">
        <button type="button" class="btn a-222 btn-default foot-btn"  ng-click="allowEditTrans()" ng-show="bjshow">编辑协作</button>
        <button type="button" class="btn btn-default foot-btn" ng-click="updateComment()" ng-show="tjshow">添加更新</button>
        <button type="button" class="btn btn-default foot-btn" ng-show="tgshow" ng-click="doCollaboration(6)">通过</button>
        <button type="button" class="btn btn-default foot-btn" ng-show="jjueshow" ng-click="doCollaboration(7)">拒绝</button>
        <button type="button" class="btn btn-default foot-btn" ng-show="jsshow" ng-click="doCollaboration(8)">结束</button>
        <!--<button type="button" class="btn btn-default foot-btn" ng-show="dchushow">导出</button>-->
    </div>
</div>
<div ng-if="flag.isPreview" class="pdf-sign">
    <div class="inner">
    <header>
        <div class="header-operation clearfix">
            <div class="pull-left detail-return" style="line-height:42px;"  ng-click="backDetail('')">
                <span class="detail-gt" style="margin-left:15px;display:inline-block"></span>
                <a  style="text-decoration: none;">返回</a>
            </div>
            <div class="label_tools">
                <img src="imgs/icon/icon-small-h.png" alt="" ng-click="minimize()">
                <div  ng-click="maxRestore($event)" class="inline" style="display:inline;margin-left:18px;">
                    <img src="imgs/icon/icon-restore-h.png" class="max-restore" ng-show="max">
                    <img src="imgs/icon/icon-big-h.png" class="max-restore" ng-show="restore">
                </div>
                <span class="change-window"><img src="imgs/icon/icon-close-h.png" alt="" ng-click="close()"></span>
            </div>
        </div>
    </header>
    <!-- 默认预览 -->
    <div ng-show="flag.isGeneral">
        <div style="width:100%;margin-top:42px" ng-show="!isEdit">
            <iframe ng-src="{{previewUrl}}" style="height:calc(100vh - 100px);width:100%;" scrolling="no" frameborder="0"></iframe>
        </div>
    </div>
    <!-- 电子签名 -->
    <div ng-show="flag.isApprove">
        <div class="doc-edit footer footer-commom">
            <div class="text-center">
                <button class="btn btn-default foot-btn" ng-click="addApprove()" ng-hide="flag.noNeedSign">添加审批意见</button>
            </div>
        </div>
    </div>
    <div ng-show="flag.isPdfsign">
        <!-- 勿删 -->
        <!--  <div class="sign footer-commom" style="position:fixed;">
            <div class="text-center">
                <button class="btn btn-default foot-btn" ng-click="signComment()">签署意见</button>
                <button class="btn btn-default foot-btn" ng-click="signElectronic()">电子签名</button>
            </div>
        </div> -->
        <div class="doc-edit footer footer-commom">
            <div class="text-center">
                <button class="btn btn-default foot-btn" ng-click="signComment()">签署意见</button>
                <button class="btn btn-default foot-btn" ng-click="signElectronic()">电子签名</button>
                <button class="btn btn-default foot-btn" ng-click="SubmitAll()">提交</button>
                <button class="btn btn-default new-btnFail foot-btn" ng-click="signCancel()">取消</button>
                <button class="btn btn-default new-btnFail foot-btn" ng-click="signEmpty()">清空</button>
            </div>
        </div>
        </div>
    </div>
</div>
