<style>
	.content-container {
	     height:calc(100vh - 478px);
	 }
	.content-scroll-container {
	    overflow:auto;
	}
</style>
<div ng-show="flag.homeLoading" window-resize>
	<header ng-include="'template/core/header.html'"></header>
	<div class="content" id="dvCompute" style="font-size:14px;position:absolute;visibility:hidden;"></div>
	<div class="main-container rela">
		<div class="sidebar absol" ng-include="'template/core/sidebar.html'"></div>
		<div class="right-content rela">
			<!-- <breadcrumbs display-name="data.displayName" front-msg="当前页面"></breadcrumbs> -->
			<div class="first-screen" style="display:none">
				<div class="container-fluid rela">
					<div class="operation clearfix">
						<div class="left">
							<div class="rela search inline">
								<input type="text" class="form-control coop-searchKey" id="exampleInputName1" style="height:34px;" ng-keyUp = "searchEnter($event)"placeholder="搜索主题" ng-model="searchkey">
								<div class="search-bj"><img ng-src="imgs/seache.png" alt="" ng-click="inputSearch()"></div>
							</div>
							<button  type="button" class="btn btn-default cop-filter" ng-click="isShowComboBox()">筛选条件>></button>
						</div>
						<div class="right">
		                    <div  id="comboBox_count" ng-click="comboxCount()" class="btn  btn_count" style="margin-right:12px;" ng-disabled="!flag.isVisible">统计</div>
							<button type="button" class="btn btn_new new_cooper" ng-click="openNew()">新建协作</button>
		                </div>
						<div class="operation-mask"></div>
					</div>
				</div>
				<!--筛选框-->
				<div class="comboBox filter-box clearfix rela" copy-radio>
					<div class="filter-tab" ng-show="flag.filterExist">
						<div class="search clearfix">
							<div class="filterOptions inline"><!-- <span style="border:1px solid #ccc;">问题整改 x</span> --></div>
						</div>
					</div>
					<div class="row filter clearfix" ng-show="!isCollapsed">
						<div class="filter-table clearfix">
							<form class="form-inline">
								<!-- 协作类型 -->
								<div class="tabs coType check-sub" ng-show="!flag.coTypeFilter">
									<div class="inline ">
										<label class="filter_title"><span>协作类型:</span></label>
									</div>
									<div class="inline check-sub">
										<div class="rela inline" ng-repeat="item in coQueryType track by $index" profit>
											<label class="rela" title="{{item.name}}">
												<!-- <input type="checkbox" class="absol checkbox_type_{{$index}}"   style="opacity:0;"> -->
												<span ng-click="changeFilter(item,601)">{{item.name}}</span>
											</label>
										</div>
									</div>
								</div>
								<!-- 协作归属 -->
								<div class="tabs check-sub" ng-show="!flag.coAffiliation">
									<div class="inline">
										<label class="filter_title"><span>协作归属:</span></label>
									</div>
									<div class="inline">
										<div class="rela inline" ng-repeat="item in coAffiliation track by $index" profit>
											<label class="rela" title="{{item.name}}">
												<!-- <input type="checkbox" class="absol checkbox_type_{{$index}}"   style="opacity:0;"> -->
												<span ng-click="changeFilter(item,606)">{{item.name}}</span>
											</label>
										</div>
									</div>
								</div>
								<!-- 标识 -->
								<div class="tabs coMark check-sub" ng-show="!flag.coMarkFilter">
									<div class="tabs clearfix">
										<div class="inline pull-left">
											<label class="filter_title"><span>标识:</span></label>
										</div>
										<div class="marklist">
											<div class="rela inline" ng-repeat="item in coMark track by $index" profit>
												<label class="rela" title="{{item.name}}">
													<span ng-click="changeFilter(item,603)">{{item.name}}</span>
												</label>
											</div>
										</div>
									</div>
								</div>
								<!-- 状态 -->
								<div class="tabs coMark check-sub" ng-show="!flag.coStatus">
									<div class="tabs clearfix">
										<div class="inline pull-left">
											<label class="filter_title"><span>状态:</span></label>
										</div>
										<div style="margin-left:93px;">
											<div class="rela inline" ng-repeat="item in coStatus track by $index" profit>
												<label class="rela" title="{{item.name}}">
													<span ng-click="changeFilter(item,605)">{{item.name}}</span>
												</label>
											</div>
										</div>
									</div>
								</div>
								<!-- 发起时间 -->
								<div class="tabs check-sub" ng-show="!flag.coCreateTime">
									<div class="tabs clearfix">
										<div class="inline">
											<label class="filter_title"><span>发起时间:</span></label>
										</div>
										<div class="inline">
											<div class="rela inline" ng-repeat="item in coCreateTime track by $index" profit>
												<label class="rela" title="{{item.name}}">
													<span ng-click="changeFilter(item,607)">{{item.name}}</span>
												</label>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="overlay" style="display:none;top:59px;" ng-click="clicklay()"></div>
				<div class="overlay1" style="display:none;top:59px;" ng-click="clicklay1()"></div>
				<!--新建类型列表-->
				<div class="addcoo absol overflow" ng-show="openSignal">
					<div class="row">
						<div class="col-md-6 new-type" ng-repeat="items in typeList">
							<a class="typeImg_{{items.typeImg}}" ng-click="trans(items.typeId,items.name)" style="background:url('./imgs/dyfilter/co-type_00{{items.typeImg}}.png') no-repeat"></a>
						</div>
					</div>
				</div>
				<div class="table-list table-simulate">
				   <table class="table">
						<thead>
							<tr style="background:#d2d7de;height:47px;">
								<th style="width:200px">协作类型</th>
								<th style="width:38%">主题</th>
								<th style="width:6%">标识</th>
								<th style="width:8%">当前状态</th>
								<th style="width:10%">更新时间</th>
								<th style="width:10%"ng-show="!flag.isDraft" class="updata-person" >更新人</th>
								<th ng-show="flag.isDraft">删除</th>
								<th>详情</th>
							</tr>
						</thead>
					</table>
				</div>
				<div class="table-list basic-project content-container content-scroll-container" infinite-scroll-parent="true">
					<div  ng-show="coNoResult">
						<!--搜索无工程-->
				        <div class="noSearch" ng-show="deptNoCo">
				            <dl class="noProject">
				                <dt>
				                    <img src="imgs/co-search.png" alt="">
				                    <span></span>
				                </dt>
				                <dd>当前项目部无协作</dd>
				            </dl>
				        </div>
				        <!--搜索无结果-->
				        <div class="noSearch" ng-show="projNoCo">
				            <dl class="noProject">
				                <dt>
				                    <img src="imgs/co-search.png" alt="">
				                    <span></span>
				                </dt>
				                <dd>当前工程无协作</dd>
				            </dl>
				        </div>
				        <div class="noSearch" ng-show="searchNoCo">
				            <dl class="noProject">
				                <dt>
				                    <img src="imgs/co-search.png" alt="">
				                    <span></span>
				                </dt>
				                <dd>当前无结果</dd>
				            </dl>
				        </div>
				        <div class="noSearch" ng-show="noRelatedNoCo">
				            <dl class="noProject">
				                <dt>
				                    <img src="imgs/co-search.png" alt="">
				                    <span></span>
				                </dt>
				                <dd>当前无协作</dd>
				            </dl>
				        </div>
				   </div>
					<table ng-if="!coNoResult" class="table" class="info_list" id ="table1scroll"  infinite-scroll-container='".content-scroll-container"'  infinite-scroll="addMoreData()" infinite-scroll-distance="0" infinite-scroll-disabled="scrollend">
						<tbody>
							<tr ng-repeat="item in cooperationList" style="font-size:12px;border-bottom:1px solid #ddd;" colist-repeat-finished ng-class="{'bold':!item.isRead,'bg-lock':item.isLock}" coid="{{item.coid}}">
								<td class="problems-rect" width="200px" style="border:none;position:relative;">
									<span class="cop-edit" ng-show="item.isLock"></span>
									<label class="rela">
										<input type="checkbox" class="remove-signal" ng-click="updateSelection($event, item)">
										<div class="absol check-funnel" style="margin-top: 4px;"></div>
									</label>
									<div class='problems-box' style="background:{{item.type.color}};" ng-click="transCoDetail(item)">{{item.type.name}}</div>
								</td>
								<td ng-click="transCoDetail(item)" style="width:38%;border:none;text-align:left;">{{item.name}}</td>
								<td ng-click="transCoDetail(item)" class="substr" style="border:none;width:6%;"><b class="colorBox" style="background:{{item.markerColor}}"></b><span style="vertical-align:middle">{{item.markerName}}</span></td>
								<td style="width:8%" ng-click="transCoDetail(item)">{{item.status}}</td>
								<td style="width:10%" ng-click="transCoDetail(item)" style="border:none;">{{item.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
								<td style="width:10%" ng-show="!flag.isDraft" class="edit-click" title="{{item.updater}}" style="text-align:left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{item.updater}}</td>
								<td ng-show="flag.isDraft" class="td-del" ng-click ="deleteProject(item.coid)"><span class="icon-del-tr"></span></td>
								<td ng-click="openDetail(item)">
									<!--<img ng-src="imgs/icon/detail.png" alt="">-->
									<span class="cop-add"></span>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="remove-all clearfix">
						<label class="rela">
							<input type="checkbox" class="remove-signal" ng-click="allSelect()" ng-model="allSelected">
							<div class="absol check-funnel" style="margin-top: 4px;"></div>
						</label>
						<button style="margin-left:45px;width:70px;" ng-click="removeAll()" class="btn btn-default new-btnFail">删除</button><span style="margin-top:15px;" class="total inline pull-right">总共<span ng-if="coItemsTotals">{{coItemsTotals}}</span><span ng-if="!coItemsTotals">0</span>条</span>
					</div>
				</div>
				<div class="coo-detail absol" ng-show="detailSignal">
					<div class="title">协作详情</div>
					<div class="row list">
						 <div class="col-xs-6 them-title" style="padding-left:0">
						 	<div ><span>类型：</span></div>
						 	<div><span>主题：</span></div>
						 	<div><span>负责人：</span></div>
						 	<div ><span>标识：</span></div>
						 	<div ><span>创建时间：</span></div>
						 	<div><span>更新时间：</span></div>
						 	<div ><span>更新人：</span></div>
						 	<div ><span>当前状态：</span></div>
						 	<div ><span>期限：</span></div>
						 </div>
						 <div class="col-xs-6" style="padding: 0;">
						 	<div class="coop-detial-right">{{everyDetail.type.name}}</div>
						 	<div class="substr deta-main coop-detial-right substr" style="width:62px;text-align:left;" title="{{everyDetail.name}}" >{{everyDetail.name}}</div>
						 	<div class="coop-detial-right substr" style="width:62px;text-align:left;" title="{{everyDetail.collaborator}}">{{everyDetail.collaborator}}</div>
						 	<div class="coop-detial-right substr" style="max-width:100px;text-align:left;" title="{{everyDetail.markerName}}"><span class="mark" style="background:{{everyDetail.markerColor}}"></span>{{everyDetail.markerName}}</div>
						 	<div class="coop-detial-right">{{everyDetail.createTime}}</div>
						 	<div class="coop-detial-right">{{everyDetail.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
						 	<div class="coop-detial-right substr" style="width:62px;text-align:left;" title="{{everyDetail.updater}}">{{everyDetail.updater}}</div>
						 	<div class="coop-detial-right">{{everyDetail.status}}</div>
						 	<div class="coop-detial-right" ng-if="everyDetail.deadline == null">不期限</div>
						 	<div class="coop-detial-right" ng-if="everyDetail.deadline != null">{{everyDetail.deadline | date:'yyyy-MM-dd'}}</div>
						 </div>
					</div>
					<div class="coop-btns">
						<button type="button" ng-click="deleteCoop(everyDetail)">删除</button>
					</div>
				</div>
			</div>

			<!--data_count（统计页面）-->
			<div class="data_count" scroll-directive>
				<div class="data_Totle">
					<div class="pull-left detail-return data_back" style="line-height:47px;">
						<span class="detail-gt" style="margin-left:24px;display:inline-block;top:19px"></span>
						<a  style="text-decoration: none;margin-left:18px;">返回</a>
					</div>
					<!--<button type="button" class="btn btn-default" ng-click="openNew()" class="new_cooper">新建协作</button>-->
					<!--<button type="butt	on" class="btn btn_new new_cooper" ng-click="openNew()" style="float:right;margin-right:15px;margin-top:15px;">新建协作</button>-->
					<h4>统计结果</h4>
				</div>
				<!--data_list-->
				<div class="data_list clearfix row" copy-radio style="padding:0" >
					<!--data_every-->
					<div class="statistics-menus col-xs-2">
						<ul id="count-menus">

						</ul>
					</div>
					<div class="echart-shape col-xs-10">
						<div class="data_every col-lg-6 second"  style="padding:0"  >
						<div class="count-echart">
							<div id="data_graph4" class="data_graph" style="height:300px;width:98%;"></div>
						</div>
					</div>
						<div class="data_every col-lg-6 forth" style="padding:0"  >
							<div class="count-echart">
								<div id="data_graph3" class="data_graph" style="height:300px;width:98%;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-show="!flag.homeLoading" style="position:fixed;left:50%;top:50%;margin-left:-120px;margin-top:-100px;"><img src="./imgs/first-loading.gif" alt=""></div>
<!-- <div onclick="transCoManage('1','1028')">test</div> -->
<!-- <script type="text/javascript">
	$('.selectpicker').selectpicker({
	  style: 'btn-default',
	  width: '102px'
	});
</script> -->
<script>
	//协作管理界面调出新建
	function transCreateCooperation (deptId,ppid) {
		//暂时写死，等聂那边改好
		$('#deptId_formbe').val(deptId);
		if(ppid <= 0){
			$('#deptId_formbe').val("");
		}
	    $('#ppid_formbe').val(ppid);
	    $('#deptId_formbe').click();
		$('.new_cooper').click();
	}
	//跳转协作详情
	function transCoDetail (coid) {
		document.location= '#/coopdetail/?coid='+coid+'+&source='+'frombe';
	}
</script>