
<!--header-->
<link rel="stylesheet" href="css/coop-detail-computer.css">
<!--电脑端-->
<div class="detail-computer" ng-show="!device">
    <div class="main" style="margin-bottom:50px;min-width:320px;">
        <!--main_content-->
        <div class="coop-detail">
            <header >
                <p>{{collaList.coTypeVo.name}}通知单</p>
                <span class="glyphicon glyphicon-remove close"></span>
            </header>
            <div class="container coop-detail-con">
            <div class="main_content clearfix">
            <!--content_left(中间内容的左边)-->
                <div class="content_left clearfix">
                    <div class="proInfo">
                        <div class="pro_man clearfix row">
                            <div class="col-xs-5 col-md-5 ">
                               <div> <span>负责人:</span><span class="coop-name">{{collaList.collaborator}}</span></div>
                               <div> <span>状态:</span><span class="coop-name">{{collaList.status}}</span></div>
                                <button type="button" class="btn btn-default look-model" ng-click="checkModelpc()">查看模型关联</button>
                            </div>
                            <div class="col-xs-5 col-md-5 pad_clear">
                                <div> <span>优先级:</span><span class="coop-name">{{collaList.priority}}</span></div>
                                <div> <span>标识:</span><span class="coop-name"><i style="display:inline-block;margin-right:10px;width:10px;height:10px;background:blue;"></i>{{collaList.markerInfo.name}}</span></div>
                                <button type="button " class="btn btn-default play-audio">播放录音</button>
                            </div>
                            <div class="col-xs-2 col-md-2 pad_clear ">
                                <span>期限:</span><p class="coop-name">{{collaList.deadline}}</p>
                            </div>
                        </div>
                        <!--detail(详情描述)-->
                        <div class="detail">
                           <div class="row " >
                               <div class="blank col-xs-12 ">
                                    <p>详情描述:</p>
                                </div>
                                <div class="col-xs-8 col-md-12">
                                    <textarea class="form-control" rows="5" >{{collaList.desc}}</textarea>
                                </div>
                           </div>
                            <div class="Avatar row">
                                <div class="col-xs-3 col-md-1">
                                    <p>相关人物:</p>
                                </div>
                                <div class="photo col-xs-8 col-md-10">
                                    <dl ng-repeat="item in collaList.relevants" class="photoImg">
                                        <dt><img src="{{item.avatar}}"/></dt>
                                        <dd>{{item.username}}</dd>
                                        <dd ng-if="!item.isReaded">未读</dd>
                                        <dd ng-if="item.isReaded">已读</dd>
                                    </dl>
                                </div>
                            </div>

                        </div>
                        <!--action(功能)-->
                        <div class="action row">
                            <div class="col-xs-2 col-md-1">
                                <p>照片：</p>
                            </div>
                            <div class="col-xs-8 col-md-11 picInfo ">
                                <dl class="data-list" ng-repeat="item in collaList.pictures">
                                    <dt class="rela detail-sear">
                                        <img src="{{item.fileUrl}}" ng-click="zoom(item.uuid)"/>
                                        <div class="detail-search">
                                             <img src="imgs/seache.png" alt="">
                                        </div>
                                    </dt>
                                    <dd>{{name}}</dd>
                                </dl>
                            </div>
                            </div>
                            <div class="action row">
                                <div class="col-xs-2 col-md-1">
                                    <p>资料：</p>
                                </div>
                                <div class="col-xs-8 col-md-11 picInfo">
                                    <!-- <dl class="data-list">
                                        <dt class="rela"><img src="imgs/saber.jpg" ng-click="zoom()"/><div class="absol show-icon"><span class="glyphicon glyphicon-zoom-in"></span><span class="glyphicon glyphicon-save"></span><span class="glyphicon glyphicon-map-marker"></span></div></dt>
                                        <dd>打桩</dd>
                                    </dl> -->
                                    <dl class="data-list" ng-repeat="item in collaList.docs" profit>
                                        <dt class="rela deta-down"><img src="./imgs/icon/icon-doc.png" ng-click="previewDocs(item.uuid)" /><div class="absol show-icon"></span><a ng-href="{{item.fileUrl}}"></a><img class="detail-down" src="imgs/icon_down.png" class=" a-{{$index}}" ng-click="downDocs(item.uuid)"/></div></dt>
                                        <dd title="{{item.name}}" class="substr">{{item.name}}</dd>
                                    </dl>
                                </div>
                        </div>
                        <!--reply-->
                        <div class="reply row">
                            <div class="col-md-1 col-xs-2">
                                <p>回复:</p>
                            </div>
                            <div class="col-md-11 col-xs-10">
                                <div class="say clearfix" ng-repeat="item in collaList.comments">
                                    <div class="col-xs-4 col-md-1 man_pic">
                                        <img src="{{item.avatar}}" alt="">
                                        <p>{{item.commentator}}</p>
                                    </div>
                                    <div class="col-xs-8 col-md-11 comment">
                                        <div class="say-content" style="margin: 15px 0;">
                                            <div class="break-word">{{item.comment}}</div>
                                            <div>
                                                <div class="inline" ng-repeat="doc in item.docs">
                                                    <img src="./imgs/icon/icon-doc.png" alt="" style="width:50px">
                                                    <div class="substr" title="{{doc.name}}">{{doc.name}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--reply-->
                        <!--<div class="reply row">-->
                            <!--<div class="col-md-1 col-xs-2">-->
                                <!--<p>回复:</p>-->
                            <!--</div>-->

                        <!--</div>-->

                    </div>

                </div>
            </div>

                <!--问题整改-->
                <div class="pro_solve">
                    <img src="imgs/pro_solve.png" alt="">
                </div>
        </div>
        </div>
        <!--侧边栏里面的按钮样式-->
        <div class="btn_box" id="btn_box" style="top:60px">
            <span class="glyphicon glyphicon-menu-left show_btn"></span>
            <span class="glyphicon glyphicon-menu-right hide_btn"></span>
        </div>
        <!--右边内容-->
        <div class="content_right" style="top:60px">

            <div class="aside">
                <p class="side_title">协作动态</p>
                <div class="status">
                    <div class="state rela">
                        <ul>
                            <li ng-repeat="item in operationList">
                                <div class="step">
                                    <img src="./imgs/icon/fq-icon.png" alt="" ng-if="item.operation == '添加'" style="padding:4px;">
                                    <img src="./imgs/icon/ck-icon.png" alt="" ng-if="item.operation == '查看'" style="padding:4px;margin-top:3px;">
                                    <img src="./imgs/icon/jjue-icon.png" alt="" ng-if="item.operation == '拒绝'" style="padding:4px;">
                                    <img src="./imgs/icon/js-icon.png" alt="" ng-if="item.operation == '结束'" style="padding:4px;">
                                    <img src="./imgs/icon/bj-icon.png" alt="" ng-if="item.operation == '编辑'" style="padding:4px;">
                                </div>
                                <div class="handle">
                                    <div class="icon_man"><img src="{{item.avatar}}"/></div>
                                    <p>{{item.username}}{{item.operation}}<span>本次协作</span></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="footer">
        <button type="button" class="btn a-222 btn-default"  ng-click="allowEditTrans()" ng-show="bjshow">编辑协作</button>
        <button type="button" class="btn btn-default" ng-click="updateComment()" ng-show="tjshow">添加更新</button>
        <button type="button" class="btn btn-default" ng-show="tgshow">通过</button>
        <button type="button" class="btn btn-default" ng-show="jjueshow">拒绝</button>
        <button type="button" class="btn btn-default" ng-show="jsshow">结束</button>
        <button type="button" class="btn btn-default" ng-show="dchushow">导出</button>
    </div>
    <!--顶部播放声音的插件-->
    <div class="detail-voice">
        <div class="play-audio-mask">
        </div>
        <div class="palys">
                <span class="play-play">
                    <img src="imgs/play-paly.png" alt=""/>
                </span>
                <span class="play-audios">
                     <img src="imgs/paly-audios.png" alt="">
                </span>
        </div>
        <div class="detail-voice-dialog">
            <div class="votebox" style="margin:120px auto 0 auto">
                <dl class="barbox">
                    <dd class="barline">
                        <div w="100" style="width:0px;" class="charts"></div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<!--手机端-->
<div class="mobile-devices" ng-show="device" style="overflow:hidden;">
    <!--mobile-main-->
    <div class="mobile-main container clearfix">
        <!--mobile-main-principal(相关负责人)-->
        <div class="mobile-main-principal col-xs-12 clearfix">
            <div class="col-xs-5">
                <p><span>负责人:</span>&nbsp;&nbsp;<span>张三三</span></p>
                <p class="line-h22"><span>状态:</span>&nbsp;&nbsp;<span>待确认</span></p>
                <button class="DIY-btn" ng-click="checkModel()">查看模型关联</button>
            </div>
            <div class="col-xs-4">
                <p><span>优先级:</span>&nbsp;&nbsp;<span>{{collaList.priority}}</span></p>
                <p class="line-h22"><span>标识:</span>&nbsp;&nbsp;<i style="width:10px;height:10px;background:blue;display:inline-block;"></i>&nbsp;&nbsp;<span>质量</span></p>
                <button type="button " class="play-audio DIY-btn">播放录音</button>
            </div>
            <div class="col-xs-3 float-rig">
                <p>期限:&nbsp;&nbsp;<span>2016</span></p>
                <p class="line-h22"></p>
            </div>
        </div>
        <!--责任描述-->
        <div class="mobile-job-descrition col-xs-12 clearfix">
            <div class="col-xs-12 mobile-title">
                详情描述:
            </div>
            <div class="col-xs-10 mobile-textarea">
                <textarea  class="form-control" rows="3" >{{collaList.desc}}</textarea>
            </div>
        </div>
        <!--相关人-->
        <div class="mobile-relate col-xs-12">
            <div class="col-xs-2 mobile-relate-title">
                相关人:
            </div>
            <div class="col-xs-10 mobile-relate-con clearfix" >
                <dl ng-repeat="item in collaList.relevants" class="photoImg">
                    <dt><img src="{{item.avatar}}"/></dt>
                    <dd>{{item.username}}</dd>
                    <dd ng-if="!item.isReaded">未读</dd>
                    <dd ng-if="item.isReaded">已读</dd>
                </dl>
            </div>
        </div>
        <!--照片-->
        <div class="mobile-photo col-xs-12 clearfix">
            <div class="photo-title col-xs-2">
                照片:
            </div>
            <div class="photo-con col-xs-10">
                <dl class="photo-list" ng-repeat="item in collaList.pictures">
                    <dt class="rela detail-sear">
                        <img src="{{item.fileUrl}}" ng-click="zoom(item.uuid)"/>
                        <div class="detail-search">
                            <img src="imgs/seache.png" alt="">
                        </div>
                    </dt>
                    <dd>{{name}}13213</dd>
                </dl>
            </div>
        </div>
        <!--资料-->
        <div class="mobile-means col-xs-12 clearfix">
            <div class="means-title col-xs-2">
                资料
            </div>
            <div class="means-con col-xs-10">
                <dl class="means-list" ng-repeat="item in collaList.docs" profit>
                    <dt class="rela means-down">
                        <img src="./imgs/icon/docs-icon.png"  ng-click="previewDocs(item.uuid)"/>
                        <div class="means-address"><img class="detail-down" src="imgs/icon_down.png" class=" a-{{$index}}" ng-click="downDocs(item.uuid)"/><img style="display:none" class="detail-view" src="imgs/seache.png" alt="" ng-click="docsOpen(item.uuid)"></div>
                    </dt>
                    <dd title="{{item.name}}">{{item.name}}</dd>
                </dl>
            </div>
        </div>
        <!--回复-->
        <div class="mobile-reply col-xs-12 clearfix" style="margin-bottom:70px;">
            <div class="reply-title col-xs-2">
                回复：
            </div>
            <div class="reply-con col-xs-10">
                <div class="reply-reply clearfix">
                    <div class="replys clearfix" ng-repeat="item in collaList.comments">
                        <div class="col-xs-4 col-md-1 reply-icon">
                            <img src="{{item.avatar}}" alt="">
                            <p>{{item.commentator}}</p>
                        </div>
                        <div class="col-xs-8 col-md-11 reply-box">
                            <div class="say-content">
                                <div class="break-word">{{item.comment}}</div>
                                <div>
                                    <div class="inline" ng-repeat="doc in item.docs">
                                        <img src="./imgs/icon/icon-doc.png" alt="" style="width:50px">
                                        <div>{{doc.name}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--mobile-footer-->
    <!-- <div class="mobile-footer">
        <button class="DIY-btn" type="button" onclick="bvcoEditDetail()">编辑协作</button>
         <button class="DIY-btn" type="button" onclick="changeDocsStatus()">更改docs预览状态</button>
    </div> -->
    <!--侧边栏里面的按钮样式-->
    <div class="btn_box mobile-phone-turn" id="">
        <span class="glyphicon glyphicon-menu-left show_btn"></span>
        <span class="glyphicon glyphicon-menu-right hide_btn"></span>
    </div>
    <!--右边内容-->
    <div class="content_right" style="">

        <div class="aside">
            <p class="side_title">协作动态</p>
            <div class="status">
                <div class="state rela">
                    <ul>
                        <li ng-repeat="item in operationList">
                            <div class="step">
                                <img src="./imgs/icon/fq-icon.png" alt="" ng-if="item.operation == '添加'" style="padding:4px;">
                                <img src="./imgs/icon/ck-icon.png" alt="" ng-if="item.operation == '查看'" style="padding:4px;margin-top:3px;">
                                <img src="./imgs/icon/jjue-icon.png" alt="" ng-if="item.operation == '拒绝'" style="padding:4px;">
                                <img src="./imgs/icon/js-icon.png" alt="" ng-if="item.operation == '结束'" style="padding:4px;">
                                <img src="./imgs/icon/bj-icon.png" alt="" ng-if="item.operation == '编辑'" style="padding:4px;">
                            </div>
                            <div class="handle">
                                <div class="icon_man"><img src="{{item.avatar}}"/></div>
                                <p>{{item.username}}{{item.operation}}<span>本次协作</span></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="{{transcoid}}" class="trancoid">
<script>
    function changeDocPreview (index) {
        $('.a-'+index+'').removeClass('glyphicon-save').addClass('glyphicon-open-file');
    }
    function animate(){
        $(".charts").each(function(i,item){
            var a=parseInt($(item).attr("w"));
            $(item).animate({
                width: a+"%"
            },1000);
        });
    }
    animate();

    function bvcoEditDetail() {
        var coid = $('.trancoid').val();
        document.location = 'http://192.168.13.222:8080/bimco/#!/editdetail/?coid='+ coid;
    }

    function changeDocsStatus (id) {
        // debugger;
        // console.log( $('.mobile-means').find('.show-icon').eq(0));
        $('.means-list').eq(0).find('.detail-down').css('display','none');
        $('.means-list').eq(0).find('.detail-view').css('display','inline-block');
        //document.location = 'http://192.168.13.222:8080/bimco/#!/editdetail/?testid='+ id;
    }

</script>