<style>
	.content-container {
	   /*height:736px;*/
	 }
	.content-scroll-container {
	    overflow:auto;
	}
    .content-scroll-container::-webkit-scrollbar-track-piece {
      background-color: rgba(0, 0, 0, 0);
      border-left: 1px solid rgba(0, 0, 0, 0);
    }
    .content-scroll-container::-webkit-scrollbar {
      width: 3px;
      height: 10px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
    .content-scroll-container::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.4);
      background-clip: padding-box;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      min-height: 28px;
    }
    .content-scroll-container::-webkit-scrollbar-thumb:hover {
      background-color: rgba(0, 0, 0, 0.4);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
</style>
<div class="mobile-devices" ng-show="device">
    <!--mobile-mark-->
    <div class="mobile-mark"></div>
    <!--mobile-main-->
    <div class="mobile-main container clearfix">
        <!--mobile-main-principal(相关负责人)-->

        <div class="mobile-main-principal col-xs-12 clearfix">
            <p ><span class="F16 oSpan">负责人：</span><span class="F16">{{collaList.collaborator}}</span></p>
            <p><span class="F16 oSpan">优先级：</span><span class="F16">{{collaList.priority}}</span></p>
            <p class=""><span  class="F16 oSpan">状&nbsp;&nbsp;&nbsp;态：</span><span class="F16">{{collaList.status}}</span></p>
            <p ><span class="F16 oSpan">限&nbsp;&nbsp;&nbsp;期：</span><span  class="F16" style="color:{{deadlineStyle}}">{{collaList.deadline | date:'yyyy-MM-dd'}}</span></p>
            <p class=""><span class="F16 oSpan">标&nbsp;&nbsp;&nbsp;识：</span><span class="substr F16" style=" display:inline-block;position: absolute;max-width: 200px;"><i class="chara" style="background:{{collaList.markerInfo.color}};"></i>{{collaList.markerInfo.name}}</span></p>
            <p class=""><span class="F16 oSpan">创建时间：</span><span class=" F16" style=" display:inline-block;position: absolute;">{{collaList.createTime.split(' ')[0]}}</span></p>
            <p class="last-p"><span class="F16 oSpan">更新时间：</span><span class=" F16" style=" display:inline-block;position: absolute;">{{collaList.updateTime.split(' ')[0]}}</span></p>

            <div class="btn-item">
                <div>
                    <button class="DIY-btn paly-model F16"  ng-show="link" ng-click="checkModel()" ><img src="imgs/show_model.png">反查关联</button>
                    <button type="button " class="play-audio DIY-btn F16" ng-show="speachShow"  ng-click="play(speachUrl)"><input type="hidden" ng-model="speachUrl"/><img src="imgs/play.png">播放录音</button>

                   <!--  <button class="DIY-btn paly-model F14"  ng-click="checkModel()" ><img src="imgs/show_model.png">查看模型关联</button>
                    <button type="button " class="play-audio DIY-btn F14" ng-click="play(speachUrl)"><input type="hidden" ng-model="speachUrl"/><img src="imgs/play.png">播放录音</button> -->

                </div>
            </div>
        </div>

        <!--责任描述-->
        <div class="mobile-job-descrition col-xs-12 clearfix">
            <div class="mobile-title F16">
                详情描述:
            </div>
            <div>
               <div class="mobile-textarea text-format break-word" ng-bind-html="collaList.desc | to_trusted"></div>
            </div>
        </div>
        <!--相关人-->
        <div class="mobile-relate col-xs-12">
            <div class="col-xs-2 mobile-relate-title F16" style="width:52px;">
                相关人:
            </div>
            <div class="col-xs-9 col-md-11 mobile-relate-con clearfix" style="float:right;width:82%;margin-bottom:15px;">
                <dl ng-repeat="item in collaList.relevants" class="photoImg" >
                    <dt><img  onerror="this.onerror='';this.src='./imgs/icon/defalut.png'" ng-src="{{item.avatar}}" ng-if="item.avatar"/><img src="./imgs/icon/defalut.png" ng-if="item.avatar==null" alt=""></dt>
                    <dd class="substr" title="{{item.realname}}" ng-class="{'max-width':item.needSign}" style="font-size:14px;">{{item.realname}}</dd>
                    <dd ng-if="!item.isPassed && !item.isRejected && item.isReaded" class="color-gray">已读</dd>
                    <dd ng-if="!item.isPassed && !item.isRejected && !item.isReaded" class="color-green">未读</dd>
                    <dd ng-if="item.isPassed" class="color-blue">已通过</dd>
                    <dd ng-if="item.isRejected" class="color-orange">已拒绝</dd>
                    <div class="detail-sign" ng-if="item.needSign">
                        <img src="imgs/detail-icon-sign.png" alt="">
                    </div>
                </dl>
            </div>

            <div ng-show="isRevlentMore" class="show-more-btn clearfix" style="margin-top:10px;text-align:center;color:#909090;" >
                <span ng-show="showMore" class="bv-more" ng-click="showMorePerson()">显示更多</span>
                <span ng-show="collapse"  class="bv-more " ng-click="collapsePerson()">收起</span>
            </div>
        </div>
        
        <!--照片-->
        <div class="mobile-photo col-xs-12 clearfix">
            <div class="photo-title col-xs-2 F16 col-xs-2"> 照片:</div>
            <div class="photo-con col-xs-10 col-md-11" style="float:right;padding:0 6px">
                <dl class="photo-list" ng-repeat="item in collaList.pictures" profit>
                    <dt class="rela detail-sear"  ng-if="!!item.thumbnailUrl">
                        <img  class="scrollLoading thumb" ng-src="./imgs/icon/pixel.gif" data-url="{{item.thumbnailUrl}}" ng-click="zoom(item.uuid)">
                    </dt>
                    <dt class="rela detail-sear is-empty"  ng-if="!item.thumbnailUrl">
                        <img  class="scrollLoading file-icon" ng-src="./imgs/icon/pixel.gif" data-url="{{item.imgsrc}}" ng-click="zoom(item.uuid)">
                    </dt>
                    <!--<dd class="substr" style="width:70px;">{{item.name}}</dd>-->
                </dl>
            </div>
        </div>
        <!--资料-->
        <div class="mobile-means col-xs-12 clearfix" style="padding-bottom:10px;">
            <div class="means-title col-xs-2 F16">资料：</div>
            <div class="means-con col-xs-10" style="padding:0 6px">
                <dl class="means-list" ng-repeat="item in collaList.docs" profit>
                    <dt class="rela means-down is-empty" ng-if="!!item.thumbnailUrl">
                        <img class="scrollLoading" ng-src="./imgs/icon/pixel.gif" data-url="{{item.thumbnailUrl}}" ng-click="previewDocs(item.uuid)">
                    </dt>
                     <dt class="rela means-down is-empty" ng-if="!item.thumbnailUrl">
                        <img class="scrollLoading" ng-src="./imgs/icon/pixel.gif" data-url="{{item.imgsrc}}"  ng-click="previewDocs(item.uuid)">
                    </dt>
                    <dd title="{{item.name}}" class="is-show">{{item.name}}</dd>
                </dl>
            </div>
        </div>
        <!--回复-->
        <div class="mobile-reply col-xs-12 clearfix" style="margin-bottom:20px;margin-top:15px;">
            <div class="reply-title col-xs-12 F16">  回复：</div>
            <div class="reply-con col-xs-12">
                <div class="reply-reply clearfix">
                    <div class="replys clearfix" ng-repeat="item in collaList.comments track by $index" profit>
                        <div class="reply-icon col-xs-2" style="float:left;padding:0;text-align:left;">
                            <div style="text-align:center;width:55px">
                                <img onerror="this.onerror='';this.src='./imgs/icon/defalut.png'" ng-src="{{item.avatar}}" ng-if="item.avatar">
                                <img src="./imgs/icon/defalut.png" ng-if="item.avatar==null" alt="">
                                <p class="substr F14" style="max-width:55px;!important;">{{item.commentator}}</p>
                            </div>
                        </div>
                        <div class="col-xs-10 reply-box" style="padding:0 6px;">
                            <div class="say-content" style="border:1px solid #ddd;padding:0 6px;">
                                <!-- 状态 -->
                                <div class="dashed" ng-if="item.status">更新状态为：<span style="color:#5c58f9">"{{item.status}}"</span></div>
                                <!-- 评论 -->
                                <div class="dashed break-word text-format" style="font-size:14px;" ng-if="item.comment" id="comment-{{$index}}" ng-bind-html="item.comment | to_trusted"></div>
                                <!-- 资料 -->
                                <div class="dashed comment-doclist" ng-if="item.docs.length">
                                    <dl class="inline F14 read-folder" ng-repeat="doc in item.docs track by $index">
                                        <dt ng-if="!!doc.thumbnailUrl" class="rela">
                                            <img class="scrollLoading thumb" ng-src="./imgs/icon/pixel.gif" data-url="{{doc.thumbnailUrl}}"  ng-click="previewComment($parent.$parent.$index,doc.uuid)">
                                        </dt>
                                        <dt ng-if="!doc.thumbnailUrl" class="rela">
                                            <img class="scrollLoading file-icon" ng-src="./imgs/icon/pixel.gif" data-url="{{doc.imgsrc}}"  ng-click="previewComment($parent.$parent.$index,doc.uuid)">
                                        </dt>
                                        <dd ng-if="!doc.thumbnailUrl" class="substr" title="{{doc.name}}">{{doc.name}}</dd>
                                    </dl>
                                </div>
                                <!-- 录音 -->
                                <div class="dashed" ng-if="item.speech.speechUrl">
                                    <div><button type="button " class="play-audio DIY-btn F14" ng-click="play(item.speech.speechUrl)"><input type="hidden" ng-model="item.speech.speechUrl"/><img src="imgs/play.png">播放录音</button></div>
                                </div>
                                <!-- 时间 -->
                                <div class="comment-time F14" style="color:#909090" ng-if="item.commentTime">{{item.commentTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--mobile-footer-->
    <!-- <div class="mobile-footer">
        <button class="DIY-btn" type="button" onclick="bvcoEditDetail()">编辑协作</button>
         <button class="DIY-btn" type="button" onclick="changeDocsStatus()">更改docs预览状态</button>
    </div> -->
    <!--侧边栏里面的按钮样式-->
    <div class="btn_box_bv mobile-phone-turn" bv-operation style="position:fixed;" ng-click="getOperationList()">
        <i class="glyphicon glyphicon-menu-left show_btn" style="color:#fff;"></i>
        <i class="glyphicon glyphicon-menu-right hide_btn" style="color:#fff;"></i>
    </div>
    <!--右边内容-->
    <div class="content_right_bv" id="content_right_bv">
        <div class="aside">
            <p class="side_title">协作动态</p>
            <div class="status content-container content-scroll-container" infinite-scroll-parent="true">
                <div class="state rela" infinite-scroll-container='".content-scroll-container"'  infinite-scroll="addMoreData()" infinite-scroll-distance="0" infinite-scroll-disabled="scrollend">
                    <ul >
                        <li ng-repeat="item in operationList">
                            <div class="step">
                                <img src="./imgs/icon/fq-icon.png" alt="" ng-if="item.operation == '发起'" style="padding:4px;">
                                <img src="./imgs/icon/ck-icon.png" alt="" ng-if="item.operation == '查看'" style="padding: 8px 0 0 0.5px;">
                                <img src="./imgs/icon/jjue-icon.png" alt="" ng-if="item.operation == '拒绝'" style="padding:4px;">
                                <img src="./imgs/icon/js-icon.png" alt="" ng-if="item.operation == '结束'" style="padding:2px 4px;">
                                <img src="./imgs/icon/bj-icon.png" alt="" ng-if="item.operation == '编辑'" style="padding:4px;">
                                <img src="./imgs/icon/wc-icon.png" alt="" ng-if="item.operation == '通过'" style="padding:4px;">
                                <img src="./imgs/icon/update-icon.png" alt="" ng-if="item.operation == '添加'" style="padding:4px;">
                                <img src="./imgs/icon/update.png" alt="" ng-if="item.operation == '更新'" style="padding: 4px;">
                                <img src="./imgs/icon/icon-signPng.png" alt="" ng-if="item.operation == '签署'" style="padding:4px;height:27px; padding: 7px 0 0px 2.5px;">
                            </div>
                            <div class="handle">
                                <div class="menus-head">
                                    <div class="icon_man"><img  onerror="this.onerror='';this.src='./imgs/icon/defalut.png'" ng-src="{{item.avatar}}" ng-if="item.avatar"/><img src="./imgs/icon/defalut.png" ng-if="item.avatar==null" alt=""></div>
                                    <p class="substr menus-name">{{item.username}}</p>
                                </div>
                                <p class="substr" style="width:100px;">{{item.operation}}<span>本次协作</span></p>
                                <p class="menus-time">{{item.operationTime}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
setTimeout(function(){
    $(document).ready(function(){
        //页面节点加载完成动态给高度
        $('.content-container').height($(window).height()-60);
    })
},0)
</script>
