<link rel="stylesheet" href="./css/scrollnice.css">

<style>
    .content-container {
        height: calc(100vh - 40px) !important;
    }

    .content-scroll-container {
        overflow: auto;
    }

    .carousel-inner .item {
        width: 100px;
        display: inline-block;
    }

    .borderBottom {
        border-bottom: 1px solid #eee;
    }

    .borderNone {
        border: 0;
    }

    .comment .drop-pop {
        bottom: 15px !important;
        left: -13px !important;
    }

    .sign-status .color-gray, .sign-status.color-gray {
        color: #808080 !important;
    }

    .hasSigned-status.color-gray {
        color: #333 !important;
    }

    .font-14-bold {
        padding-right: 10px !important;
        text-align: right;
    }

    .reply p.detail-caption.font-14-bold.col-xs-12.substr.ng-binding {
        text-overflow: unset !important;
    }

    .upload-margin-102 {
        margin-bottom: 102px;
    }

    .upload-margin-50 {
        margin-bottom: 50px;
    }
</style>
<!-- 特殊的返回按钮,当界面数据无法加载,或加载过慢时显示 -->
<div class="detailLg" ng-show="flag.LgDetailMode" ng-mouseenter="detailLg($event,1,'icon-tools')"
     ng-mouseleave="detailLg($event,2,'icon-tools')">
    <div class="detail-computer coop-detail inner detail-infos">
        <header ng-show="!loadComplete">
            <div class="header-operation clearfix">
                <div class="pull-left detail-return absol" style="left:-100px;width:60px;height:30px;"
                     ng-click="backCooperation()">
                    <span class="detail-gt" style="margin-left:15px;display:inline-block"></span>
                    <a style="text-decoration: none;">返回</a>
                </div>
                <span class="change-window"><img src="imgs/icon/icon-close-h.png" alt="" ng-click="close()"></span>
            </div>
        </header>
    </div>
    <div ng-show="loadComplete">
        <div class="detail-computer detail-infos" ng-show="!device ">
            <!--mobile-mark-->
            <div class="mobile-mark"></div>
            <div class="export-mobile-mark"></div>
            <div class="loading-icon"
                 style="display:none;z-index:100;position:fixed;left:50%;top:50%;margin-left:-20px;margin-top:-20px;">
                <img src="./imgs/icon/loading-1.gif" alt=""></div>
            <div class="main" ng-class="collaList.comments.length>0?'upload-margin-50':'upload-margin-102'"
                 style="min-width:320px;">
                <!--main_content-->
                <div class="coop-detail inner">
                    <p class="lines-style1"></p>
                    <div class="clearfix" style="margin:0 auto 13px;width:1360px;min-width:1000px;">
                        <div class="container coop-detail-con clearfix" style="display:inline-block;margin-left:80px;">
                            <div class="pull-left detail-return absol" style="width:60px;height:30px;left:-77px;top:0"
                                 ng-click="backCooperation()" title="返回">
                                <span class="detail-gt" style="margin-left:15px;display:inline-block"></span>
                            </div>
                            <div class="col-md-12 detail-them1" style="padding:0">

                                <span class="icon-coTypeVo" ng-if="collaList.coTypeVo.name=='问题整改'"
                                      style="background-position:0px -90px;"></span>
                                <span class="icon-coTypeVo" ng-if="collaList.coTypeVo.name=='阶段报告'"
                                      style="background-position:0px -111px;"></span>
                                <span class="icon-coTypeVo" ng-if="collaList.coTypeVo.name=='方案报审'"
                                      style="background-position:0px -132px;"></span>
                                <span class="icon-coTypeVo" ng-if="collaList.coTypeVo.name=='方案会签'"
                                      style="background-position:0px -153px;"></span>
                                <span class="icon-coTypeVo" ng-if="collaList.coTypeVo.name=='现场会签'"
                                      style="background-position:0px -174px;"></span>
                                <span class="icon-coTypeVo" ng-if="collaList.coTypeVo.name=='图纸变更'"
                                      style="background-position:0px -195px;"></span>
                                <p class="font-14-bold substr" style="text-align:left;">
                                    <span title="{{collaList.name}}" style="cursor:default;">{{collaList.name}}</span>
                                </p>
                                <!--<img ng-if="collaList.coTypeVo.name=='阶段报告'"  src="imgs/term-report.png" alt="">-->
                            </div>
                            <div class="main_content clearfix" id="detail-1">
                                <!--content_left(中间内容的左边)-->
                                <div class="content_left clearfix">
                                    <div class="proInfo">
                                        <div class="pro_man clearfix row detail-basic" style="margin-top:66px;">
                                            <div class="  col-xs-5">
                                                <div class="F16 "><span class="F16 font-14-bold">负责人：</span><span
                                                        class="coop-name substr font-14 absol">{{collaList.collaborator}}</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="F16"><span class="F16 font-14-bold">标识：</span><span
                                                        class="coop-name substr font-14 absol "
                                                        title="{{collaList.markerInfo.name}}"
                                                        style="max-width:100px;position:absolute"><i class="chara"
                                                                                                     style="background:{{collaList.markerInfo.color}};"></i>{{collaList.markerInfo.name}}</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-3   pad_clear">
                                                <span class="F16 font-14-bold">截止日期：</span>
                                                <p class="coop-name  font-14 absol substr"
                                                   style="color:{{deadlineStyle}};">
                                                    {{collaList.deadline | date:'yyyy-MM-dd'}}</p>
                                            </div>
                                            <div class="col-xs-5">
                                                <div class="F16"><span class="F16 font-14-bold">状态：</span><span
                                                        class="coop-name font-14 absol substr"
                                                        ng-model="status">{{collaList.status}}</span></div>
                                            </div>
                                            <div class="col-xs-4">
                                                <p class="F16"><span class="F16 oSpan font-14-bold">创建人：</span><span
                                                        class="font-14 absol substr"
                                                        style=" display:inline-block;position: absolute;">{{collaList.creator}}</span>
                                                </p>
                                            </div>
                                            <div class="col-xs-3">
                                                <p class="F16"><span class="F16 font-14-bold">创建时间：</span><span
                                                        class=" font-14 absol substr"
                                                        style=" display:inline-block;position: absolute;">{{collaList.createTime.split(' ')[0]}}</span>
                                                </p>
                                            </div>
                                            <div class=" col-xs-5  pad_clear">
                                                <div class="F16"><span class="F16 font-14-bold">优先级：</span><span
                                                        class="coop-name font-14 absol substr">{{collaList.priority}}</span>
                                                </div>
                                            </div>

                                            <div class="col-xs-4">
                                                <div class="F16"><span class="F16 font-14-bold">更新人：</span><span
                                                        class="coop-name font-14 absol substr">{{collaList.updater}}</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <p class="F16"><span class="F16 oSpan font-14-bold">更新时间：</span><span
                                                        class="font-14 absol substr"
                                                        style=" display:inline-block;position: absolute;">{{collaList.updateTimeCopy}}</span>
                                                </p>
                                            </div>
                                            <div class="row" ng-class="{'margin-12':!link}">
                                                <div class="pro_man col-xs-5" ng-if="link">
                                                    <p class="F16"><span class="F16 oSpan font-14-bold">BIM模型：</span><span
                                                            class="absol"
                                                            style="top:2px;display:inline-block;width:69%">
                                                         <a class="coop-name relate-mode substr absol"
                                                            ng-if="links && collaList.projName" href="javascript:;;"
                                                            ng-click="checkModelpc()"
                                                            style="color:#65c17d;width:100%;text-align:left;">{{collaList.projName}}</a>
                                                         <a class="coop-name relate-mode substr absol"
                                                            ng-if="!links && !collaList.projName" href="javascript:;;"
                                                            style="color:#65c17d;width:100%;text-align:left;text-decoration:none;cursor:default;color:#666">未关联工程</a>
                                                    </span></p>
                                                </div>
                                                <div class="pro_man col-xs-7" ng-if="speachShow && !flag.audioPlaying">
                                                    <!---->
                                                    <span class="font-14-bold F16">录音：</span>
                                                    <button type="button" class="btn btn-default play-audio"
                                                            ng-click="getPcMP3Url(collaList.speach.uuid,'')"
                                                            style="color:#65C17D"><input type="hidden"
                                                                                         ng-model="collaList.speach.uuid"><span
                                                            class="icon-play"></span>播放录音
                                                    </button>
                                                </div>
                                                <div class="pro_man col-xs-7" ng-if="speachShow && flag.audioPlaying"
                                                >
                                                    <span class="font-14-bold F16">录音：</span>
                                                    <button type="button" class="btn btn-default play-audio"
                                                            style="color:#65C17D" ng-click="AudioStop('')"><span
                                                            class="glyphicon glyphicon-volume-up"
                                                            style="font-size:21px;padding-right:4px;vertical-align:middle;margin-top:-3px;"></span>取消播放
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                        <!--detail(详情描述)-->
                                        <div class="detail">
                                            <div class="row pc-job-descrition" ng-show="collaList.desc">
                                                <div class="blank col-xs-12">
                                                    <p class="detail-caption font-14-bold col-xs-2 col-md-1">描述：</p>
                                                    <div class="F14 detail-dir text-format col-xs-8 col-md-11"
                                                         style=" word-wrap: break-word;word-break: break-all;"
                                                         ng-bind-html="collaList.desc | to_trusted"
                                                    ></div>
                                                </div>
                                                <!-- <div class="col-xs-12 col-md-12">
                                                     <div class="F14 detail-dir text-format" ng-bind-html="collaList.desc | to_trusted"></div>
                                                 </div>-->
                                            </div>

                                            <!--action(功能)-->
                                            <div class="action row pc-photo" ng-if="collaList.pictures.length>0">
                                                <div class="col-xs-12">
                                                    <p class="detail-caption font-14-bold col-xs-2 col-md-1">照片：</p>
                                                </div>

                                                <div class="col-xs-12 col-md-12 picInfo"
                                                     style="padding-left:80px !important;">
                                                    <div class="swiper-container detaili-swiper-container">
                                                        <div class="photo-list swiper-wrapper">
                                                            <div class="swiper-slide"
                                                                 ng-repeat="item in collaList.pictures"
                                                                 photo-swiper="photoSwiper()">
                                                                <div class="swiper-thumbnail" ng-if="item.thumbnailUrl"
                                                                     ng-click="previewSign(item.uuid,item.name,2)"
                                                                     style="background:url({{item.thumbnailUrl}});background-size:cover"></div>
                                                                <div ng-if="item.thumbnailUrl==null"
                                                                     ng-click="previewSign(item.uuid,item.name,2)">
                                                                    <img ng-src="{{item.imgsrc}}" alt=""
                                                                         ng-click="previewSign(item.uuid,item.name,2)">
                                                                </div>
                                                                <div class="detail-search F14">
                                                                    <a ng-href="{{item.fileUrl}}?name={{item.name}}"><img
                                                                            class="detail-down" src="imgs/icon_down.png"
                                                                            class="a-{{$index}}"/></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- 如果需要导航按钮 -->
                                                    <div class="swiper-button-prev"
                                                         ng-show="collaList.pictures.length>11"><
                                                    </div>
                                                    <div class="swiper-button-next"
                                                         ng-show="collaList.pictures.length>11">>
                                                    </div>
                                                    <!--勿删-->
                                                    <!-- <ks-swiper-container loop="false" width="430" show-nav-buttons="true" slides-per-view="12" slides-per-column="1" space-between="5" pagination-clickable="false">
                                                         <ks-swiper-slide class="swiper-slide" ng-repeat="item in collaList.pictures">
                                                             <img ng-if="item.thumbnailUrl"
                                                                  ng-click="previewSign(item.uuid,item.name,2)"
                                                                  style="width:80px;height:64px;background:url({{item.thumbnailUrl}});background-size:cover">
                                                             <div ng-if="item.thumbnailUrl==null" ng-click="previewSign(item.uuid,item.name,2)">
                                                                 <img ng-src="{{item.imgsrc}}" alt="" ng-click="previewSign(item.uuid,item.name,2)">
                                                             </div>
                                                             <div class="detail-search F14"  >
                                                                 <a ng-href="{{item.fileUrl}}?name={{item.name}}"><img class="detail-down" src="imgs/icon_down.png" class="a-{{$index}}" /></a>
                                                             </div>
                                                         </ks-swiper-slide>
                                                     </ks-swiper-container>-->
                                                </div>
                                            </div>
                                            <div class="action row pc-means" ng-show="collaList.docs.length"
                                                 style="margin-bottom:20px;">
                                                <!--<div class="col-xs-2 col-md-1"></div>-->
                                                <p class="detail-caption font-14-bold absol">资料：</p>
                                                <div class="col-xs-12 picInfo"
                                                     style="padding:0;padding-left:80px !important;">

                                                    <div class="infomation-list">
                                                        <div class="info-subList clearfix"
                                                             ng-repeat="item in collaList.docs" profit>
                                                            <div class="file-name" ng-if="item.thumbnailUrl">
                                                                <span class="infomation-file-icon"></span>
                                                                <p title="{{item.name}}" class="substr"
                                                                   ng-click="previewSign(item.uuid,item.name,1,collaList.isSign,true,'1',true)">
                                                                    {{item.name}}</p>
                                                            </div>
                                                            <div class="file-name" ng-if="!item.thumbnailUrl">
                                                                <span class="infomation-file-icon"></span>
                                                                <p title="{{item.name}}" class="substr"
                                                                   ng-click="previewSign(item.uuid,item.name,1,collaList.isSign,true,'1',true)">
                                                                    {{item.name}}</p>
                                                            </div>
                                                            <div class="infomation-tool">
                                                                <span class="color-gray"
                                                                      ng-if="collaList.isSign !=-1 && item.needSign && item.isSigned"
                                                                      ng-click="addApprove(item.uuid,item.name,1,addApprove,null,false,'2',false)">已签字</span>
                                                                <!-- -->
                                                                <span class="color-green"
                                                                      ng-if="collaList.isSign !=-1 && item.needSign && !item.isSigned"
                                                                      ng-click="addApprove(item.uuid,item.name,1,addApprove,null,false,'2',false)">未签字</span>
                                                                <!---->
                                                                <a ng-href="{{item.fileUrl}}?name={{item.name}}"
                                                                   ng-click="downDocs(item.uuid)">
                                                                    <!--<img class="detail-down" src="imgs/icon_down.png" class="a-{{$index}}" />-->
                                                                    下载</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--相关人-->
                                            <div class="Avatar row mobile-relate">
                                                <div class="col-xs-12" style="margin-bottom: 4px;margin-top:7px;">
                                                    <p class="detail-caption font-14-bold absol">相关人：</p>
                                                    <div class="photo col-xs-12 " style="padding-left:80px !important;">
                                                        <div class="" style="margin-left:-3px;">
                                                            <dl ng-repeat="item in collaList.relevants"
                                                                class="photoImg">
                                                                <dt><img ng-src="{{item.avatar}}"
                                                                         onerror="this.onerror='';this.src='./imgs/icon/defalut.png'"
                                                                         ng-if="item.avatar"/><img
                                                                        src="./imgs/icon/defalut.png"
                                                                        ng-if="item.avatar==null" alt=""></dt>
                                                                <dd class="substr" title="{{!item.realname?item.username:item.realname}}"
                                                                    ng-class="{'max-width':item.needSign}"
                                                                    style="width:50px;margin-top:-3px;">
                                                                    {{!item.realname?item.username:item.realname}}
                                                                </dd>
                                                                <dd ng-class="{'margin-bottom20':isRevlentMore}"
                                                                    ng-if="!item.isPassed && !item.isRejected && item.isReaded"
                                                                    class="color-gray sign-status">已读<span
                                                                        class="color-gray"
                                                                        style="color: #ddd;font-weight: 400;"
                                                                        ng-if="item.needSign">&nbsp;|</span>
                                                                </dd>
                                                                <dd ng-class="{'margin-bottom20':isRevlentMore}"
                                                                    ng-if="!item.isPassed && !item.isRejected && !item.isReaded "
                                                                    class="color-green sign-status">未读<span
                                                                        class="color-gray"
                                                                        style="color: #ddd;font-weight: 400;"
                                                                        ng-if="item.needSign">&nbsp;|</span>
                                                                </dd>
                                                                <dd ng-class="{'margin-bottom20':isRevlentMore}"
                                                                    ng-if="item.isPassed"
                                                                    class="color-blue sign-status">已通过<span
                                                                        class="color-gray"
                                                                        style="color: #ddd;font-weight: 400;"
                                                                        ng-if="item.needSign">&nbsp;|</span>
                                                                </dd>
                                                                <dd ng-class="{'margin-bottom20':isRevlentMore}"
                                                                    ng-if="item.isRejected"
                                                                    class="color-orange sign-status">已拒绝<span
                                                                        class="color-gray"
                                                                        style="color: #ddd;font-weight: 400;"
                                                                        ng-if="item.needSign">&nbsp;|</span>
                                                                </dd>
                                                                <dd ng-class="{'margin-bottom20':isRevlentMore}"
                                                                    ng-if="item.needSign"
                                                                    class="color-orange avatar-status">
                                                                    <a href="javascript:;" ng-if="item.isSigned"
                                                                       class="color-gray hasSigned-status">已签字</a>
                                                                    <a href="javascript:;;" ng-if="!item.isSigned"
                                                                       class="color-green"
                                                                       style="color:#3fce61">未签字</a>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                    <div ng-show="isRevlentMore" class="show-more-btn"
                                                         style="margin-top:10px;text-align:center;color:#909090;">
                                                        <span ng-show="showMore" ng-click="showMorePerson()">显示更多</span>
                                                        <span ng-show="collapse" ng-click="collapsePerson()">收起</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--edit-common-->
                                        <div class="edit-common row">
                                            <div class="col-xs-12"
                                                 ng-class="collaList.comments.length>0?'borderBottom':'borderNone'">
                                                <p class="detail-caption font-14-bold absol">回复：</p>
                                                <div class="col-xs-12 common-textarea">
                                                    <div class="col-offset-xs-1 col-xs-11 text-area clearfix">
                                                        <form name="upcommentForm">
                                                            <input class="upload-docs" type="file" nv-file-select=""
                                                                   uploader="uploader2" multiple nv-file-select=""
                                                                   style="display:none;"/>
                                                            <textarea class="com-padding7" cols="30" rows="4"
                                                                      data-ng-trim="false"
                                                                      placeholder="请输入回复文字"
                                                                      ng-model="commentModel.comment"
                                                                      ng-change="comments(commentModel.comment)"
                                                                      required

                                                                      style="width:100%;resize: none;padding-bottom:28px;"
                                                                      name="desc" maxlength="500"></textarea>
                                                            <p class="tootips-numb" style="top:85px;"><span
                                                                    class=" ng-binding"
                                                                    style="color:#808080;font-size:12px;float:right;margin-top:5px;">({{!commentModel.comment.length?(0+"/"+500):commentModel.comment.length+"/"+500}})</span>
                                                            </p>
                                                            <ul class="uplaod-style">
                                                                <li ng-repeat="item in uploader2.queue" profit
                                                                    ng-click="isNotPreview()">
                                                                    <div class="updata-photo"
                                                                         ng-show="uploader2.isHTML5 && item.file.type.substr(0,5) === 'image'">
                                                                        <div ng-thumb="{ file: item._file, width:80,height:60 }"></div>
                                                                        <div class="updata-hoverStyle">
                                                                            <!-- <span class="absol glyphicon glyphicon-remove local-remove" ng-click="item.remove()"></span>-->
                                                                            <span class="absol upload-close local-remove"
                                                                                  title="删除"
                                                                                  ng-click="item.remove()"></span>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <ul class="unpload-type-file">
                                                                <li ng-repeat="item in uploader2.queue" profit
                                                                    ng-click="isNotPreview()"
                                                                    ng-show="uploader2.isHTML5 && item.file.type.substr(0,5) != 'image'">
                                                                    <span class="icon-type"></span>
                                                                    <span class="upload-name substr"
                                                                          style="display:inline-block;width:80%">{{item.file.name}}</span>
                                                                    <span class="upload-close"
                                                                          title="删除" ng-click="item.remove()"></span>
                                                                </li>
                                                            </ul>
                                                            <div class=" common-tools clearfix">
                                                                <div class="add-affix" ng-click="docsUpload()">
                                                                    <span></span>添加附件
                                                                </div>
                                                                <div class="recf-status" ng-show="zhenggai">
                                                                    <select class="selectpicker col-xs-6"
                                                                            ng-model="statusCommon"
                                                                            ng-change="statusCommons(statusCommon)">
                                                                        <option value="11">空</option>
                                                                        <option value="1">已整改</option>
                                                                        <option value="2">整改中</option>
                                                                        <option value="3">不整改</option>
                                                                        <option value="4">待整改</option>
                                                                        <option value="5">未整改</option>
                                                                    </select>
                                                                </div>
                                                                <div class="submit-common">
                                                                    <button class="" ng-click="updateComment()">提交
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                        <div ng-if="isVisible" class="updata-ply">
                                                            <!--(upcommentForm.desc.$dirty && upcommentForm.desc.$invalid ) || isUpdataOK-->
                                                            <span>回复不能为空</span>
                                                            <!--ng-if ="upcommentForm.desc.$error.required "-->
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!--reply-->
                                        <div class="reply row pc-reply" ng-if="collaList.comments.length>0">
                                            <p class="detail-caption font-14-bold col-xs-12 substr" style="width:90px;">
                                                已回复({{collaList.comments.length}})：</p>
                                            <div class="col-xs-12" style="margin:20px 0 0">
                                                <div class="say clearfix col-xs-12 row"
                                                     ng-repeat="item in collaList.comments" profit>
                                                    <div class="man_pic col-xs-1 absol"
                                                         style="left:-3px;width:50px;float:left;">
                                                        <img onerror="this.onerror='';this.src='./imgs/icon/defalut.png'"
                                                             ng-src="{{item.avatar}}" ng-if="item.avatar"/><img
                                                            src="./imgs/icon/defalut.png" ng-if="item.avatar==null"
                                                            alt="">
                                                        <p class="substr" title="{{item.commentator}}">
                                                            {{item.commentator}}</p>
                                                    </div>
                                                    <div class="comment col-xs-11 "
                                                         style="float:right;position:relative">
                                                        <div class="drop-pop absol comments-pop"
                                                             style="border-right:1px solid #f2f3f5;"></div>
                                                        <!-- 状态 -->
                                                        <div class="dashed" ng-if="item.status">更新状态为：<span
                                                                style="color:#65c17d">"{{item.status}}"</span></div>
                                                        <!-- 评论 -->
                                                        <div class="dashed break-word text-format" ng-if="item.comment"
                                                             id="comment-{{$index}}"
                                                             ng-bind-html="item.comment | to_trusted"></div>
                                                        <!-- 资料 -->
                                                        <div class="dashed comment-doclist" ng-if="item.docs.length">
                                                            <div class="common-picture comments-books" style="">
                                                                <div class="inline"
                                                                     ng-repeat="doc in item.docs track by $index"
                                                                     ng-if="doc.thumbnailUrl">
                                                                    <div class="replay-down" style="height:60px;">
                                                                        <span style="width:80px;height:58px;background:url('{{doc.thumbnailUrl}}') no-repeat center;background-size:cover;display:inline-block;"
                                                                              ng-click="previewSign(doc.uuid,doc.name,2)"></span>
                                                                        <div class="user-down">
                                                                            <a ng-href="{{doc.fileUrl}}?name={{doc.name}}"><img
                                                                                    class="detail-down"
                                                                                    src="imgs/icon_down.png"
                                                                                    class="a-{{$index}}"/></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="inline replay-message comments-books"
                                                                 ng-repeat="doc in item.docs track by $index"
                                                                 ng-if="!doc.thumbnailUrl">
                                                                <div class="reply-data-info">
                                                                    <div class="substr reply-name" title="{{doc.name}}"
                                                                         ng-click="previewSign(doc.uuid,doc.name,2)">
                                                                        <span class="infomation-file-icon"></span>{{doc.name}}
                                                                    </div>
                                                                </div>
                                                                <div class="user-down">
                                                                    <a ng-href="{{doc.fileUrl}}?name={{doc.name}}">下载</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- 录音 -->
                                                        <div class="dashed" ng-if="item.speech.speechUrl">
                                                            <div id="openDetail_{{item.speech.uuid}}">
                                                                <button type="button"
                                                                        class="play-audio DIY-btn F14 btn-replay-audio "
                                                                        ng-click="getPcMP3Url(item.speech.uuid,'comment')">
                                                                    <input type="hidden"
                                                                           ng-model="item.speech.uuid"/><span
                                                                        class="radio-init"></span>播放录音
                                                                </button>
                                                            </div>
                                                            <div id="closeDetail_{{item.speech.uuid}}"
                                                                 style="display:none;">
                                                                <button type="button"
                                                                        class="play-audio DIY-btn F14 btn-replay-audio "
                                                                        ng-click="AudioStop('comment',item.speech.uuid)">
                                                                    <span class="glyphicon glyphicon-volume-up"
                                                                          style="font-size:21px;padding-right:4px;vertical-align:middle;margin-top:-5px;"></span>取消播放
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <!-- 时间 -->
                                                        <div style="text-align:right;padding:10px 0;color:#999"
                                                             ng-if="item.commentTime">{{item.commentTime |
                                                            date:'yyyy-MM-dd HH:mm:ss'}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="icon-tools"><!--ng-class="{true:'bottom0',false:'bottom-51'}[!tgshow || !jjueshow]"-->
                <span class="edit-fun" title="编辑" ng-disabled="!loadComplete" ng-show="bjshow"
                      ng-click="allowEditTrans()"></span>
                <span class="close-fun" title="结束" ng-disabled="!loadComplete" ng-show="jsshow"
                      ng-click="doCollaboration(8)"></span>
                <span class="export-fun" title="导出" ng-disabled="!loadComplete" ng-show="dchushow"
                      ng-click="doExport()"></span>
                <span class="del-fun" title="删除" ng-click="deleteCoop()"></span>
            </div>
            <div class="footer footer-commom" ng-show="tgshow || jjueshow">
                <button type="button" class="btn btn-default foot-btn" style="font-weight:bold;"
                        ng-disabled="(jjueDisable ||tgDisable) || !loadComplete" ng-show="tgshow"
                        style="margin-right:4px"
                        ng-click="doCollaboration(6)">通过
                </button>
                <button type="button" class="btn btn-default foot-btn btn-reject btn-cancel"
                        style="border-color:#B0B3BD" ng-disabled="(jjueDisable ||tgDisable) || !loadComplete"
                        ng-show="jjueshow"
                        ng-click="doCollaboration(7)">拒绝
                </button>
            </div>
        </div>
    </div>
    <!--<div ng-show="!loadComplete">-->
    <!--<img src="./imgs/detail-loading.gif" alt=""-->
    <!--style="position:fixed;left:50%;top:50%;margin-left:-120px;margin-top:-100px;">-->
    <!--</div>-->
    <div class="dialog-mask"></div>
</div>
<script>
    $(function () {
        $('.detailLg .icon-tools>span').map(function () {
            $(this).on('click', function () {
                $('.icon-tools span').removeClass('detail-actives');
                $(this).addClass('detail-actives');
            })
        })
    })
</script>
