<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑协作</title>
    <!--<link rel="stylesheet" href="css/coop-detail-computer.css">-->
    <link rel="stylesheet" href="css/coopeditdetial.css">
</head>
<body>
<!--电脑端-->
<div class="edit-detailC" ng-show="!device">
    <div class="main" style="margin-bottom:50px min-width:320px;">
        <!--main_content-->
        <div class="coop-detail">
            <header >
                <p>编辑协作</p>
                <span class="glyphicon glyphicon-remove close"></span>
            </header>
            <div class="container">
                <div class="main_content clearfix">
                    <!--content_left(中间内容的左边)-->
                    <div class="content_left clearfix">
                        <div class="proInfo">
                            <div class="pro_man clearfix row">
                                <div class="coop-theme row clearfix col-md-12">
                                    <span class=" theme-title" >协作主题：</span>
                                    <input type="text" class="int-style"  ng-model="collaList.coTypeVo.name">
                                </div>
                                <div class="col-xs-5 col-md-5 basicInfo">
                                    <div> <span>负责人:</span><input type="text" class="int-style" ng-model="collaList.collaborator"></div>
                                    <div> 
                                        <span class="edit-state">状态:</span>
                                        <div class="inline int-style">{{collaList.status}}</div>
                                        <!-- <select class="identify col-xs-6" ng-model="status"  ng-show="zhenggai">
                                            <option value="-1">空</option>
                                            <option value="1">已整改</option>
                                            <option value="2">整改中</option>
                                            <option value="3">不整改</option>
                                            <option value="4">待整改</option>
                                            <option value="5">未整改</option>
                                        </select>
                                         <select class="identify col-xs-6" ng-model="status"  ng-show="!zhenggai">      
                                            <option value="6">待确认</option>
                                            <option value="7">进行中</option>
                                        </select> -->
                                    </div>
                                </div>
                                <div class="col-xs-5 col-md-4 pad_clear basicInfo" show-select>
                                    <div style="margin-bottom:0"> 
                                        <span class="edit-state">优先级:</span>
                                        <select class="selectpicker col-xs-6 priority" ng-model="priority">
                                            <option value="1">Ⅰ</option>
                                            <option value="2">Ⅱ</option>
                                            <option value="3">Ⅲ</option>
                                        </select>
                                    </div>
                                    <div style="margin-bottom:0"> <span class="edit-state">标识:</span>
                                        <select class="col-xs-6 selectpicker" ng-model="mark1" ng-options="item.picMarker for item in markerList1" ng-click="switchMark(mark1)">
                                            <!--<option value=""><i style="display:inline-block;margin-right:10px;width:10px;height:10px;background:blue;"></i></option>-->
                                            <!--<option value=""><i style="display:inline-block;margin-right:10px;width:10px;height:10px;background:blue;"></i></option>-->
                                            <!--<option value=""><i style="display:inline-block;margin-right:10px;width:10px;height:10px;background:blue;"></i></option>-->
                                            <!--<option value=""><i style="display:inline-block;margin-right:10px;width:10px;height:10px;background:blue;"></i></option>-->
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-md-3 pad_clear basicInfo" style="float:right">
                                    <span class="edit-state edit-date" >期限:</span>
                                    <div class="input-group col-md-9 row" style="display:inline-block;">
                                        <input type="text" class="int-style col-md-6"  uib-datepicker-popup style="width:155px;" ng-model="dt"  is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭"  clear-text="清除" current-text="今天"/>
                                              <span class="input-group-btn col-md-4" style="margin-top:-25px;">
                                                    <button type="button" class="btn btn-default edit-calendar" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                              </span>
                                    </div>
                                </div>
                            </div>
                            <!--detail(详情描述)-->
                            <div class="detail">
                                <div class="row " >
                                    <div class="blank col-xs-12 ">
                                        <p>详情描述:</p>
                                    </div>
                                    <div class="col-xs-8 col-md-12">
                                        <textarea class="form-control" rows="5" ng-model="collaList.desc"></textarea>
                                    </div>
                                </div>
                                <div class="Avatar row">
                                    <div class="col-xs-3 col-md-1">
                                        <p>相关人物:</p>
                                    </div>
                                    <div class="photo col-xs-8 col-md-10">
                                        <dl class="photoImg"  ng-repeat="item in collaList.relevants">
                                            <dt><img ng-src="{{item.avatar}}"/></dt>
                                            <dd>{{item.username}}</dd>
                                            <dd ng-if="!item.isReaded">未读</dd>
                                            <dd ng-if="item.isReaded">已读</dd>
                                        </dl>
                                        <div class="inline add-chioce">
                                            <dl class="inline photoImg" ng-repeat="item in related.sign" style="text-align:center;">
                                                <dt class="rela"><img src="{{item.avatar}}" alt=""><span class="absol glyphicon glyphicon-pencil" style="right:5px;top:28px;color:#1298DD"></span></dt>
                                                <dd>{{item.username}}</dd>

                                            </dl>
                                        </div>
                                        <div class="inline add-chioce">
                                            <dl class="inline photoImg" ng-repeat="item in related.noSign ">
                                                <dt><img src="{{item.avatar}}" alt=""></dt>
                                                <dd>{{item.username}}</dd>

                                            </dl>
                                        </div>
                                        <!--<div class="inline add-chioce" style="border-right:1px solid #ccc;">-->
                                            <!--<dl class="inline rela add-img" ng-repeat="item in related.sign">-->
                                                <!--<dt><img src="{{item.avatar}}" alt=""><span class="absol glyphicon glyphicon-pencil" style="right:16px;top:28px;color:#1298DD"></span></dt>-->
                                               <!--<dd>{{item.username}}</dd>-->
                                            <!--</dl>-->
                                        <!--</div>-->
                                        <!--<div class="inline add-chioce">-->
                                            <!--<dl class="inline add-img" ng-repeat="item in related.noSign ">-->
                                               <!--<dt><img src="{{item.avatar}}" alt=""></dt>-->
                                                <!--<dd>{{item.username}}</dd>-->
                                            <!--</dl>-->
                                        <!--</div>-->
                                        <button class="btn add-related " ng-click="selectRelated()"><span>+</span></button>

                                    </div>
                                </div>

                            </div>
                            <!--action(功能)-->
                            <div class="action row">
                                <div class="col-xs-2 col-md-1">
                                    <p>照片：</p>
                                </div>
                                <div class="col-xs-8 col-md-11 picInfo ">
                                    <dl class="data-list" ng-repeat="item in collaList.pictures" >
                                        <dt class="rela detail-sear">
                                            <img src="{{item.fileUrl}}" />
                                        <div class="detail-search">
                                            <img src="imgs/seache.png" alt="">
                                        </div>
                                        </dt>
                                        <dd>{{name}}</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="action row">
                                <div class="col-xs-2 col-md-1">
                                    <p>资料：</p>
                                </div>
                                <div class="col-xs-8 col-md-11 picInfo">
                                    <!-- <dl class="data-list">
                                        <dt class="rela"><img src="imgs/saber.jpg" ng-click="zoom()"/><div class="absol show-icon"><span class="glyphicon glyphicon-zoom-in"></span><span class="glyphicon glyphicon-save"></span><span class="glyphicon glyphicon-map-marker"></span></div></dt>
                                        <dd>打桩</dd>
                                    </dl> -->
                                    <dl class="data-list" ng-repeat="item in collaList.docs"  profit>
                                        <dt class="rela deta-down"><img ng-src="{{item.fileUrl}}" /><div class="absol show-icon"></span><a ng-href="{{item.fileUrl}}"><img class="detail-down" src="imgs/icon_down.png" class=""></a></div></dt>
                                        <dd title="{{item.name}}">{{item.name}}</dd>
                                    </dl>
                                </div>
                            </div>
                            <!--reply-->
                            <div class="reply row">
                                <div class="col-md-1 col-xs-2">
                                    <p>回复:</p>
                                </div>
                                <div class="col-md-11 col-xs-10">
                                    <div class="say clearfix" ng-repeat="item in collaList.comments">
                                        <div class="col-xs-4 col-md-1 man_pic">
                                            <img src="{{item.avatar}}" alt="">
                                            <p>{{item.commentator}}</p>
                                        </div>
                                        <div class="col-xs-8 col-md-11 comment" style="min-height:75px">
                                            <div class="say-content" style="margin: 15px 0;">
                                            <div>{{item.comment}}</div>
                                            <div>
                                                <div class="inline" ng-repeat="doc in item.docs">
                                                    <img src="./imgs/icon/icon-doc.png" alt="">
                                                    <div>{{doc.name}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--reply-->
                            <!--<div class="reply row">-->
                            <!--<div class="col-md-1 col-xs-2">-->
                            <!--<p>回复:</p>-->
                            <!--</div>-->

                            <!--</div>-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <button type="button" class="btn a-222 btn-default" ng-click="ok()">确定</button>
        <button type="button" class="btn btn-default" ui-sref="coopdetail({coid: transcoid})">取消</button>
    </div>

</div>
<!--手机端-->
<div class="mobile-devices" ng-show="device" style="overflow:hidden;">
    <!--mobile-main-->
    <div class="mobile-main container clearfix">
        <!--mobile-main-principal(相关负责人)-->
        <div class="mobile-main-principal col-xs-12 clearfix">
            <div class="col-xs-12 mobile-uBasicInfo">
                    <div class="col-xs-6 col-md-6 userInfo">
                        <div class="row">
                            <em class="col-xs-4">负责人:</em>
                            <div class="col-xs-6"><input type="input" class="int-styleMobile"  ng-model="collaList.collaborator"/></div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6 sel-style userInfo" style="padding:0 10px;float:right;">
                        <div class="row">
                             <em class="col-xs-4">优先级:</em>
                             <div class="col-xs-6">
                                 <select class="identify selectpicker col-xs-6 priority" ng-model="priority">
                                    <option value="1">Ⅰ</option>
                                    <option value="2">Ⅱ</option>
                                    <option value="3">Ⅲ</option>
                                </select>
                             </div>
                        </div>
                       
                        
                    </div>
                <!--期限-->
                    <div class="col-xs-6 col-md-6  basicInfo userInfo mobile-day" style="clear:both;">
                        <em class="edit-state edit-date" >期限:</em>
                        <input type="text" class="int-styleMobile"  uib-datepicker-popup style="width:100px;" ng-model="dt"  is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭"  clear-text="清除" current-text="今天"/>
                            <a href="javascript:;;" class="mobile-cal" type="button" class="btn btn-default edit-calendar" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></a>
                    </div>
                    <div class="col-xs-6 col-md-6 sel-style userInfo" >&nbsp;&nbsp;&nbsp;<em>状态:</em>&nbsp;&nbsp;
                    <div class="inline int-styleMobile">{{collaList.status}}</div>
                        <!-- <select class="identify col-xs-6" ng-model="status"  ng-show="zhenggai">
                            <option value="-1">空</option>
                            <option value="1">已整改</option>
                            <option value="2">整改中</option>
                            <option value="3">不整改</option>
                            <option value="4">待整改</option>
                            <option value="5">未整改</option>
                        </select>
                        <select class="identify col-xs-6" ng-model="status"  ng-show="!zhenggai">      
                            <option value="6">待确认</option>
                            <option value="7">进行中</option>
                        </select> -->
                    </div>
                <div class="col-xs-6 col-md-6 sel-style userInfo" style="clear:both;" ><em>标识:</em>
                    <select class="identify col-xs-6" ng-model="mark1" ng-options="item.picMarker for item in markerList1" ng-click="switchMark(mark1)">
                    </select>
                </div>

            </div>
            <!--<div class="col-xs-4">-->
                <!--<p><span>优先级:</span>&nbsp;&nbsp;<span>II</span></p>-->
                <!--<p class="line-h22"><span>标识:</span>&nbsp;&nbsp;<i style="width:10px;height:10px;background:blue;display:inline-block;"></i>&nbsp;&nbsp;<span>质量</span></p>-->
            <!--</div>-->
            <!--<div class="col-xs-3 float-rig">-->
                <!--<p>期限:&nbsp;&nbsp;<span>2016</span></p>-->
                <!--<p class="line-h22"></p>-->
            <!--</div>-->
        </div>
        <!--责任描述-->
        <div class="mobile-job-descrition col-xs-12 clearfix">
            <div class="col-xs-12 mobile-title">
                详情描述:
            </div>
            <div class="col-xs-10 mobile-textarea">
                <textarea  class="form-control" rows="3" >{{collaList.desc}}</textarea>
            </div>
        </div>
        <!--相关人-->
        <div class="mobile-relate col-xs-12">
            <div class="col-xs-2 mobile-relate-title">
                相关人:
            </div>
            <div class="col-xs-10 mobile-relate-con clearfix" >
                <dl ng-repeat="item in collaList.relevants" class="photoImg">
                    <dt><img src="{{item.avatar}}"/></dt>
                    <dd>{{item.username}}</dd>
                    <dd ng-if="!item.isReaded">未读</dd>
                    <dd ng-if="item.isReaded">已读</dd>
                </dl>
            </div>
        </div>
        <!--照片-->
        <div class="mobile-photo col-xs-12 clearfix">
            <div class="photo-title col-xs-2">
                照片:
            </div>
            <div class="photo-con col-xs-10">
                <dl class="photo-list" ng-repeat="item in collaList.pictures">
                    <dt class="rela detail-sear">
                        <img src="{{item.fileUrl}}" ng-click="zoom(item.uuid)"/>
                    <div class="detail-search">
                        <img src="imgs/seache.png" alt="">
                    </div>
                    </dt>
                    <dd>{{name}}13213</dd>
                </dl>
            </div>
        </div>
        <!--资料-->
        <div class="mobile-means col-xs-12 clearfix">
            <div class="means-title col-xs-2">
                资料
            </div>
            <div class="means-con col-xs-10">
                <dl class="means-list" ng-repeat="item in collaList.docs" profit>
                    <dt class="rela means-down">
                    <img src="./imgs/icon/docs-icon.png"  ng-click="previewDocs(item.uuid)"/>
                        <div class="means-address">
                            <img class="detail-down" src="imgs/icon_down.png" class=" a-{{$index}}" ng-click="downDocs(item.uuid)"/>
                            <img style="display:none" class="detail-view" src="imgs/seache.png" alt="" ng-click="docsOpen(item.uuid)">
                        </div>
                    </dt>
                    <dd title="{{item.name}}">{{item.name}}</dd>
                </dl>
            </div>
        </div>
        <!--回复-->
        <div class="mobile-reply col-xs-12 clearfix">
            <div class="reply-title col-xs-2">
                回复：
            </div>
            <div class="reply-con col-xs-10">
                <div class="reply-reply clearfix">
                    <div class="replys clearfix" ng-repeat="item in collaList.comments">
                        <div class="col-xs-4 col-md-1 reply-icon">
                            <img src="{{item.avatar}}" alt="">
                            <p>{{item.commentator}}</p>
                        </div>
                        <div class="col-xs-8 col-md-11 reply-box">
                            <div class="say-content">
                                <div>{{item.comment}}</div>
                                <div>
                                    <div class="inline" ng-repeat="doc in item.docs">
                                        <img src="./imgs/icon/icon-doc.png" alt="" style="width:50px">
                                        <div>{{doc.name}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--mobile-footer-->
    <div class="mobile-footer">
        <button class="DIY-btn" type="button"  ng-click="ok()">确定</button>
        <button class="DIY-btn" type="button" ui-sref="coopdetail({coid: transcoid})">取消</button>
    </div>
</div>
</body>
</html>