<style type="text/css">
    .right-modal .modal-dialog{
        position: fixed;
        right: 0;
        top: 100px;
        bottom: 0px;
        height: 100%;
        width: auto;
    }
    .modal-content {
        height: 100%;
    }
</style>
<div class="addcoo">
    <div class="modal-header">
        <h3 class="modal-title">选择负责人</h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="row"><span class="glyphicon glyphicon-remove align-right block close" ng-click="closeNew()"></span></div>
            <div class="row">
                <div class="col-md-6" ng-repeat="items in typeList"><a ng-click="trans(items.typeId)" style="background-color:{{items.color}}">{{items.name}}</a></div>
            </div>
            <div class="row">
                <div class="col-xs-6">12</div>
                <div class="col-xs-6">12</div>
            </div>
        </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="form1.$invalid">确定</button> 
        <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
    </div>
</div>
