
<!--header-->
<link rel="stylesheet" href="css/coop-detail.css">

<div class="main" style="margin-bottom:50px min-width:320px;">
    <!--main_content-->
    <div class="coop-detail">
        <header >
            <p>质量整改通知单</p>
            <span class="glyphicon glyphicon-remove close"></span>
        </header>
        <div class="main_content clearfix">
        <!--content_left(中间内容的左边)-->
            <div class="content_left clearfix">
                <div class="proInfo">
                    <div class="pro_man clearfix row">
                        <div class="col-xs-4">
                           <div> <span>负责人:</span><span>{{collaList.collaborator}}</span></div>
                           <div> <span>状态:</span><span>{{collaList.status}}</span></div>
                            <button type="button" class="btn" ng-click="checkModel()">查看模型关联</button>
                        </div>
                        <div class="col-xs-5">
                            <div> <span>优先级:</span><span>{{collaList.priority}}</span></div>
                            <div> <span>标识:</span><span><i style="display:inline-block;margin-right:10px;width:10px;height:10px;background:blue;"></i>{{collaList.markerInfo.name}}</span></div>
                            <button type="button" class="btn">播放录音</button>
                        </div>
                        <div class="col-xs-3">
                            <span>期限:</span><p>{{collaList.deadline}}</p>
                        </div>
                    </div>
                    <!--detail(详情描述)-->
                    <div class="detail">
                       <div class="row">
                           <div class="blank col-xs-3 col-md-1">
                                <p>详情描述</p>
                            </div>
                            <div class="col-xs-8 col-md-10">
                                <textarea class="form-control" rows="5" >{{collaList.desc}}</textarea>
                            </div>
                       </div>
                        <div class="Avatar row">
                            <div class="col-xs-3 col-md-1">
                                <p>相关人物</p>
                            </div>
                            <div class="photo col-xs-8 col-md-10">
                                <dl ng-repeat="item in collaList.relevants">
                                    <dt><img src="{{item.avatar}}"/></dt>
                                    <dd>{{item.username}}</dd>
                                    <dd ng-if="!item.isReaded">未读</dd>
                                    <dd ng-if="item.isReaded">已读</dd>
                                </dl>
                            </div>
                        </div>

                    </div>
                    <!--action(功能)-->
                    <div class="action row">
                        <div class="col-xs-3 col-md-1">
                            <p>照片：</p>
                        </div>
                        <div class="col-xs-8 col-md-11 picInfo">
                            <dl class="data-list" ng-repeat="item in collaList.pictures">
                                <dt class="rela"><img src="{{item.fileUrl}}" ng-click="zoom(item.uuid)"/></dt>
                                <dd>{{name}}</dd>
                            </dl>
                        </div>
                        </div>
                        <div class="action row">
                            <div class="col-xs-2 col-md-1">
                                <p>资料：</p>
                            </div>
                            <div class="col-xs-8 col-md-10 picInfo">
                                <!-- <dl class="data-list">
                                    <dt class="rela"><img src="imgs/saber.jpg" ng-click="zoom()"/><div class="absol show-icon"><span class="glyphicon glyphicon-zoom-in"></span><span class="glyphicon glyphicon-save"></span><span class="glyphicon glyphicon-map-marker"></span></div></dt>
                                    <dd>打桩</dd>
                                </dl> -->
                                <dl class="data-list" ng-repeat="item in collaList.docs">
                                    <dt class="rela"><img src="item.fileUrl" ng-click="previewDocs(item.uuid)"/><div class="absol show-icon"></span><span class="glyphicon glyphicon-save a-{{$index}}" ng-click="downDocs(item.uuid)"></span></div></dt>
                                    <dd title="{{item.name}}">{{item.name}}</dd>
                                </dl>
                            </div>
                    </div>
                    <!--reply-->
                    <div class="reply row">
                        <div class="col-md-1 col-xs-2">
                            <p>回复:</p>
                        </div>
                        <div class="col-md-11 col-xs-10">
                            <div class="col-xs-4 col-md-1 man_pic">
                                <img src="imgs/saber.jpg" alt="">
                                <p>张三三</p>
                            </div>
                            <div class="col-xs-8 col-md-10 comment">
                                <div>今天不吃饭</div>
                            </div>
                        </div>
                    </div>
                    <!--reply-->
                    <div class="reply row">
                        <div class="col-md-1 col-xs-2">
                            <p>回复:</p>
                        </div>
                        <div class="col-md-11 col-xs-10">
                            <div class="col-xs-4 col-md-1 man_pic">
                                <img src="imgs/saber.jpg" alt="">
                                <p>张三三</p>
                            </div>
                            <div class="col-xs-8 col-md-10 comment">
                                <div>今天不吃饭</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!--侧边栏里面的按钮样式-->
            <div class="btn_box" id="btn_box">
                <span class="glyphicon glyphicon-menu-left show_btn"></span>
                <span class="glyphicon glyphicon-menu-right hide_btn"></span>
            </div>
        <!--右边内容-->
         <div class="content_right">
           
            <div class="aside">
                <p class="side_title">协作动态</p>
                <div class="status">
                <div class="state rela">
                    <ul>
                        <li>
                            <div class="step"></div>
                            <div class="handle">
                                <div class="icon_man"><img src="imgs/saber.jpg"/></div>
                                <p>张三三拒绝了<span>本次协作</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="step"></div>
                            <div class="handle">
                                <div class="icon_man"><img src="imgs/saber.jpg"/></div>
                                <p>张三三拒绝了<span>本次协作</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="step"></div>
                            <div class="handle">
                                <div class="icon_man"><img src="imgs/saber.jpg"/></div>
                                <p>张三三拒绝了<span>本次协作</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="step"></div>
                            <div class="handle">
                                <div class="icon_man"><img src="imgs/saber.jpg"/></div>
                                <p>张三三拒绝了<span>本次协作</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="step"></div>
                            <div class="handle">
                                <div class="icon_man"><img src="imgs/saber.jpg"/></div>
                                <p>张三三拒绝了<span>本次协作</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="step"></div>
                            <div class="handle">
                                <div class="icon_man"><img src="imgs/saber.jpg"/></div>
                                <p>张三三拒绝了<span>本次协作</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="step"></div>
                            <div class="handle">
                                <div class="icon_man"><img src="imgs/saber.jpg"/></div>
                                <p>张三三拒绝了<span>本次协作</span></p>
                            </div>
                        </li>

                    </ul>
                </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="footer">
        <button type="button" class="btn a-222">编辑协作</button>
        <button type="button" class="btn" onclick="changePic(0)">添加更新</button>
        <button type="button" class="btn">用过</button>
        <button type="button" class="btn">拒绝</button>
        <button type="button" class="btn">结果</button>
        <button type="button" class="btn">导出</button>
    </div>
    <script>
        function changeDocPreview (index) {
            $('.a-'+index+'').removeClass('glyphicon-save').addClass('glyphicon-open-file');
        }
    </script>