<div class="detail-computer" ng-show="!device && !isPreview">
    <!--mobile-mark-->


    
    <div class="main" style="margin-bottom:50px;min-width:320px;">
        <!--main_content-->
        <div class="coop-detail">
            <header >
                <p class="F16 header-title" ><span class="substr" title="{{collaList.coTypeVo.name+'通知单'}}">{{collaList.coTypeVo.name+'通知单'}}</span></p>
                <span class="glyphicon glyphicon-remove close" ui-sref="cooperation"></span>
            </header>
            <div class="container coop-detail-con">
            <div class="main_content clearfix">
            <!--content_left(中间内容的左边)-->
                <div class="content_left clearfix">
                    <div class="proInfo">
                        <div class="pro_man clearfix row">
                            <div class="col-xs-5 col-md-5">
                               <div class="F16"> <span>负责人:</span><span class="coop-name" >{{collaList.collaborator}}</span></div>
                               <div  class="F16"> <span>状态:</span><span class="coop-name" ng-model="status">{{collaList.status}}</span></div>
                            </div>
                            <div class="col-xs-5 col-md-5 pad_clear">
                                <div  class="F16"> <span>优先级:</span><span class="coop-name">{{collaList.priority}}</span></div>
                                <div  class="F16"> <span>标识:</span><span class="coop-name substr" title="{{collaList.markerInfo.name}}" style="max-width:100px;position:absolute"><i class ="chara"style="background:{{collaList.markerInfo.color}};"></i>{{collaList.markerInfo.name}}</span></div>
                            </div>
                            <div class="col-xs-2 col-md-2 pad_clear">
                                <span  class="F16">限期:</span><p class="coop-name" style="color:{{deadlineStyle}}">{{collaList.deadline | date:'yyyy-MM-dd'}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <!---->
                            <!-- <div class="pro_man col-xs-5" ng-if="link">
                                 <button  type="button" class="btn btn-default look-model" ng-click="checkModelpc()"><img src="imgs/show_model.png">查看模型关联</button>
                            </div>
                            <div class="pro_man col-xs-7" ng-if="speachShow">
                               <button  type="button" class="btn btn-default play-audio" ng-click="play()"><img src="imgs/play.png"/>播放录音</button>
                            </div> -->

                             <div class="pro_man col-xs-5" ng-if="link">
                                 <button  type="button" class="btn btn-default look-model" ng-click="checkModelpc()"><img src="imgs/show_model.png">查看模型关联</button>
                            </div>
                            <div class="pro_man col-xs-7" ng-if="speachShow">
                               <button type="button" class="btn btn-default play-audio"  ng-click="play(speachUrl)"><input type="hidden" ng-model="speachUrl"><img src="imgs/play.png">播放录音</button>
                            </div>
                            
                        </div>
                        <!--detail(详情描述)-->
                        <div class="detail">
                           <div class="row pc-job-descrition" >
                               <div class="blank col-xs-12">
                                    <p class="F16">详情描述:</p>
                                </div>
                                <div class="col-xs-8 col-md-12">
                                    <div class="F14 detail-dir text-format"  >{{collaList.desc}}</div>
                                </div>
                           </div>
                            <div class="Avatar row mobile-relate">
                                <div class="col-xs-3 col-md-1">
                                    <p class="F16">相关人:</p>
                                </div>
                                <div class="photo col-xs-8 col-md-10">
                                    <dl ng-repeat="item in collaList.relevants" class="photoImg">
                                        <dt><img ng-src="{{item.avatar}}"  onerror="this.onerror='';this.src='./imgs/icon/defalut.png'" ng-if="item.avatar"/><img src="./imgs/icon/defalut.png" ng-if="item.avatar==null" alt=""></dt>
                                        <dd class="substr" title="{{item.username}}" style="width:100px;">{{item.username}}</dd>
                                        <dd ng-if="!item.isReaded">未读</dd>
                                        <dd ng-if="item.isReaded">已读</dd>
                                    </dl>

                                </div>
                            </div>

                        </div>
                        <!--action(功能)-->
                        <div class="action row pc-photo">
                            <div class="col-xs-2 col-md-1">
                                <p class="F16">照片：</p>
                            </div>
                            <div class="col-xs-8 col-md-11 picInfo ">
                                <dl class="data-list" ng-repeat="item in collaList.pictures">
                                    <dt class="rela detail-sear" style="background:url({{item.thumbnailUrl}});background-size:cover">
                                        <!--<img src="{{item.thumbnailUrl}}" ng-click="pcZoom(item.name,item.uuid)"/>-->
                                        <div class="detail-search F14" ng-click="pcPreView(item.name, item.uuid)">
                                             <img src="imgs/seache.png" alt="">
                                        </div>
                                    </dt>
                                    <dd class="substr" title="{{item.name}}" style="width:118px;">{{item.name}}</dd>
                                </dl>
                            </div>
                            </div>
                            <div class="action row pc-means">
                                <div class="col-xs-2 col-md-1">
                                    <p class="F16">资料：</p>
                                </div>
                                <div class="col-xs-8 col-md-11 picInfo">
                                    <dl class="data-list" ng-repeat="item in collaList.docs" profit>
                                        <dt class="rela deta-down">
                                            <img ng-src="{{item.imgsrc}}"   ng-click="pdfSign(item.uuid,item.name,item.fileType)">
                                            <div class="absol show-icon">
                                                <a ng-href="{{item.fileUrl}}"><img class="detail-down" src="imgs/icon_down.png" class=" a-{{$index}}" ng-click="downDocs(item.uuid)"/></a>
                                            </div>
                                        </dt>
                                        <dd title="{{item.name}}" class="substr">{{item.name}}</dd>
                                    </dl>
                                </div>
                        </div>
                        <!--reply-->
                        <div class="reply row pc-reply">
                            <div class="col-md-1 col-xs-2">
                                <p class="F16">回复:</p>
                            </div>
                            <div class="col-md-11 col-xs-10">
                                <div class="say clearfix col-xs-12" ng-repeat="item in collaList.comments">
                                    <div class="col-xs-4 col-md-1 man_pic">
                                        <img ng-src="{{item.avatar}}" alt="">
                                        <p>{{item.commentator}}</p>
                                    </div>
                                        <div class="col-xs-8 col-md-11 comment">
                                            <div class="say-content">
                                                <div>{{item.comment}}</div>
                                                <div class="say-pic">
                                                    <div class="inline look-return"  ng-repeat="doc in item.docs"  >
                                                        <span><img style="width:50px;height:50px;background:url('{{doc.imgsrc}}');background-size:cover;display:inline-block;"   class="reply-other"  ng-click="pcPreView(doc.name, doc.uuid)"/></span>
                                                        <div class="substr" title="{{doc.name}}">{{doc.name}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="break-word text-format say-time" style="clear:both;">{{item.commentTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!--问题整改-->
                <div class="pro_solve">
                    <img src="imgs/pro_solve.png" alt="">
                </div>
        </div>
        </div>
        <!--侧边栏里面的按钮样式-->
        <div class="btn_box_pc" id="btn_box" style="top:60px" pc-operation>
            <span class="glyphicon glyphicon-menu-left show_btn"></span>
            <span class="glyphicon glyphicon-menu-right hide_btn"></span>
        </div>
        <!--右边内容-->
        <div class="content_right_pc" style="top:60px">
            <div class="aside">
                <p class="side_title">协作动态</p>
                <div class="status">
                    <div class="state rela">
                        <ul>
                            <li ng-repeat="item in operationList">
                                <div class="step">
                                    <img src="./imgs/icon/fq-icon.png" alt="" ng-if="item.operation == '发起'" style="padding:4px;">
                                    <img src="./imgs/icon/ck-icon.png" alt="" ng-if="item.operation == '查看'" style="padding: 7px 0 0 3.5px;">
                                    <img src="./imgs/icon/jjue-icon.png" alt="" ng-if="item.operation == '拒绝'" style="padding:4px;">
                                    <img src="./imgs/icon/js-icon.png" alt="" ng-if="item.operation == '结束'" style="padding:2px 4px;">
                                    <img src="./imgs/icon/bj-icon.png" alt="" ng-if="item.operation == '编辑'" style="padding:4px;">
                                    <img src="./imgs/icon/wc-icon.png" alt="" ng-if="item.operation == '通过'" style="padding:4px;">
                                    <img src="./imgs/icon/update-icon.png" alt="" ng-if="item.operation == '添加'" style="padding:4px;">
                                    <img src="./imgs/icon/update.png" alt="" ng-if="item.operation == '更新'" style="padding:4px;">
                                </div>
                                <div class="handle">
                                    <div class="icon_man"><img ng-src="{{item.avatar}}"/></div>
                                    <p>{{item.username}}{{item.operation}}<span>本次协作</span></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="footer">
        <button type="button" class="btn a-222 btn-default foot-btn"  ng-click="allowEditTrans()" ng-show="bjshow">编辑协作</button>
        <button type="button" class="btn btn-default foot-btn" ng-click="updateComment()" ng-show="tjshow">添加更新</button>
        <button type="button" class="btn btn-default foot-btn" ng-show="tgshow" ng-click="doCollaboration(6)">通过</button>
        <button type="button" class="btn btn-default foot-btn" ng-show="jjueshow" ng-click="doCollaboration(7)">拒绝</button>
        <button type="button" class="btn btn-default foot-btn" ng-show="jsshow" ng-click="doCollaboration(8)">结束</button>
        <button type="button" class="btn btn-default foot-btn" ng-show="dchushow">导出</button>
    </div>
</div>