
<!--header-->
<link rel="stylesheet" href="css/coop-detail.css">


<!------------main--------------------->
<div class="main">
    <!--main_content-->
    <div class="coop-detail">
        <header >
            <p>质量整改通知单</p>
            <span class="glyphicon glyphicon-remove close"></span>
        </header>
        <div class="main_content">
        <!--content_left(中间内容的左边)-->
            <div class="content_left">
                <div class="proTitle">
                    <div class="message"><p>问题整改</p></div>
                </div>
                <div class="proInfo">
                    <div class="pro_man">
                        <div class="active">
                           <div> <span>负责人:</span><p>{{collaList.collaborator}}</p></div>
                           <div> <span>状态:</span><p>{{collaList.status}}</p></div>
                            <button type="button" class="btn" ng-click="checkModel()">查看模型关联</button>
                        </div>
                        <div class="active">
                            <div> <span>优先级:</span><p>{{collaList.priority}}</p></div>
                            <div> <span>标识:</span><p><i style="display:inline-block;margin-right:10px;width:10px;height:10px;background:blue;"></i>{{collaList.markerInfo.name}}</p></div>
                            <button type="button" class="btn">播放录音</button>
                        </div>
                        <div class="active">
                            <span>期限:</span><p>{{collaList.deadline}}</p>
                        </div>
                    </div>
                    <!--detail(详情描述)-->
                    <div class="detail">
                       <div class="row">
                           <div class="blank col-xs-1">
                                <p>详情描述</p>
                            </div>
                            <div class="col-xs-11">
                                <textarea class="form-control" rows="5" >{{collaList.desc}}</textarea>
                            </div>
                       </div>
                        <div class="Avatar row">
                            <div class=" col-xs-1">
                                <p>相关人物</p>
                            </div>
                            <div class="photo col-xs-11">
                                <dl ng-repeat="item in collaList.relevants">
                                    <dt><img src="{{item.avatar}}"/></dt>
                                    <dd>{{item.username}}</dd>
                                    <dd ng-if="!item.isReaded">未读</dd>
                                    <dd ng-if="item.isReaded">已读</dd>
                                </dl>
                            </div>
                        </div>

                    </div>
                    <!--action(功能)-->
                    <div class="action row">
                        <div class="col-xs-1">
                            <p>照片：</p>
                        </div>
                        <div class="col-xs-11 picInfo">
                            <dl class="data-list" ng-repeat="item in collaList.pictures">
                                <dt class="rela"><img src="{{item.fileUrl}}"/><div class="absol show-icon"><span class="glyphicon glyphicon-zoom-in" ng-click="zoom()"></span><span class="glyphicon glyphicon-save" ng-click="downImg()"></span><span class="glyphicon glyphicon-map-marker" ng-click="backLook()"></span></div></dt>
                                <dd>{{name}}</dd>
                            </dl>
                        </div>
                        </div>
                        <div class="action row">
                            <div class="col-xs-1">
                                <p>资料：</p>
                            </div>
                            <div class="col-xs-11 picInfo">
                                <dl class="data-list">
                                    <dt class="rela"><img src="imgs/saber.jpg"/><div class="absol show-icon"><span class="glyphicon glyphicon-zoom-in"></span><span class="glyphicon glyphicon-save"></span><span class="glyphicon glyphicon-map-marker"></span></div></dt>
                                    <dd>打桩</dd>
                                </dl>
                            </div>
                    </div>
                    <!--reply-->
                    <div class="reply row">
                        <div class="col-xs-1">
                            <p>回复:</p>
                        </div>
                        <div class="col-xs-11">
                            <div class="col-xs-1 man_pic">
                                <img src="imgs/saber.jpg" alt="">
                                <p>张三三</p>
                            </div>
                            <div class="col-xs-11 comment">
                                <div>今天不吃饭</div>
                            </div>
                        </div>
                    </div>
                    <!--reply-->
                    <div class="reply row">
                        <div class="col-xs-1">

                        </div>
                        <div class="col-xs-11">
                            <div class="col-xs-1 man_pic">
                                <img src="imgs/saber.jpg" alt="">
                                <p>张三三</p>
                            </div>
                            <div class="col-xs-11 comment">
                                <div>今天不吃饭</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="footer">
        <button type="button" class="btn">编辑协作</button>
        <button type="button" class="btn">添加更新</button>
        <button type="button" class="btn">添加更新</button>
        <button type="button" class="btn">添加更新</button>
        <button type="button" class="btn">添加更新</button>
        <button type="button" class="btn">添加更新</button>
    </div>
    