<!-- <div class="select-project" scroll-directive> -->
<div class="select-project">
    <div class="modal-header">
        <h3 class="modal-title">选择图上构件</h3> 
        <div class="inline close-sbtn" ng-click="cancel()">
            <span class="close"></span>
        </div>
    </div>
    <div class="modal-body">
        <div class="row left">
            <div class="form-inline">
                <div class="form-group col-xs-3" show-select>
                    <select class="form-control selectpicker" ng-change="treeSearch(1)" ng-model="projtype">
                      <option value="0">全部专业</option>
                      <option value="1">土建预算</option>
                      <option value="2">钢筋预算</option>
                      <option value="3">安装预算</option>
                      <option value="4">Revit</option>
                      <option value="5">Tekla</option>
                      <!-- <option value="6">PDF</option> -->
                    </select>
                </div>
                <div class="form-group col-xs-3" style="padding-left:0;" show-select>
                    <select class="form-control selectpicker" ng-change="treeSearch(2)" ng-model="functionOption">
                        <option value="0">全部功能</option>
                        <option value="1">iBan照片</option>
                        <option value="2">LE模型</option>
                        <option value="3">资料</option>
                        <option value="4">任务提醒</option>
                        <option value="5">PDF图纸检查点</option>
                        <option value="6">钢筋节点</option>
                        <option value="7">保存视口</option>
                        <option value="8">摄像监控</option>
                        <option value="9">协作</option>
                    </select>
                </div>
                <div class="form-group col-xs-4 link-inputSear" style="padding-left:0;">
                    <input type="text" class="form-control" placeholder="请输入工程名称搜索" ng-model="formText" ng-change="delayTreeSearch(3)">
                    <div class="link-search"><img src="imgs/seache.png" alt="" style="width:18px;"></div>
                </div>
                 <button type="button" class="openOrCloseTree" ng-click="expand()">
                    <span>+</span>
                </button>
                <button type="button" class="openOrCloseTree" ng-click="collapse()" style="margin-left: 15px;">
                    <span>-</span>
                </button>
                <!-- <div ng-click="expand()" class="openOrCloseTree">
                    <span>+</span>
                </div>
                <div ng-click="collapse()" class="openOrCloseTree" style="margin-left: 15px;">
                    <span>-</span>
                </div> -->
            </div>
        </div>
        <div class="row right"  >
            <div class="ztree-scroll" style="height:410px;" id="content-a12">
            <ul id="tree" class="ztree"></ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success confirm" type="button" ng-click="ok()">确定</button>
        <button class="btn btn-cancel" type="button" ng-click="cancel()">取消</button>
    </div>
</div>
