<div class="linkform" scroll-directive>
    <div class="modal-header">
        <h3 class="modal-title">选择表单</h3>
        <div class="inline close-sbtn" ng-click="cancel()">
            <span class="close"></span>
        </div>
    </div>
    <div class="modal-body" copy-radio>
        <div class="row left " style="width:48%">
            <select class="form-control" name="" id="" ng-model="selectedTypeId" ng-change="switchType(selectedTypeId)" class="form-sele col-xs-3">
                <option value="{{item.typeId}}" ng-repeat="item in typeList">{{item.name}}</option>
            </select>

        </div>
        <div class="row right" id="content-a14">
            <table class="table form-list" >
                <tbody>
                    <tr ng-repeat="row in templateNode track by $index" class="tab-tr" profit>
                        <td >
                            <label>
                                <input style="vertical-align:middle" type="checkbox" ng-checked="isSelected(row)" ng-click="updateSelection($event,row)"><span class="substr" title="{{row.name}}" style="display:inline-block;margin-top:11px;max-width:300px;">{{row.name}}</span>
                                <span class="link-check-state"></span>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()" ng-disabled="form1.$invalid">确定</button>
        <button class="btn btn-cancel" type="button" ng-click="cancel()">取消</button>
    </div>
</div>