<div class="linkbe" light-height>
    <div class="modal-header">
        <h3 class="modal-title">选择BE资料</h3>
        <div class="inline close-sbtn" ng-click="cancel()">
            <span class="close"></span>
        </div>
    </div>
    <div class="modal-body" copy-radio>
        <div class="row" >
            <div class="col-xs-6 left">
                <div class="select" style="margin-bottom:12px;" onclick=" $('#project-option').css('display','none');">
                    <label>项目：</label>
                    <!--<select name="" class="be-project" id="" ng-model="selectedOption" ng-options="item.deptName for item in deptInfo.availableOptions" ng-change="switchDept(selectedOption)"></select>-->
                    <select  class="identify selectpicker1 be-project" name=""  ng-model="selectedOption" ng-change="switchDept(selectedOption)">
                        <option value="{{item.deptId}}"
                                data-content="<div class='substr' title='{{item.deptName}}' style='text-align:left;'>
					  					<span>{{item.deptName}}</span>
					  				</div>"
                                ng-repeat="item in deptInfo.availableOptions track by $index">
                        </option>
                    </select>
                </div>
                <div class="select" >
                    <label style="vertical-align:top">工程：</label>
                   <!--  <select name="" class="be-project" ng-model="projectOption" ng-options="item.projectName for item in projectList.availableOptions" ng-change="switchPpid(projectOption)"></select> -->
                   <!--   <select name="" id="" ng-change="switchPpid(projectOption)" ng-model="projectOption">
                       <option value="{{item.ppid}}" ng-repeat="item in projectList.availableOptions track by $index">{{item.projectName}}</option>
                   </select>
 -->
                    <div class="simulate-select" id="project-select" ng-blur="blurCancle()">
                        <div class="project-selected select" title="{{projectSelected.projectName}}" style="padding-left: 10px;">
                           <img ng-src="{{projectSelected.typeImg}}" alt="" style="width:20px;float: left;"><input type="hidden" ng-model="projectOption" ng-click="switchPpid(projectOption)">
                           <div class="substr" title="{{projectSelected.projectName}}" style="text-align:left;float: left;width: 74%;">
	                           <span>{{projectSelected.projectName}}</span>
					  		</div>
                           &nbsp;
                           <span class="bs-caret"><span class="caret"></span></span>
                        </div>
                           <div id="project-option" uib-collapse="!isCollapsed" class="project-list" style="margin-top:10px;">
                               <ul style="max-height: 395px;width: 195px;background-color: #fff;" class="projectOption">
                                   <li class="substr" title="{{item.projectName}}" ng-repeat="item in projectList.availableOptions track by $index" ng-click="changeSelected(item)">
                                   <img src="imgs/icon/1.png" alt="" ng-if="item.projectType=='土建预算'" style="width:20px">
                                   <img src="imgs/icon/2.png" alt="" ng-if="item.projectType=='钢筋预算'" style="width:20px">
                                   <img src="imgs/icon/3.png" alt="" ng-if="item.projectType=='安装预算'" style="width:20px">
                                   <img src="imgs/icon/4.png" alt="" ng-if="item.projectType=='Revit'" style="width:20px">
                                   <img src="imgs/icon/5.png" alt="" ng-if="item.projectType=='Tekla'" style="width:20px">
                                   <img src="imgs/icon/6.png" alt="" ng-if="item.projectType=='PDF'" style="width:20px">
                                   {{item.projectName}}
                                   </li>
                               </ul>
                           </div>
                    </div>
                 <!--    <select  class="identify2 selectpicker2 be-project" name=""  ng-model="projectOption" ng-change="switchPpid(projectOption)" >
                        <option value="{{item.ppid}}"
                                data-content="<div class='substr' title='{{item.projectName}}' style='text-align:left;'>
					  					<span>{{item.projectName}}</span>
					  				</div>"
                                ng-repeat="item in projectList.availableOptions track by $index" >
                        </option>
                    </select> -->
                </div>
                
                <div style="margin-top: 5px;width: 90%;margin-left: 5%;margin-bottom: 36px;">
	                <!-- <span class="btn btn-success" style="display: inline-block;border-radius: 5px;line-height: 13px;" ng-click="checkAllNodes()">全部</span> -->
	                <button type="button" class="openOrCloseTree openOrCloseTreeSmall" style="margin-left: 15px;" ng-click="collapse()">
	                    <span>-</span>
	                </button>
	                <button type="button" class="openOrCloseTree openOrCloseTreeSmall" style="margin-left: 50px;" ng-click="expand()">
	                    <span>+</span>
	                </button>
	                <!-- <div ng-click="collapse()" class="openOrCloseTree" style="margin-left: 15px;float:right;height: 20px;margin-top: 3px;line-height: 17px;border-radius: 2px;">
	                    <span style="line-height: 17px;">-</span>
	                </div>
	                <div ng-click="expand()" class="openOrCloseTree"  style="margin-left: 50px;float:right;height: 20px;margin-top: 3px;line-height: 17px;border-radius: 2px;">
	                    <span style="line-height: 17px;">+</span>
	                </div> -->
                </div>
                <div class="person-list clearfix" id="content-a6">
                    <ul id="tree" class="ztree"></ul>
                </div>
            </div>
            <div class="col-xs-6 right" id="content-a7" style="padding:0">
                <div class="clearfix public-head">
                    <div class="pull-left">
                        <label>
                        <!--     <input type="checkbox" style="display:none;" ng-click="dataAllSelected($event)"> -->
                            <span  class="book-style font16"><b>共{{totalItems}}份资料</b></span>
                           <!--  <div class="linkbe-check"></div> -->
                        </label>
                    </div>
                    <!--<div class="pull-left"><label ><input type="checkbox"><span  class="book-style font16">共{{docList.length}}份资料</span></label></div>-->
                    <div class="pull-right">
                        <form>
                            <input type="text" class="be-sear" id="linkbeSear" ng-model="searchname" placeholder="搜索资料名称、上传人" ng-keyup="myKeyup($event)">
                            <span  ng-click="docSearch()" class="posi"><img  src="imgs/seache.png" alt=""></span>
                        </form>
                    </div>
                    <div style="clear: both;"></div>
                     <div class="pull-left">
                    	<label >
                    		<input type="checkbox" style="display:none;" ng-click="dataAllSelected($event)">
                    		<span  class="book-style font16" style="margin-left: 34px;font-weight: 100;">全选</span>
                    	 	<div class="linkbe-check"></div>
                    	</label>
                    </div>
                </div>
                <div>
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="row in docList track by $index" class="check-now" profit >
                                <td>
                                <label class="be-check">
                                    <input type="checkbox" style="opacity:0;" ng-checked="isSelected(row)" ng-click="updateSelection($event,row)">
                                    <span class="checkbox"></span>
                                </label>
                                    <div  class="uuidUrl">
                                    <!--文件类型-->
                                    <img src="imgs/pro-icon/icon-txt-s.png"  ng-if="row.fileType=='txt'||row.fileType=='TXT'">
                                    <img src="imgs/pro-icon/icon-doc-s.png"  ng-if="row.fileType=='doc'||row.fileType=='DOC'">
                                    <img src="imgs/pro-icon/icon-pdf-s.png"  ng-if="row.fileType=='pdf'||row.fileType=='PDF'">
                                    <img src="imgs/pro-icon/icon-xls-s.png"  ng-if="row.fileType=='xls'">
                                    <img src="imgs/pro-icon/icon-ppt-s.png"  ng-if="row.fileType=='ppt'||row.fileType=='PPT'">
                                    <img src="imgs/pro-icon/icon-docx-s.png" ng-if="row.fileType=='docx'||row.fileType=='DOCX'">
                                    <img src="imgs/pro-icon/icon-xlsx-s.png" ng-if="row.fileType=='xlsx'||row.fileType=='XLSX'">
                                    <img src="imgs/pro-icon/icon-xls-s.png"  ng-if="row.fileType=='XLS'" >
                                    <img src="imgs/pro-icon/icon-xls-s.png"  ng-if="row.fileType=='JPEG'" >
                                    <img src="imgs/pro-icon/icon-pptx-s.png" ng-if="row.fileType=='pptx'||items.fileType=='PPTX'">
                                    <!--图片类型-->
                                    <img src="imgs/pro-icon/icon-jpeg-s.png" ng-if="row.fileType=='jpeg'">
                                    <img src="imgs/pro-icon/icon-bmp-s.png"  ng-if="row.fileType=='bmp'">
                                    <img src="imgs/pro-icon/icon-png-s.png"  ng-if="row.fileType=='PNG'">
                                    <img src="imgs/pro-icon/icon-gif-s.png"  ng-if="row.fileType=='GIF'">
                                    <img src="imgs/pro-icon/icon-jpg-s.png"  ng-if="row.fileType=='JPG'">
                                    <img src="imgs/pro-icon/icon-png-s.png"  ng-if="row.fileType=='png'">
                                    <img src="imgs/pro-icon/icon-jpg-s.png"  ng-if="row.fileType=='jpg'">
                                    <img src="imgs/pro-icon/icon-gif-s.png"  ng-if="row.fileType=='gif'">

                                    <img src="imgs/pro-icon/icon-dwg-s.png"  ng-if="row.fileType=='dwg'">
                                    <img src="imgs/pro-icon/icon-rar-s.png"  ng-if="row.fileType=='rar'">
                                    <img src="imgs/pro-icon/icon-zip-s.png"  ng-if="row.fileType=='zip'">

                                    <!--视频-->
                                    <img src="imgs/pro-icon/icon-avi-s.png"  ng-if="row.fileType=='avi'">
                                    <img src="imgs/pro-icon/icon-mp4-s.png"  ng-if="row.fileType=='mp4'">
                                    <img src="imgs/pro-icon/icon-mov-s.png"  ng-if="row.fileType=='mov'">
                                    <img src="imgs/pro-icon/icon-flv-s.png"  ng-if="row.fileType=='flv'">
                                    <img src="imgs/pro-icon/icon-swf-s.png"  ng-if="row.fileType=='swf'">
                                    <img src="imgs/pro-icon/icon-wmv-s.png"  ng-if="row.fileType=='wmv'">
                                    <img src="imgs/pro-icon/icon-mpeg-s.png"  ng-if="row.fileType=='mpeg'">
                                    <img src="imgs/pro-icon/icon-mpg-s.png"  ng-if="row.fileType=='mpg'">
                                    <!--音频-->
                                    <img src="imgs/pro-icon/icon-mp3-s.png" ng-if="row.fileType=='mp3'">
                                    <img ng-if="row.fileType=='other'" src="imgs/pro-icon/icon-other-s.png" alt="">
                                    </div>
                                </td>
                                <td style="width:279px;"><p class="substr linkbeMatter" title="{{row.docName}}">{{row.docName}}</p>
                                    <!-- <span class="be-proview"></span> -->
                                </td>
                                <td><p class="substr linkbeMatter" style="width:57px" title="{{row.uploader}}">{{row.uploader}}</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="bg-pagination" ng-show="docList.length">
                     <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" previous-text="上一页" next-text="下一页" class="pagination-sm" boundary-link-numbers="true" rotate="true" max-size="5"></ul>
                </div>
            </div>
        </div>
       
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()" ng-disabled="form1.$invalid">确定</button>
        <button class="btn btn-cancel" type="button" ng-click="cancel()">取消</button>
    </div>
</div>