<div class="linkform">
    <div class="modal-header">
        <h3 class="modal-title">选择表单</h3>
        <div class="inline close-sbtn" ng-click="cancel()">
            <span class="close"></span>
        </div>
    </div>
    <div class="modal-body" copy-radio>
        <div class="row">
            <table class="table form-list">
                <tbody>
                    <tr ng-repeat="row in templateNode">
                        <td><input type="checkbox" ng-checked="isSelected(row)" ng-click="updateSelection($event,row)"></td>
                        <td>{{row.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()" ng-disabled="form1.$invalid">确定</button>
        <button class="btn btn-cancel" type="button" ng-click="cancel()">取消</button>
    </div>
</div>