<div class="select-project" ng-show="openSignal" scroll-directive>
    <div class="modal-header">
        <h3 class="modal-title">选择构件类别</h3>
        <div class="inline close-sbtn" ng-click="cancel()">
            <span class="close"></span>
        </div>
    </div>
    <div class="modal-body">
        <div class="row left">
            <div class="form-inline">
                <div class="form-group col-xs-3">
                    <select class="form-control" ng-change="treeSearch(1)" ng-model="projtype">
                      <option value="0">全部专业</option>
                      <option value="1">土建预算</option>
                      <option value="2">钢筋预算</option>
                      <option value="3">安装预算</option>
                      <option value="4">Revit</option>
                      <option value="5">Tekla</option>
                      <option value="6">PDF</option>
                    </select>
                </div>
                <div class="form-group col-xs-3" style="padding-left:0;">
                    <select class="form-control" ng-change="treeSearch(2)" ng-model="functionOption">
                        <option value="0">全部功能</option>
                        <option value="1">iBan照片</option>
                        <option value="2">LE模型</option>
                        <option value="3">资料</option>
                        <option value="4">任务提醒</option>
                        <option value="5">PDF图纸检查点</option>
                        <option value="6">钢筋节点</option>
                        <option value="7">保存视口</option>
                        <option value="8">摄像监控</option>
                        <option value="9">BV问题</option>
                    </select>
                </div>
                <div class="form-group col-xs-6 link-inputSear" style="padding-left:0;">
                    <input type="text" class="form-control" placeholder="输入关键字搜索" ng-model="formText" ng-keyup="treeSearch(3)">
                    <div class="link-search"><img src="imgs/seache.png" alt="" style="width:20px;"></div>
                </div>
            </div>
        </div>
        <div class="row right">
            <div class="link-scroll" id="content-a13">
                <ul id="tree" class="ztree ztree-1"></ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success confirm" type="button" ng-click="ok3()">确定</button>
        <button class="btn btn-cancel" type="button" ng-click="cancel()">取消</button>
    </div>
</div>
<div class="select-project" ng-show="!openSignal">
    <div class="modal-header">
        <h3 class="modal-title">选择构件类别</h3>
        <div class="inline close-sbtn" ng-click="cancel()">
            <span class="close"></span>
        </div>
    </div>
    <div class="modal-body">
        <div class="row left">
            <div class="form-inline">
                <!--<div class="form-group col-xs-4">-->
                    <!--<select class="form-control">-->
                      <!--<option>1</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group col-xs-4">-->
                    <!--<select class="form-control">-->
                      <!--<option>1</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group col-xs-4">-->
                    <!--<input type="text" class="form-control" placeholder="搜索">-->
                <!--</div>-->
            </div>
        </div>
        <div class="row right">
            <ul id="tree1" class="ztree"></ul>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary confirm btn-success" type="button" ng-click="ok4()">确定</button>
        <button class="btn btn-warning btn-cancel" type="button" ng-click="cancel()">取消</button>
    </div>
</div>