<style type="text/css">
.container {
	/*width: 1200px !important;*/
}
</style>
<div ng-show="!flag.isPreview">
	<div class="inner">
		<header>
	        <div class="header-operation clearfix">
				<div class="pull-left detail-return" style="width:10%;line-height:42px;" ng-click="backCooperation()" style="" ng-click="backCooperation()">
					<span class="detail-gt" style="margin-left:15px;display:inline-block"></span>
					<a  style="text-decoration: none;">返回</a>
				</div>
				<div class="label_tools">
					<img src="imgs/icon/icon-small-h.png" alt="" ng-click="minimize()">
					<div  ng-click="maxRestore($event)" class="inline" style="display:inline;margin-left:18px;">
						<img src="imgs/icon/icon-restore-h.png" class="max-restore" ng-show="max">
						<img src="imgs/icon/icon-big-h.png" class="max-restore" ng-show="restore">
					</div>
					<span class="change-window"><img src="imgs/icon/icon-close-h.png" alt="" ng-click="close()"></span>
				</div>
	        </div>
	        <div class="header-title">
	            <p class="F16" ><span class="substr">创建协作{{"——"+typeName}}</span></p>
	            <!-- <span class="glyphicon glyphicon-remove close" ui-sref="cooperation"></span> -->
	        </div>
	    </header>
	</div>
	<div class="container con-content" >
		<div class="create">
			<!-- <div><input value="test" type="button" ng-click="test()"></div>  -->
		<form name="create_form" id="create-form" novalidate="" >
			<div class="row">
				<div class="row" style="margin-bottom:17px;padding:0 15px;">
					<label for="" class="col-xs-1">主题：</label>
					<div class="inline col-xs-11">
						<input type="text" class="form-control left-area new-name" id="" placeholder=""
							   ng-model="coopname" required=""  name="topic" ng-click="changeTopic()">
					</div>
				</div>
				<div class="col-xs-6 left">
					<div class="row">
						<label for="" class="col-xs-2">优先级：</label>
					   	<select class="selectpicker col-xs-6 priority" ng-model="priority">
						  	<option value="1">Ⅰ</option>
						  	<option value="2">Ⅱ</option>
						  	<option value="3">Ⅲ</option>
						</select>
					</div>
					<div class="row coop-Levels" show-select>
						<label class="col-xs-2">标识：</label>
					  	<select class="identify col-xs-6" ng-model="mark" ng-click="switchMark(mark)">
					  		<option value="{{item.markerId}}" 
					  			data-content="<div class='substr' title='{{item.picMarker}}' style='text-align: left;'>
					  					<span class='glyphicon glyphicon-stop chara' style='color:{{item.picRgb}};margin-right:5px'></span>
					  					<span>{{item.picMarker}}</span>
					  				</div>"
					  			ng-repeat="item in markerList track by $index" ></option>
						</select>
						<!-- <select name="" id="" class="identify selectpicker col-xs-6" ng-model="mark">
							<option value=""></option>
						</select> -->
					</div>
				</div>
				<div class="col-xs-6 right" style="padding:0;">

						<div class="last-time" style="text-align:right;">
							<div class="date-time">
								<label for="" class="col-xs-3 align-right" style="padding:0;">限制期限：</label>
								<p class="input-group col-xs-9">
								  <input type="text" class="form-control" readonly ng-click="open2()" style="height:40px !important;width:100%" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" close-text="关闭" clear-text="清除" current-text="今天" ng-disabled="!checksignal" style="width:97%"/>
								  <!--<span class="input-group-btn">-->
									<!--<button type="button" class="btn btn-default btn-calendar" ><i class="glyphicon glyphicon-calendar"></i></button>-->
								  <!--</span>-->
									<label>
										<input type="checkbox" class="new-car" style="opacity:0;" ng-click="isChecked()">
										<span class="new-state"></span>
									</label>
								</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row link">
				<label for="" class="col-xs-1">关联：</label>
				<div class="list-inline col-xs-8">
					<!-- <button class="btn btn-default" popover-placement="right" popover-trigger="'focus'" uib-popover-template="dynamicPopover.templateUrl">与工程关联</button> -->
					<button class="btn btn-link1 new-relative" ng-click="linkProject()">工程</button>
					<button class="btn btn-link1 new-relative" ng-click="linkComponent()">图上构件</button>
					<button class="btn btn-link1 new-relative" ng-click="linkCategoty()">构件类别</button>
				</div>
			</div>
			<div class="row">
				<label for="" class="col-xs-1">&nbsp;</label>
				<div class="col-xs-11" >
					<div class="coop-delete">
						<div class="inline new-pro relate-pro">
							<div ng-show="linkProject1" style="line-height:37px">
								<span class="substr" width="285px">与工程相关： {{link.linkProjectDptName}}项目部 -- {{link.linkProjectName}}工程</span><!-- <span ng-click="removeLink()" style="margin-left:20px;">重新关联</span> -->
							</div>
							<div ng-show="linkComponent1" style="line-height:37px;">
								<span>与构件相关：{{link.linkProjectDptName}}项目部 -- {{link.linkProjectName}}工程</span><!-- <span ng-click="removeLink()" style="margin-left:20px;">删除</span> -->
							</div>
							<div ng-show="linkCategoty1" style="line-height:37px;">
								<span>与构件类别相关：{{link.linkProjectDptName}}项目部 -- {{link.linkProjectName}}工程</span>
							</div>
							<label style="display:inline-block"><img ng-src="imgs/delete.png" alt="" class="new-del" ng-click="removeLink()"></label>
						</div>

					</div>
				</div>
			</div>
			<div class="row mt-15 mx">
				<label for="" class="col-xs-1">描述：</label>
				<div class="col-xs-11" >
					<textarea id="desc" rows="8" ng-model="desc" style="width:100%;padding:0 13px;" ng-click="changeDesc()" ></textarea>
				</div>
			</div>
			<div class="row mt-15 relative-man">
				<div class="row" style="padding:0 15px;margin-bottom:20px;">
					<label for="" class="col-xs-1 align-right">负责人：</label>
					<div class="inline col-xs-7">
						<ul class="inline rela relative-ion">
							<img ng-src="{{responsiblePerson.avatar}}"  onerror="this.onerror='';this.src='./imgs/icon/defalut.png'" ng-if="responsiblePerson.avatar"/>
							<img ng-src="./imgs/icon/defalut.png" ng-if="responsiblePerson.avatar==null" alt=""/>
							<li class="substr" title="{{responsiblePerson.username}}" style="width:55px;margin-top:25px;margin-bottom:25px;">{{responsiblePerson.username}}</li>
						</ul>
						<button class="btn add-related" ng-click="selectResponsible()"><span>+</span></button>
					</div>
				</div>
				<label for="" class="col-xs-1">相关人：</label>
				<div class="selected-list inline col-xs-11">
						<ul class="inline rela relative-ion photoImg" ng-repeat="item in related.sign track by $index">
							<img ng-src="{{item.avatar}}"  onerror="this.onerror='';this.src='./imgs/icon/defalut.png'" ng-if="item.avatar"/>
							<img ng-src="./imgs/icon/defalut.png" ng-if="item.avatar==null" alt=""/>
							<div class="detail-sign" ng-if="item.needSign">
								<img src="imgs/detail-icon-sign.png" alt="">
							</div>
							<li class="substr" title="{{item.username}}" style="width:55px;margin-top:25px;margin-bottom:25px;">{{item.username}}</li>
						</ul>
						<ul class="inline relative-ion" ng-repeat="item in related.noSign track by $index">
							<img ng-src="{{item.avatar}}"  onerror="this.onerror='';this.src='./imgs/icon/defalut.png'" ng-if="item.avatar"/>
							<img ng-src="./imgs/icon/defalut.png" ng-if="item.avatar==null" alt=""/>
							<li class="substr" title="{{item.username}}" style="width:55px;margin-top:25px;margin-bottom:25px;">{{item.username}}</li>
						</ul>
					<button class="btn add-related" ng-click="selectRelated()"><span>+</span></button>
				</div>
			</div>
			<!-- upload -->
			<div class="row upload">
				<label for="" class="col-xs-1">照片：</label>
				<div class="upload-img col-xs-11 clearfix">
					<input class="upload-img" type="file" nv-file-select="" uploader="uploader" style="display:none;" multiple />
			        <ul class="list-inline photo-box" style="margin-top:10px;">
			            <li ng-repeat="item in uploader.queue" style="position:relative">
							<div class="updata-photo">
								<div style="display:inline">
									<div ng-show="uploader.isHTML5" class="up-picture"  ng-thumb="{ file: item._file,width:120,height:120}" ></div><br/>
									<span class="absol glyphicon glyphicon-remove photo-close" ng-click="removePhoto(item)"></span>
								</div>
								<span ng-bind="item.file.name" title="{{item.file.name}}" class="substr" style="width:100px;display:inline-block;position: absolute;left: 10px;top: 130px;"></span>
							</div>
			                 <!--<button ng-click="item.upload()">upload</button>-->
			            </li>
			            <li><button class="btn btn-add btn-lg" ng-click="fileUpload()" style="vertical-align:top;margin-left:-3px;"><span>+</span></button></li>
			        </ul>
			       
			       	<!--  <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
		                <span class="glyphicon glyphicon-upload"></span> Upload all
		            </button>
		            <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading" disabled="disabled">
		                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
		            </button> -->
					<!-- <div class="col-xs-6"><button class="btn">添加</button></div> -->
				</div>
			</div>
			<div class="row docs upload" style="margin-top:10px;">
				<label for="" class="col-xs-1">资料：</label>
				<div class="col-xs-11 look-book">
					<ul ng-repeat="items in docSelectedList track by $index" class="select-docs read-book" style="border:0;vertical-align:top">
						<!--文件类型-->
						<li class="rela" style="border:1px solid #ddd;">
						<img ng-src="{{items.imgSrc}}" class="bookSection" ng-click="preView(items.uuid,items.docName,items.fileType,$index,'docSelectedList')">
						<!-- 根据filetype判断文件类型end -->
						<span class="absol glyphicon glyphicon-remove" ng-click="removeDoc(items)"></span>
						</li>
						<p title="{{items.docName}}" class="substr" style="width:100px;">{{items.docName}}</p>
					</ul>
					<ul ng-repeat="items in formSelectedList" class="select-form rela read-book" style="border:0;vertical-align:top">
						<li style="border:1px solid #ddd;" class="rela"><img ng-src="imgs/pro-icon/icon-pdf.png" alt="" ng-click="preView(items.uuid,items.name,items.suffix,$index,'formSelectedList')">
						<span class="absol glyphicon glyphicon-remove" ng-click="removeForm(items)"></span>
						</li>
						<!-- <input type="checkbox" class="absol" ng-checked="isSelected" ng-click="updateSelection($event,items)"> -->
						<p title="{{items.name}}.{{items.suffix}}" class="substr" style="width:100px;">{{items.name}}.{{items.suffix}}</p>
					</ul>
					<input class="upload-docs" type="file" nv-file-select="" uploader="uploader1" multiple nv-file-select="" style="display:none;" />
					<ul class="list-inline inline read-book" style="vertical-align:middle" ng-repeat="item in uploader1.queue">
			            <li style="border:1px solid #ddd;">
			            	<div class="updata-photo rela">
				                <div ng-show="uploader1.isHTML5 && item.file.type.substr(0,5) === 'image'" ng-thumb="{ file: item._file, width:120,height:120 }"></div>
		                        <div ng-show="uploader1.isHTML5 && item.file.name.split('.')[item.file.name.split('.').length-1] == 'txt'"><img class="bookSection"  ng-src="./imgs/pro-icon/icon-txt.png" alt=""><br/>
		                        </div>
		                        <div ng-show="uploader1.isHTML5 && item.file.name.split('.')[item.file.name.split('.').length-1] == 'doc'"><img class="bookSection"  ng-src="./imgs/pro-icon/icon-doc.png" alt=""><br/>
		                        </div>
		                        <div ng-show="uploader1.isHTML5 && item.file.name.split('.')[item.file.name.split('.').length-1] == 'docx'"><img class="bookSection"  ng-src="./imgs/pro-icon/icon-docx.png" alt=""><br/>
		                        </div>
		                        <div ng-show="uploader1.isHTML5 && item.file.name.split('.')[item.file.name.split('.').length-1] == 'pdf'"><img class="bookSection"  ng-src="./imgs/pro-icon/icon-pdf.png" alt=""><br/>
		                        </div>
		                        <div ng-show="uploader1.isHTML5 && item.file.name.split('.')[item.file.name.split('.').length-1] == 'ppt'"><img class="bookSection"  ng-src="./imgs/pro-icon/icon-ppt.png" alt=""><br/>
		                        </div>
		                        <div ng-show="uploader1.isHTML5 && item.file.name.split('.')[item.file.name.split('.').length-1] == 'xlsx'"><img class="bookSection"  ng-src="./imgs/pro-icon/icon-xlsx.png" alt=""><br/>
		                        </div>
		                        <div ng-show="uploader1.isHTML5 && item.file.name.split('.')[item.file.name.split('.').length-1] == 'xls'"><img class="bookSection"  ng-src="./imgs/pro-icon/icon-xls.png" alt=""><br/>
		                        </div>
		                        <div ng-show="uploader1.isHTML5 && item.file.name.split('.')[item.file.name.split('.').length-1] == 'pptx'"><img class="bookSection"  ng-src="./imgs/pro-icon/icon-pptx.png" alt=""><br/>
		                        </div>
		                        <div ng-show="uploader1.isHTML5 && item.file.name.split('.')[item.file.name.split('.').length-1] == 'dwg'"><img class="bookSection"  ng-src="./imgs/pro-icon/icon-dwg.png" alt=""><br/>
		                        </div>
		                        <div ng-show="uploader1.isHTML5 && item.file.name.split('.')[item.file.name.split('.').length-1] == 'rar'"><img class="bookSection"  ng-src="./imgs/pro-icon/icon-rar.png" alt=""><br/>
		                        </div>
		                        <div ng-show="uploader1.isHTML5 && item.file.name.split('.')[item.file.name.split('.').length-1] == 'avi'"><img class="bookSection"  ng-src="./imgs/pro-icon/icon-avi.png" alt=""><br/>
		                        </div>
		                        <div ng-show="uploader1.isHTML5 && item.file.name.split('.')[item.file.name.split('.').length-1] == 'mp4'"><img class="bookSection"  ng-src="./imgs/pro-icon/icon-mp4.png" alt=""><br/>
		                        </div>
		                         <div ng-show="uploader1.isHTML5 && item.file.name.split('.')[item.file.name.split('.').length-1] == 'avi'"><img class="bookSection"  ng-src="./imgs/pro-icon/icon-avi.png" alt=""><br/>
		                        </div>
		                         <div ng-show="uploader1.isHTML5 && item.file.name.split('.')[item.file.name.split('.').length-1] == 'mov'"><img class="bookSection"  ng-src="./imgs/pro-icon/icon-mov.png" alt=""><br/>
		                        </div>
		                         <div ng-show="uploader1.isHTML5 && item.file.name.split('.')[item.file.name.split('.').length-1] == 'flv'"><img class="bookSection"  ng-src="./imgs/pro-icon/icon-flv.png" alt=""><br/>
		                        </div>
		                         <div ng-show="uploader1.isHTML5 && item.file.name.split('.')[item.file.name.split('.').length-1] == 'swf'"><img class="bookSection"  ng-src="./imgs/pro-icon/icon-swf.png" alt=""><br/>
		                        </div>
		                         <div ng-show="uploader1.isHTML5 && item.file.name.split('.')[item.file.name.split('.').length-1] == 'wmv'"><img class="bookSection"  ng-src="./imgs/pro-icon/icon-wmv.png" alt=""><br/>
		                        </div>
		                         <div ng-show="uploader1.isHTML5 && item.file.name.split('.')[item.file.name.split('.').length-1] == 'mpeg'"><img class="bookSection"  ng-src="./imgs/pro-icon/icon-mpeg.png" alt=""><br/>
		                        </div>
		                         <div ng-show="uploader1.isHTML5 && item.file.name.split('.')[item.file.name.split('.').length-1] == 'wmv'"><img class="bookSection"  ng-src="./imgs/pro-icon/icon-wmv.png" alt=""><br/>
		                        </div>
		                         <div ng-show="uploader1.isHTML5 && item.file.name.split('.')[item.file.name.split('.').length-1] == 'mpg'"><img class="bookSection"  ng-src="./imgs/pro-icon/icon-mpg.png" alt=""><br/>
		                        </div>
		                        <div ng-show="uploader1.isHTML5 && item.file.name.split('.')[item.file.name.split('.').length-1] == 'mp3'"><img class="bookSection"  ng-src="./imgs/pro-icon/icon-mp3.png" alt=""><br/>
		                        </div>
		                        <div ng-show="uploader1.isHTML5 && item.file.name.split('.')[item.file.name.split('.').length-1] != ('txt'||'doc'||'pdf'||'ppt'||'docx'||'xlsx'||'xls'||'pptx'||'jpeg'||'bmp'||'PNG'||'GIF'||'JPG'||'png'||'jpg'||'gif'||'dwg'||'rar'||'zip'||'avi'||'mp4'||'mov'||'flv'||'swf'||'wmv'||'mpeg'||'mpg'||'mp3')"><img class="bookSection"  ng-src="./imgs/pro-icon/icon-other.png" alt=""><br/>
		                        </div>
		                        <span class="absol glyphicon glyphicon-remove local-remove" ng-click="item.remove()"></span>
			            	</div>
			            </li>
			            <p class="substr" style="margin-top:4px;width: 100px;" title="{{item.file.name}}">{{item.file.name}}</p>
			        </ul>
					<ul class="inline"><button class="btn  btn-add btn-lg" popover-trigger="'focus'" class="form-control" popover-placement="right" uib-popover-template="dynamicPopover.templateUrl" style="margin-left:-3px;"><span>+</span></button></li>
					</ul>
				</div>
			</div>
		</form>
		</div>
	</div>

	<!-- errorMessage-->
	<div class="create-error">
		<ul>
			<li style="color:red" ng-show="flag.nameToLong">协作主题长度不能超过50个字符</li>
			<li style="color:red" ng-show="flag.descToLong">协作描述长度不能超过250个字符</li>
			<li style="color:red" ng-show="flag.isTopicNull && create_form.topic.$error.required">协作主题不能为空</li>
			<li style="color:red" ng-show="flag.isleast">请至少上传一张图片或一份资料</li>
		</ul>
	</div>
	<div class="create-btn-submit footer footer-commom">
		<div class="text-center">
			<!--<button class="btn btn-default foot-btn" ng-click="save(0)">存草稿</button>-->
			<button class="btn btn-default foot-btn" ng-click="save(1)">提交</button>
			<button class="btn btn-default new-btnFail" ng-click="cancelCreate()">取消</button>
		</div>
	</div>
</div>

<div ng-if="flag.isPreview" class="pdf-sign">
    <div class="inner">
    <header>
        <div class="header-operation clearfix">
				<div class="pull-left detail-return" style="line-height:42px;" ng-click="backCreate()">
					<span class="detail-gt" style="margin-left:15px;display:inline-block"></span>
					<a  style="text-decoration: none;">返回</a>
				</div>
			<div class="label_tools">
				<img src="imgs/icon/icon-small-h.png" alt="" ng-click="minimize()">
				<div  ng-click="maxRestore($event)" class="inline" style="display:inline;margin-left:18px;">
					<img src="imgs/icon/icon-restore-h.png" class="max-restore" ng-show="max">
					<img src="imgs/icon/icon-big-h.png" class="max-restore" ng-show="restore">
				</div>
				<span class="change-window"><img src="imgs/icon/icon-close-h.png" alt="" ng-click="close()"></span>
			</div>
           <!--  <div  ng-if="isTypePdf" class="pull-right edit-material" ng-click="CommentSign()" style="color:#69C080;margin-right:100px;margin-top: 10px;">启用编辑</div> -->
        </div>
    </header>
    <!-- 默认预览 -->
	    <div ng-show="flag.isGeneral">
	        <div style="width:100%;padding-top:42px" ng-show="!isEdit">
	            <iframe ng-src="{{previewUrl}}" style="height:calc(100vh - 48px);width:100%;" scrolling="no" frameborder="0"></iframe>
	        </div>
	    </div>
		<!-- 编辑部分 -->
		<div class="doc-edit" ng-show="flag.isPdfsign">
			<div id="edit-office" style="min-height:300px">editOffice</div>
			<div class="text-center footer footer-commom">
				<button class="btn btn-default foot-btn" type="button" ng-click="CommentSign()" ng-disabled="!isClick">编辑</button>
				<button class="btn btn-default foot-btn" type="button" ng-click="saveOffice()">保存</button>
				<button class="btn btn-default foot-btn" type="button" ng-click="cancelEditOffice()">取消</button>
			</div>
		</div>
</div>
</div>
<!-- 存储pc端过来的coid -->
<input type="hidden" id="checkformbe" ng-click="checkFromBe()">

<!-- <div onclick="transCoDetail()" style="position:fixed;z-index:1000;top:20px">transCoDetail</div> -->

<script type="text/javascript">
	$('.selectpicker').selectpicker({
		  style: '',
		  size: 'auto'
		});
</script>

<script>
	//跳转协作管理
	function transCoManage (deptId,ppid) {
		//pc跳转传递deptId, ppid 定位到当前工程
		document.location= '#/cooperation?deptId='+deptId+'&ppid='+ppid;
	}

	//跳转协作详情-第二版
	function transCoDetail (coid) {
		// document.location= '#/coopdetail/?coid='+ coid;
		$('#checkformbe').val(coid);
		$('#checkformbe').click();
	}
</script>
