<style type="text/css">
.container {
	width: 1200px !important;
}
</style>
<div ng-show="!flag.isPreview">
	<div class="inner">
		<header>
	        <div class="header-operation clearfix">
	        	<div ui-sref="cooperation" class="pull-left" style="margin-top:10px;">
                   	<span class="" style="margin-left:15px;"><img src="imgs/call_back.png" alt=""></span>
                   	<a href="" style="color:#69C080;text-decoration: none;">返回</a>
                </div>
	            <div class="label_tools">
	                <img src="imgs/icon/icon-small.png" alt="" ng-click="minimize()">
	                <div  ng-click="maxRestore($event)" class="inline" style="display:inline;margin-left:18px;">
	                    <img src="imgs/icon/icon-restore.png" class="max-restore" ng-show="max">
	                    <img src="imgs/icon/icon-big.png" class="max-restore" ng-show="restore">
	                </div>
	                <span class="change-window"><img src="imgs/icon/icon-close.png" alt="" ng-click="close()"></span>
	            </div>
	        </div>
	        <div class="header-title">
	            <p class="F16" ><span class="substr">创建协作</span></p>
	            <!-- <span class="glyphicon glyphicon-remove close" ui-sref="cooperation"></span> -->
	        </div>
	    </header>
	</div>
	<div class="container">
		<div class="create">
			<!-- <div><input value="test" type="button" ng-click="test()"></div>  -->
		<form name="create_form" id="create-form" novalidate="" >
			<div class="row">
				<div class="col-xs-6 left">
					<div class="row">
						<label for="" class="col-xs-2">主题：</label>
				  		<div class="inline col-xs-6"><input type="text" class="form-control left-area new-name" id="" placeholder="" ng-model="coopname" required="" ng-maxlength="50" name="topic"></div>
					</div>
					<div class="row">
						<label for="" class="col-xs-2">优先级：</label>
					   	<select class="selectpicker col-xs-6 priority" ng-model="priority">
						  	<option value="1">Ⅰ</option>
						  	<option value="2">Ⅱ</option>
						  	<option value="3">Ⅲ</option>
						</select>
					</div>
					<div class="row coop-Levels" show-select>
						<label class="col-xs-2">标识：</label>
					  	<select class="identify col-xs-6" ng-model="mark" ng-click="switchMark(mark)">
					  		<option value="{{item.markerId}}" 
					  			data-content="<div class='substr' title='{{item.picMarker}}' style='text-align: left;'>
					  					<span class='glyphicon glyphicon-stop chara' style='color:{{item.picRgb}};margin-right:5px'></span>
					  					<span>{{item.picMarker}}</span>
					  				</div>"
					  			ng-repeat="item in markerList track by $index" ></option>
						</select>
						<!-- <select name="" id="" class="identify selectpicker col-xs-6" ng-model="mark">
							<option value=""></option>
						</select> -->
					</div>
				</div>
				<div class="col-xs-6 right">
					<div class="row">
						<label for="" class="col-xs-3 align-right">负责人：</label>
						<dl ng-repeat="item in collaList.relevants" class="photoImg">
							<dt><img src="{{item.avatar}}"/></dt>
							<dd class="substr" style="width:100px;">{{item.username}}</dd>
						</dl>
					    <div class="inline col-xs-7">
					    	<!-- <input type="text" class="col-xs-3" id="" placeholder="" ng-model="responsiblePerson"> -->
					    	<div class="relate-people inline responsible new-man" >{{responsiblePerson}}</div>
					    	<span class="plus-icon" ng-click="selectResponsible()">+</span>
					    </div>
					</div>
					<div class="row">
					    <label for="" class="col-xs-3 align-right">限制期限：</label>
					    <p class="input-group col-xs-7">
				          <input type="text" class="form-control" readonly ng-click="open2()" style="height:40px !important;width:83%" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" close-text="关闭" clear-text="清除" current-text="今天" ng-disabled="!checksignal" style="width:97%"/>
				          <!--<span class="input-group-btn">-->
				            <!--<button type="button" class="btn btn-default btn-calendar" ><i class="glyphicon glyphicon-calendar"></i></button>-->
				          <!--</span>-->
							<label>
								<input type="checkbox" class="new-car" style="opacity:0;" ng-click="isChecked()">
								<span class="new-state"></span>
							</label>
				        </p>
					</div>
				</div>
			</div>
			<div class="row link">
				<label for="" class="col-xs-1">关联：</label>
				<div class="list-inline col-xs-8">
					<!-- <button class="btn btn-default" popover-placement="right" popover-trigger="'focus'" uib-popover-template="dynamicPopover.templateUrl">与工程关联</button> -->
					<button class="btn btn-link1 new-relative" ng-click="linkProject()">工程</button>
					<button class="btn btn-link1 new-relative" ng-click="linkComponent()">图上构件</button>
					<button class="btn btn-link1 new-relative" ng-click="linkCategoty()">构件类别</button>
				</div>
			</div>
			<div class="row">
				<label for="" class="col-xs-1">&nbsp;</label>
				<div class="col-xs-11" >
					<div class="coop-delete">
						<div class="inline new-pro relate-pro">
							<div ng-show="linkProject1" style="line-height:37px">
								<span class="substr" width="285px">与工程相关： {{data.linkProjectDptName}}项目部 -- {{data.linkProjectName}}工程</span><!-- <span ng-click="removeLink()" style="margin-left:20px;">重新关联</span> -->
							</div>
							<div ng-show="linkComponent1" style="line-height:37px;">
								<span>与构件相关：{{data.linkProjectDptName}}项目部 -- {{data.linkProjectName}}工程</span><!-- <span ng-click="removeLink()" style="margin-left:20px;">删除</span> -->
							</div>
							<div ng-show="linkCategoty1" style="line-height:37px;">
								<span>与构件类别相关：{{data.linkProjectDptName}}项目部 -- {{data.linkProjectName}}工程</span>
							</div>
							<label style="display:inline-block"><img src="imgs/delete.png" alt="" class="new-del" ng-click="removeLink()"></label>
						</div>

					</div>
				</div>
			</div>
			<div class="row mt-15 mx">
				<label for="" class="col-xs-1">描述：</label>
				<div class="col-xs-11" >
					<textarea id="desc" rows="8" ng-model="desc" style="width:100%;padding:0 13px;" ng-change="changeDesc()"  ng-maxlength="250"></textarea>
				</div>
			</div>
			<div class="row mt-15 relative-man">
				<label for="" class="col-xs-1">相关人员：</label>
				<div class="selected-list inline col-xs-11">
					<!-- <div class="inline" style="border-right:1px solid #ccc;"> -->
						<ul class="inline rela relative-ion" ng-repeat="item in related.sign track by $index">
							<img ng-src="{{item.avatar}}"  onerror="this.onerror='';this.src='./imgs/icon/defalut.png'" ng-if="item.avatar"/>
							<img src="./imgs/icon/defalut.png" ng-if="item.avatar==null" alt=""/>
							<span class="absol glyphicon glyphicon-pencil" style="right:16px;top:28px;color:#1298DD"></span>
							<li class="substr" title="{{item.username}}" style="width:55px;margin-top:25px;margin-bottom:25px;">{{item.username}}</li>
						</ul>
					<!-- </div> -->
					<!-- <div class="inline"> -->
						<ul class="inline relative-ion" ng-repeat="item in related.noSign track by $index">
							<img ng-src="{{item.avatar}}"  onerror="this.onerror='';this.src='./imgs/icon/defalut.png'" ng-if="item.avatar"/>
							<img src="./imgs/icon/defalut.png" ng-if="item.avatar==null" alt=""/>
							<li class="substr" title="{{item.username}}" style="width:55px;margin-top:25px;margin-bottom:25px;">{{item.username}}</li>
						</ul>
					<!-- </div> -->
					<button class="btn add-related" ng-click="selectRelated()"><span>+</span></button>
				</div>
			</div>
			<!-- upload -->
			<div class="row upload">
				<label for="" class="col-xs-1">照片：</label>
				<div class="upload-img col-xs-11">
					<input class="upload-img" type="file" nv-file-select="" uploader="uploader" style="display:none;" multiple />
			        <ul class="list-inline photo-box" style="margin-top:10px;">
			            <li ng-repeat="item in uploader.queue">
							<div class="updata-photo">
								<div style="display:inline">
									<div ng-show="uploader.isHTML5" class="up-picture"  ng-thumb="{ file: item._file,width:120}" ></div><br/>
									<!--<span></span>-->
								</div>
							</div>
								 <span ng-bind="item.file.name" title="{{item.file.name}}" class="substr" style="width:100px;display:inline-block"></span>
			                 <!--<button ng-click="item.upload()">upload</button>-->
			            </li>
			            <li><button class="btn  btn-add btn-lg" ng-click="fileUpload()" style="vertical-align:top"><span>+</span></button></li>
			        </ul>
			       
			       	<!--  <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
		                <span class="glyphicon glyphicon-upload"></span> Upload all
		            </button>
		            <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading" disabled="disabled">
		                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
		            </button> -->
					<!-- <div class="col-xs-6"><button class="btn">添加</button></div> -->
				</div>
			</div>
			<div class="row docs upload" style="margin-top:10px;">
				<label for="" class="col-xs-1">资料：</label>
				<div class="col-xs-11 look-book">
					<ul ng-repeat="items in docSelectedList track by $index" class="select-docs rela read-book" style="border:0;vertical-align:top">
						<!--文件类型-->
						<li style="border:1px solid #ddd;">
						<img ng-src="{{items.imgSrc}}" class="bookSection" ng-click="preView(items.uuid,items.docName,items.fileType,$index,'docSelectedList')">
						<!-- 根据filetype判断文件类型end -->
						<span class="absol glyphicon glyphicon-remove" ng-click="removeDoc(items)"></span>
						</li>
						<p title="{{items.docName}}" class="substr" style="width:100px;">{{items.docName}}</p>
					</ul>
					<ul ng-repeat="items in formSelectedList" class="select-form rela read-book" style="border:0;vertical-align:top">
						<li style="border:1px solid #ddd;"><img src="imgs/pro-icon/icon-pdf.png" alt="" ng-click="preView(items.uuid,items.name,items.suffix,$index,'formSelectedList')">
						<span class="absol glyphicon glyphicon-remove" ng-click="removeForm(items)"></span>
						</li>
						<!-- <input type="checkbox" class="absol" ng-checked="isSelected" ng-click="updateSelection($event,items)"> -->
						<p title="{{items.name}}" class="substr" style="width:100px;">{{items.name}}</p>
					</ul>
					<input class="upload-docs" type="file" nv-file-select="" uploader="uploader1" multiple nv-file-select="" style="display:none;" />
					<ul class="list-inline inline" style="vertical-align:middle">
			            <li ng-repeat="item in uploader1.queue">
			            	<div class="updata-photo">
				                <div ng-show="uploader1.isHTML5 && item.file.type.substr(0,5) === 'image'" ng-thumb="{ file: item._file, height: 100 }"></div>
		                        <div ng-show="uploader1.isHTML5 && item.file.type.substr(0,5) !== 'image'" style="width:72px;">
		                            <img ng-src="./imgs/icon/icon-doc.png" alt=""><br/>
		                        </div>
			            	</div>
	                        <!-- <span class="absol glyphicon glyphicon-remove" ng-click="removeDoc(item)"></span> -->
							<div class="substr" style="margin-top:20px;width: 100px;" title="{{item.file.name}}">{{item.file.name}}</div>
			            </li>
			        </ul>
					<ul class="inline"><button class="btn  btn-add btn-lg" popover-trigger="'focus'" class="form-control" popover-placement="right" uib-popover-template="dynamicPopover.templateUrl"><span>+</span></button></li>
					</ul>
				</div>
			</div>
		</form>
		</div>
	</div>

	<!-- errorMessage-->
	<div class="create-error">
		<ul>
			<li style="color:red" ng-show="flag.isTopicNull && create_form.topic.$error.required">协作主题不能为空</li>
			<li style="color:red" ng-show="flag.isleast">请至少上传一张图片或一份资料</li>
		</ul>
	</div>
	<div class="create-btn-submit footer footer-commom">
		<div class="text-center">
			<button class="btn btn-default foot-btn" ng-click="save(0)">存草稿</button>
			<button class="btn btn-default foot-btn" ng-click="save(1)">提交</button>
			<button class="btn btn-default new-btnFail" ng-click="cancelCreate()">取消</button>
		</div>
	</div>
</div>

<div ng-if="flag.isPreview" class="pdf-sign">
    <div class="inner">
    <header>
        <div class="header-operation clearfix">
            <div ng-click="backDetail()" class="pull-left" style="margin-top:10px;margin-left:100px;">
                <span class="" style="margin-left:15px;"><img src="imgs/call_back.png" alt=""></span>
                <a href="" style="color:#69C080;text-decoration:none;">返回</a>
            </div>
           <!--  <div class="label_tools">
                <img src="imgs/icon/icon-small.png" alt="" ng-click="minimize()" >
                <div  ng-click="maxRestore($event)" class="inline" style="display:inline;margin-left:18px;">
                    <img src="imgs/icon/icon-restore.png" class="max-restore" ng-show="max">
                    <img src="imgs/icon/icon-big.png" class="max-restore" ng-show="restore">
                </div>
                <span class="change-window"><img src="imgs/icon/icon-close.png" alt="" ng-click="close()"></span>
            </div> -->
            <div class="pull-right" ng-click="CommentSign()" style="color:#69C080;margin-right:100px;">启用编辑</div>
        </div>
    </header>
    <!-- 默认预览 -->
	    <div ng-show="flag.isGeneral">
	        <div style="width:100%;margin-top:60px" ng-show="!isEdit">
	            <iframe src="{{previewUrl}}" style="height:calc(100vh - 100px);width:100%;" scrolling="no" frameborder="0"></iframe>
	        </div>
	    </div>
		<!-- 编辑部分 -->
		<div class="doc-edit" ng-show="flag.isPdfsign">
			<div id="edit-office" style="min-height:300px">editOffice</div>
			<div class="text-center footer footer-commom">
				<button class="btn btn-default foot-btn" type="button" ng-click="saveOffice()">保存</button>
				<button class="btn btn-default foot-btn" type="button" ng-click="cancelEditOffice()">取消</button>
			</div>
		</div>
</div>
</div>
<script type="text/javascript">
	$('.selectpicker').selectpicker({
		  style: '',
		  size: 'auto'
		});
</script>
