<div class="container-fluid">
	<div class="create">
		<div class="title">创建协作</div>
		<div class="row">
		  	<label for="" class="col-xs-2">协作名称：</label>
		    <input type="text" class="col-xs-3" id="" placeholder="">
		    <label for="" class="col-xs-2">负责人：</label>
		    <input type="text" class="col-xs-3" id="" placeholder="" ng-model="responsiblePerson"><span class="plus-icon" ng-click="selectResponsible()">+</span>
		</div>
			
		<div class="row">
		  	<label for="" class="col-xs-2">优先级：</label>
		   	<select class="selectpicker col-xs-3 priority">
			  	<option>Mustard</option>
			  	<option>Ketchup</option>
			  	<option>Relish</option>
			</select>
		    <label for="" class="col-xs-2">限制期限：</label>
		    <p class="input-group col-xs-3">
	          <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭" clear-text="清除" current-text="今天" ng-disabled="!checksignal"/>
	          <span class="input-group-btn">
	            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
	          </span>
	          <input type="checkbox" ng-click="isChecked()">
	        </p>
		</div>
		<div class="row">
			<label class="col-xs-2">标识：</label>
		  	<select class="selectpicker">
			  	<option>Mustard</option>
			  	<option>Ketchup</option>
			  	<option>Relish</option>
			</select>
		</div>
		<div class="row">
			<label for="" class="col-xs-2">关联模型：</label>
			<div class="list-inline">
				<!-- <button class="btn btn-default" popover-placement="right" popover-trigger="'focus'" uib-popover-template="dynamicPopover.templateUrl">与工程关联</button> -->
				<button class="btn btn-default" ng-click="linkProject()">与工程关联</button>
				<button class="btn btn-default">与图上构建关联</button>
				<button class="btn btn-default">与构建类别相关</button>
			</div>
		</div>
		<div class="row">
			<label for="" class="col-xs-2">描述：</label>
			<textarea class="col-xs-6" rows="4"></textarea>
		</div>
		<div class="row">
			<label for="" class="col-xs-2">相关人员：</label>
			<div class="selected-list inline">
				<ul class="inline" ng-repeat="item in sign">
					<img src="{{item.avatar}}" alt="">
					<li>{{item.username}}</li>
				</ul>
				<ul class="inline" ng-repeat="item in noSign">
					<img src="{{item.avatar}}" alt="">
					<li>{{item.username}}</li>
				</ul>
				<button class="btn btn-default" ng-click="selectRelated()">添加</button>
			</div>
		</div>
		<!-- upload -->
		<div class="row">
			<label for="" class="col-xs-2">照片：</label>
			<div class="upload-img">
				<input class="upload-img" type="file" nv-file-select="" uploader="uploader" style="display:none;"/><br/>
		        <ul class="list-inline inline">
		            <li ng-repeat="item in uploader.queue">
		                Name: <span ng-bind="item.file.name"></span><br/>
		               
		                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
		                <button ng-click="item.upload()">upload</button>
		            </li>
		        </ul>
		        <button class="btn btn-default btn-add" ng-click="fileUpload()">+</button>
		        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
	                <span class="glyphicon glyphicon-upload"></span> Upload all
	            </button>
	            <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading" disabled="disabled">
	                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
	            </button>
				<!-- <div class="col-xs-6"><button class="btn">添加</button></div> -->
			</div>
		</div>
		<div class="row">
			<label for="" class="col-xs-2">资料：</label>
			<div class="upload-docs">
				<input class="upload-docs" type="file" nv-file-select="" uploader="uploader1" multiple nv-file-select="" style="display:none;" />
				 <ul class="list-inline inline">
		            <li ng-repeat="item in uploader1.queue">
		                Name: <span ng-bind="item.file.name"></span><br/>
		                <button ng-click="item.upload()">upload</button>
		            </li>
		        </ul>
				<button class="btn btn-default btn-add" ng-click="docsUpload()">+</button>
			</div>
		</div>
		<div class="btn-submit">
			<div class="text-center">
				<button class="btn btn-default">存储</button>
				<button class="btn btn-default">提交</button>
				<button class="btn btn-default">取消</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('.selectpicker').selectpicker({
  style: 'btn-default',
  size: 'auto'
});
</script>
