<!--<link rel="stylesheet" href="css/select-person-related.css">-->
<div class="select-person-related" scroll-directive copy-radio>
    <div class="modal-header">
        <h3 class="modal-title">选择相关人</h3>
         <div class="inline close-sbtn" ng-click="cancel()">
            <span class="close"></span>
        </div>
    </div>
    <div class="modal-body" scroll-directive id="content-b1" style="overflow:auto;height:400px;">
        <div class="row"   >
            <div class="col-xs-6 left">

                <div class="row">
                    <div class="col-xs-4 select" style="width:153px;" >
                         <select  name=""  ng-model="selectedOption" ng-options="item.deptName for item in deptInfo.availableOptions" ng-click="switchUsers(selectedOption)"></select>
                    </div>
                    <div class="col-xs-7 search rela" >
                        <input type="text" class="form-control" placeholder="搜索联系人" ng-change="responsibleSearch($event)" ng-model="queryForm"><img src="imgs/seache.png" alt="">
                    </div>
                </div>
                <div class="all-select clearfix">
                    <!--<div >new-icon.png</div>-->
                    <p class="modal-checked">
                        <label >
                            <span style="display: inline-block;padding: 0 25px;">全选</span><input id="edit-all" type="checkbox" style="opacity:0;display: inline-block; width: auto;" ng-click="allSelected()">
                            <span class="allChoice">

                            </span>
                        </label>
                    </p>
                </div>
                <div class="person-list" id="content-a8">
                    <div ng-repeat="user in userList" class="select-list">
                        <a class="first-title" ng-click="isCollapsed = !isCollapsed">
                            <span class="glyphicon glyphicon-triangle-right"></span><span>{{user.role}}</span>
                        </a>
                        <ul class="sub-nav" uib-collapse="!isCollapsed">
                            <li ng-repeat="list in user.users" class="select-check" ng-click="addRelated(list)" ng-class="{true:'grey',false:'default'}[list.add]" >
                                <label >
                                    <img src="{{list.avatar}}"><span>{{list.username}}</span>
                                </label>
                                <div class="user-chioce">

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                
            </div>
            <div class="col-xs-6 right" style="padding:0 10px;" id="content-a10">
                <div class="clearfix info-title" >
                   <!--  <div class="pull-left"><input type="checkbox"><span>全选</span></div> -->
                    <div  style="float:left">已选择{{relatedSelected.length}}人，需要签字{{trans_selected.sign.length}}人</div>
                    <!--全部删除-->
                    <div class="remove-all" style="float:right;" ng-click="del()">全部删除 <span class="error-del"></span></div>
                </div>

                <div>
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="row in relatedSelected"  align="center" style="line-height:40px;">
                                <td class="is-sign">
                                    <label class="rela" style="">
                                        <input type="checkbox" ng-checked="isSelected(row)" ng-click="updateSelection($event,row)" ng-model="typeCheck" style="opacity:0;" >
                                        <div class="absol handle-state" ng-click ="adminHandle()">需签字</div>
                                    </label>
                                        <div class="avatar-pic"><img ng-src="{{row.avatar}}" alt=""></div>
                                        <span>{{row.username}}</span>


                                </td>
                                <!--<td></td>-->
                                <td ng-click="removeRelated(row)" style="text-align:center;">删除 <span class="error-del"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok1()" ng-disabled="form1.$invalid">确定</button>
        <button class="btn btn-cancel" type="button" ng-click="cancel()">取消</button>
    </div>
</div>