<!--<link rel="stylesheet" href="css/select-person-related.css">-->
<div class="select-person-related" scroll-directive copy-radio>
    <div class="modal-header">
        <h3 class="modal-title">选择相关人</h3>
         <div class="inline close-sbtn" ng-click="cancel()">
            <span class="close"></span>
        </div>
    </div>
    <div class="modal-body" scroll-directive id="content-b1" style="overflow:auto;height:400px;">
        <div class="row"   >
            <div class="col-xs-6 left">

                <div class="row">
                    <div class="col-xs-4 select" style="width:153px;">
                         <!--<select  name=""  ng-model="selectedOption" ng-options="item.deptName for item in deptInfo.availableOptions" ng-change="switchUsers(selectedOption)"></select>-->
                        <select  class="identify selectpicker be-project" name=""  ng-model="selectedOption" ng-change="switchUsers(selectedOption)">
                            <option value="{{item.deptId}}"
                                    data-content="<div class='substr' title='{{item.deptName}}' style='text-align:left;'>
					  					<span>{{item.deptName}}</span>
					  				</div>"
                                    ng-repeat="item in deptInfo.availableOptions track by $index">
                            </option>
                        </select>
                    </div>
                    <div class="col-xs-7 search rela" >
                        <input type="text" class="form-control" placeholder="搜索联系人" ng-change="responsibleSearch($event)" ng-model="queryForm"><img src="imgs/seache.png" alt="">
                    </div>
                </div>
                <div class="all-select clearfix">
                    <!--<div >new-icon.png</div>-->
                    <p class="modal-checked">
                        <label style="padding-top: 8px;">
                            <span  class="btn btn-success" style="display: inline-block;border-radius: 5px;line-height: 18px;">全选</span>
                            <input id="edit-all" type="checkbox" style="display: none; width: auto;" ng-model="flag.allSelected" ng-click="allSelected()">
                            <!-- <span class="allChoice"></span> -->
                        </label>
                    </p>
                </div><!-- getUserAvaterUrl($index); -->
                <div class="person-list" id="content-a8">
                    <div ng-repeat="user in userList track by $index" class="select-list">
                        <a class="first-title" ng-click="isCollapsed=!isCollapsed">
                            <span class="glyphicon glyphicon-triangle-right"></span><span>{{user.role}}</span>
                        </a>
                        <ul class="sub-nav" id="uib_{{$index}}" uib-collapse="!isCollapsed">
                            <li ng-repeat="item in user.users track by $index" class="select-check" ng-click="addRelated(item)" ng-class="{true:'grey',false:'default'}[item.add]">
                                <label >
                                   <img onerror="this.onerror='';this.src='./imgs/icon/defalut.png'"  ng-src="{{item.avatar}}" />
                                   <!--  <img onerror="this.onerror='';this.src='./imgs/icon/defalut.png'" ng-if="item.uuid==null||item.uuid==''" id="{{$parent.$parent.$index}}_default_{{$index}}" src="" />
                                    <img onerror="this.onerror='';this.src='./imgs/icon/defalut.png'" ng-if="item.uuid!=null&&item.uuid!=''" id="{{$parent.$parent.$index}}_{{item.uuid}}_{{$index}}" src="" />--><span>{{item.username}}</span> 
                                </label>
                                <div class="user-chioce"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
           <div class="clearfix info-title" style="float: left;width: 50%;margin-bottom: 20px;">
              <!--  <div class="pull-left"><input type="checkbox"><span>全选</span></div> -->
               <div  style="float:left">已选择{{relatedSelected.length}}人，需要签字{{trans_selected.sign.length}}人</div>
               <!--全部删除-->
               <div class="remove-all" style="float:right;cursor:pointer;" ng-click="delAll()">全部删除 <span class="error-del"></span></div>
           </div>
            <div class="col-xs-6 right" style="padding:0 10px;" id="content-a10">
                <div style="margin-top: 10px;">
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="row in relatedSelected track by $index"  align="center" style="line-height:40px;">
                                <td class="is-sign">
                                    <label class="rela" style="">
                                        <input ng-if="!row.canSign" disabled type="checkbox" ng-checked="isSelected(row)" ng-click="updateSelection($event,row)" ng-model="typeCheck" style="opacity:0;" >
                                        <input ng-if="row.canSign" type="checkbox" ng-checked="isSelected(row)" ng-click="updateSelection($event,row)" ng-model="typeCheck" style="opacity:0;" >
                                        <div class="absol handle-state">需签字</div>
                                    </label>
                                    <div class="avatar-pic"><img  onerror="this.onerror='';this.src='./imgs/icon/defalut.png'" ng-src="{{row.avatar}}" ng-show="row.avatar"/><img src="./imgs/icon/defalut.png" alt="" ng-show="row.avatar==null"></div>
                                    <span>{{row.username}}</span>
                                </td>
                                <!--<td></td>-->
                                <td style="text-align:center;">
                               	 <span ng-if="!row.mustExist"  class="error-del"  ng-click="removeRelated(row)"></span>
                               </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok1()" ng-disabled="form1.$invalid">确定</button>
        <button class="btn btn-cancel" type="button" ng-click="cancel()">取消</button>
    </div>
</div>