<div class="update-comment rela">
    <div class="modal-header">
        <h3 class="modal-title">添加更新</h3>
        <div class="inline close-sbtn" ng-click="cancel()">
            <span class="close"></span>
        </div>
    </div>
    <div class="modal-body" style="min-height:330px;">
        <div class="row">
            <div class="col-xs-1">描述：</div>
            <div class="col-xs-10">
                <textarea name="" id="" cols="30" rows="6" ng-model="comment" style="width:100%"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">状态</div>
            <div class="col-xs-10">
                <select class="identify col-xs-6" ng-model="status"  ng-show="zhenggai" show-select>
                    <option value="-1">空</option>
                    <option value="1">已整改</option>
                    <option value="2">整改中</option>
                    <option value="3">不整改</option>
                    <option value="4">待整改</option>
                    <option value="5">未整改</option>
                </select>
                <!--  <select class="identify col-xs-6" ng-model="status"  ng-show="!zhenggai">      
                    <option value="6">待确认</option>
                    <option value="7">进行中</option>
                </select> -->
            </div>
        </div>
        <div class="row upload" style="margin-top:10px;">
            <div class="col-xs-1">资料：</div>
            <div class="upload-docs col-xs-10">
                <input class="upload-docs" type="file" nv-file-select="" uploader="uploader1" multiple nv-file-select="" style="display:none;" />
                <ul class="list-inline">
                    <li ng-repeat="item in uploader1.queue">
                       <!--  Name: <span ng-bind="item.file.name"></span><br/> -->
                       
                        <div ng-show="uploader1.isHTML5 && item.file.type.substr(0,5) === 'image'" ng-thumb="{ file: item._file, height: 100 }"></div>
                        <div ng-show="uploader1.isHTML5 && item.file.type.substr(0,5) !== 'image'" style="width:72px;">
                            <img src="./imgs/icon/icon-doc.png" alt=""><br/>
                            <div class="substr">{{item.file.name}}</div>

                        </div>
                        <button ng-click="item.upload()">upload{{item.file.type.substr(0,5)}}</button>
                    </li>
                </ul>
                <button class="btn  btn-add btn-lg" ng-click="docsUpload()"><span>+</span></button>
                <button type="button" class="btn btn-success btn-s" ng-click="uploader1.uploadAll()" ng-disabled="!uploader1.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s" ng-click="uploader1.cancelAll()" ng-disabled="!uploader1.isUploading" disabled="disabled">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()" ng-disabled="form1.$invalid">确定</button>
        <button class="btn btn-cancel" type="button" ng-click="cancel()">取消</button>
    </div>
    <!-- 加载滚动条 -->
    <div class="loading-progress" ng-show="uploadBegin" style="display:none;">
        <div class="upload-begin">
            <div class="progress upload-begin" style="">
                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader1.progress + '%' }"></div>
            </div>
        </div>
    </div>
</div>