<div class="linkbe">
    <div class="modal-header">
        <h3 class="modal-title">添加更新</h3>
        <div class="inline close-sbtn" ng-click="cancel()">
            <span class="close"></span>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-2">描述：</div>
            <div class="col-xs-9">
                <textarea name="" id="" cols="30" rows="10" style="max-width:400px;width:400px;" ng-model="comment"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">资料：</div>
           <div class="upload-docs">
                <input class="upload-docs" type="file" nv-file-select="" uploader="uploader1" multiple nv-file-select="" style="display:none;" />
                 <ul class="list-inline inline">
                    <li ng-repeat="item in uploader1.queue">
                        Name: <span ng-bind="item.file.name"></span><br/>
                        <button ng-click="item.upload()">upload</button>
                    </li>
                </ul>
                <button class="btn btn-default btn-add" ng-click="docsUpload()">+</button>
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()" ng-disabled="form1.$invalid">确定</button>
        <button class="btn btn-cancel" type="button" ng-click="cancel()">取消</button>
    </div>
</div>