<nav class="navbar navbar-default" role="navigation">
		<div class="header clearfix">
			<div class="navbar-header user">
				<img src="./imgs/saber.jpg" alt="头像">
				<div class="inline">
					<div>贾吉祥&nbsp;&nbsp;施工员</div>
					<div>鲁班建设集团有限公司</div>
				</div>
				<div class="inline header-shape" ng-click="menus()">
					<!--<span class="glyphicon glyphicon-chevron-down f-white ml-10"></span>-->
					<div class="header_trigon">

					</div>
				</div>
				<div class="header_menus">
					<ul>
						<li>
							鲁班软件研发中心(100)<span class="glyphicon glyphicon-chevron-right"></span>
							<div class="child_items">
								<ol >
									<li>动态</li>
									<li>协作</li>
								</ol>
							</div>
						</li>
						<li>
							广运房地产公司(100)<span class="glyphicon glyphicon-chevron-right"></span>
							<div class="child_items">
								<ol >
									<li>动态</li>
									<li>协作</li>
								</ol>
							</div>
						</li>
						<li>
							PSD测试企业(100)<span class="glyphicon glyphicon-chevron-right"></span>
							<div class="child_items">
								<ol >
									<li>动态</li>
									<li>协作</li>
								</ol>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<ul class="nav navbar-nav">
				<li  ui-sref="cooperation" ng-class="{navActive:$state.includes('cooperation')}">
					<img src="imgs/icon01.png" alt="">
					<a>协作管理</a>
				</li>
				<li ui-sref="manage" ng-class="{navActive:$state.includes('manage')}">
					<img src="imgs/icon02.png" alt="">
					<a>资料动态</a>
				</li>
			</ul>
			<div class="label_tools">
				<img src="imgs/label_small.png" alt="">
				<img src="imgs/label_big.png" alt="">
				<img src="imgs/label_close.png" alt="">
			</div>
		</div>
</nav>