<nav class="navbar navbar-default" role="navigation"  ng-controller="headerCtrl">
		<div class="header clearfix">
			<div class="navbar-header user">
				<img src="./imgs/saber.jpg" alt="头像">
				<div class="inline">
					<div>贾吉祥&nbsp;&nbsp;施工员</div>
					<div>鲁班建设集团有限公司</div>
				</div>
				<div class="inline header-shape" ng-click="menus()">
					<!--<span class="glyphicon glyphicon-chevron-down f-white ml-10"></span>-->
					<div class="header_trigon">

					</div>
				</div>
				<div class="header_menus">
					<ul>
						<li ng-repeat="menus in headerMenus track by $index">
							<p><b>{{menus.enterpriseName}}</b><span class="glyphicon glyphicon-chevron-right"></span></p>
							<div class="child_items">
								<ol >
									<li>动态({{menus.trendsCount}})</li>
									<li>协作({{menus.coCount}})</li>
								</ol>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<ul class="nav navbar-nav">
				<li  ui-sref="cooperation" ng-class="{navActive:$state.includes('cooperation')}">
					<img src="imgs/icon01.png" alt="">
					<a>协作管理</a>
				</li>
				<li ui-sref="manage" ng-class="{navActive:$state.includes('manage')}">
					<img src="imgs/icon02.png" alt="">
					<a>资料动态</a>
				</li>
			</ul>
			<div class="label_tools">
				<img src="imgs/icon/icon-small.png" alt="" ng-click="minimize()">
				<div  ng-click="maxRestore($event)" class="inline">
					<img src="imgs/icon/icon-restore.png" class="max-restore" ng-show="max">
					<img src="imgs/icon/icon-big.png" class="max-restore" ng-show="restore">
				</div>
				
				<span class="change-window"><img src="imgs/icon/icon-close.png" alt="" ng-click="close()"></span>
			</div>
		</div>
</nav>
