<div  style="width:250px;line-height:50px;background-color:#434752;color:#fff">2016年7月20 星期三</div>
<div scroll-directive id="content-3" style="height:800px;overflow:auto" class="manage_bar" copy-radio>
    <uib-accordion close-others="true"   class="manage_title">
        <div uib-accordion-group class="panel-default"  is-open="status.open" ng-repeat="deptInList in deptInfoList" ng-click="childItems(deptInList.deptId)" >
          <uib-accordion-heading title="{{deptInList.deptName}}" class="sideText">
           {{deptInList.deptName}} <span class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></span>
          </uib-accordion-heading>
          <div ng-repeat="getProList in projectInfoList" class="manage_proList" ng-click="trentsList($event,getProList.ppid)">
              <!--111111-->
              <span title="{{getProList.projectName}}"><span class="font_radius">.</span>{{getProList.projectName}}</span>
          </div>
        </div>
    </uib-accordion>
</div>
