<div style="width:250px;line-height:40px;background-color:#353943;color:#fff;">2016年7月20 星期三</div>
<div scrollc-directive id="content-2" style="height:800px;overflow:auto" class="manage_bar" copy-radio>
	<uib-accordion close-others="true" class="sider-bar">
	    <div uib-accordion-group class="panel-default" is-open="status.open" ng-repeat="item in deptInfoList" ng-click="getprojectInfoList(item.deptId, status.open)">
	      <uib-accordion-heading class="sideText">
	        {{item.deptName}}{{status.open}}<span class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></span>
	      </uib-accordion-heading>
	      <div class="manage_proList" ng-repeat="item in projectInfoList" ng-click="getCollaborationList($event,item.ppid)">
			 <span title="{{item.projectName}}"><span class="font_radius">.</span>{{item.projectName}}</span>
	      </div>
	    </div>
	</uib-accordion>
</div>


