<div class="trents" style="height:calc(100vh - 62px);overflow:hidden;background:#353944">
<!--<div  class="system-time">-->
    <!--{{serviceTime.sysTime}}<span style="margin-left:17px;">{{serviceTime.sysWeek}}</span>-->
<!--</div>-->
<div scroll-directive id="content-a3" style="overflow:auto;" class="manage_bar" copy-radio>
    <uib-accordion close-others="true"   class="manage_title">
        <div uib-accordion-group class="panel-default pro-list-name"  is-open="status.open" ng-repeat="deptInList in deptInfoList track by $index" profit-dept>
          <uib-accordion-heading  class="sideText">
          <div class="manage-menus" profit ng-click="childItems(deptInList.deptId,$event,status.open)">
              <span  id="deptbutton_{{deptInList.deptId}}" class="substr-sideMenus"  style="max-width:142px;margin-right:3px;display:inline-block !important;" title="{{deptInList.deptName}}" >{{deptInList.deptName}}</span>
              <i style="display:inline;font-style:normal" ng-if="deptInList.count > 0" >({{deptInList.count}})</i>
              <b ng-class="{'menus-icon-down': status.open, 'menus-icon-left': !status.open}"></b>
          </div>
          </uib-accordion-heading>
          	<div id="dept_{{deptInList.deptId}}" class="manage_proList">
				<div ng-if="deptInList.deptId != -1 && deptInList.deptId != 0">
			</div>
            </div>
        </div>
    </uib-accordion>
</div>
</div>