/* global */
body, ol, ul, li, dl, dd, dt, table, tr, td, div, p, img, h1, h2, h3, h4, h5, h6, i, var, em, a, input {
    margin: 0px;
    padding: 0px;
    font-family: "Microsoft yahei",'微软雅黑', Simsun, Arial;
    /*font-size:14px !important;*/
    /*color: #333;*/
}
textarea {
    resize:none;
}
.F16{
    font-size:16px !important;
}
.F14{
    font-size:14px !important;
}
.new-create input:focus{
    outline-color:#65C17D !important;
}
.edit-detailC input:focus{
    outline-color:#65C17D !important;
}
label.create-title{
    font-weight:normal !important;
    font-size:16px;
}
.col-xs-7{
    padding:0;
}
.col-xs-11{
    padding:0;
}
.col-xs-1,.col-xs-2{
    padding:0;
}
.last-time{
    width: 100%;
    /*position: absolute;*/
}
.last-time .date-time {
    width:336px;float:right;
    position:relative;
}
.last-time .date-time .input-group label{
    position:absolute;
    right:-30px;
}
.last-time .date-time .input-group .dropdown-menu{
    /*width:103% !important;*/
}
 .coo-detail .list .col-xs-5, .col-xs-6{
    position: relative;
    min-height: 1px;
}
html, body {
    height: 100%;
    /*min-width: 1000px;*/
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
.caret{
    color:#c7c9d3;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 14px;
}
a, a:hover, a:active, a:visited, a:link {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}
li {
    list-style: none;
}

.absol {
    position: absolute;
}
.tabs .absol{
    top:-1px;
}

.rela {
    position: relative;
}
.inline {
    display: inline-block;
}
.block {
    display: block;
}

/*菜单栏字体*/
.menusFont14{
    font-size:14px;
}
.currentTime span{
    padding-left:17px;
}
.trent-type{
    float: right;
    padding-right: 10px;
}

.panel-heading h4{
    font-size:14px;
}
.panel-title a span .ng-binding{
    display:inline !important;
    /*color:#fff;*/
}
.manage-menus{
    color:#fff;
    padding: 16px 20px;
}

.width60 {
    width: 60px!important;
}
.font12 {
    font-size: 12px!important;
}
.bg-lightgray {
    background-color: #f5f7fb;
}
.bg-red,
.bg-lightred:hover {
    background-color: #eb6363;
    opacity: 1;
}
.bg-orange,
.bg-lightorange:hover {
    background-color: #fcc387;
    opacity: 1;
}
.bg-lightred {
    background-color: #eb6363;
    opacity: 0.7;
}
.bg-lightorange {
    background-color: #fcc387;
    opacity: 0.9;
}
.text-darkgrey {
    color: #666;
}
.text-red {
    color: #eb6363;
}
.text-orange {
    color: #FABE00;
}
.text-blue {
    color: #3685d3;
}
.border-red {
    border: 1px solid #eb6363;
}
.form-box{
   margin-top: 20%;
}
.vertical-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.align-right {
    text-align: left;
}
.substr-sideMenus{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    text-align: left;
}
.substr{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    text-align: center;
}
.reply-name{
    margin-top:10px;
}
.break-word {
    word-wrap: break-word;
}
.f-white {
    color: #fff;
}
.ml-10 {
    margin-left: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mb-10 {
    margin-bottom:10px;
}
.red {
    background-color: red;
}
.btn {
    border-radius: 0;
}

.btn-sm.btn-danger{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px !important;
    background:#65C17D !important ;
    border:0 ;
}
.btn-sm.btn-success{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px !important;
    background:#979BA8;
    border:0;
}
.btn-cancel{
    width: 90px;
    height: 30px;
    border-radius: 5px;
    background: #969aa7;
    color: #fff;
    line-height: 18px;
    border: 0;
}
/*.btn-default:hover{*/
    /*background: #969aa7;*/
    /*color:#fff;*/
/*}*/
 .btn.btn-success:not(.uib-close){
    background:#65c17d;
    border:0;
}
 .btn.btn-success:not(.uib-close):hover{
    background:#55ad6c;
    border:0;
}
.btn.btn-success:not(.uib-close):active{
    background:#4a965e;
    border:0;
}
.btn.btn-cancel{
    backgorund:#979ba8;
}
.btn.btn-cancel:hover{
    background:#777b8a;
}
.btn.btn-cancel:active{
    background:#5b6171;
}


/*新建协作页面*/
/*确定、存储、取消按钮样式*/
.form-control:focus table{
    border:1px solid
}
.btn-default.new-btnFail{
    width: 143px;
    height: 34px;
    border-radius: 5px;
    background: #979ba8;
    color: #fff;
    border:0;
}
.btn-default.new-btnFail:hover{
    background:#777b8a !important;
    border:0;
}
.btn-default.new-btnFail:active{
    background:#5b6171 !important;
    border:0;
}

/*reset bootstrapcss*/
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
.container-fluid .left .bootstrap-select .dropdown-toggle{
    outline-style: none !important;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    /*outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;*/
}

.btn-primary{
    border:none;
}

.grey{
    background-color: #eceef0;
}
.default{
    background-color: #fff;
}

.font16{
    font-size:16px;
}
.font14{
    font-size:15px;
}

/*coopdetail*/
@media (min-width: 993px) and (max-width: 1150px){
    .coop-detail .container {
        width: 890px;
    }
    .action.pc-photo .picInfo{
        width:91.66666667% !important;
    }
    .mobile-relate .col-md-11{
        width:91.66666667% !important;
    }
    .data_list .data_every .data_titleInfo{
        margin-top:100px;
    }
}

/*电脑端*/
.detail-computer{
    /*display:none;*/
    position:relative;

}
.detail-computer .margin-12{
    padding-bottom:2px;
}
.detail-computer .F16{
    font-size:16px;
}
.detail-computer .F14{
    font-size:14px;
}
.detail-computer .detail-dir{
    border:1px solid #ddd;min-height:108px;padding: 6px 8px;
}

/*---------------------main--------------------*/
.main{
   overflow:hidden;
}
/*-------------------main_content---------------*/
.main_content{
    /*width:1200px;*/
    margin:0 auto;
    margin-top:3px;
}
.coop-detail-con{
    position:relative;
    margin-top: 60px;
}
/*------------------content_left-----------------*/
.content_left{
    /*width:80%;*/
    /*height:1000px;*/
    /*display:inline-block;*/
    /*background:rebeccapurple;*/
}
.content_left .proTitle{
    width:70px;
    /*height:1000px;*/
    /*border:1px solid #0000ff;*/
    display:inline-block;
}
.content_left .proTitle .message {
    width:70px;
    height:70px;
    background:cornflowerblue;
    text-align:center;
    float:left;
}
.content_left .proTitle .message p{
    width:40px;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    margin: 13px;
    float: left;
}

.detail-close{
    position: fixed;
    top: 20px;
    right: -13px;
    font-size: 22px;
    z-index: 100;
    color: #fff;
}
/*-------------proInfo-------------*/
.proInfo{
    width:100%;
    float:right;
}
.proInfo{
    /*padding-bottom: 10px;*/
    /*border-bottom:1px solid #ddd;*/
    margin-top:36px;
    padding-bottom: 2px;
}
.proInfo .pro_man .col-md-5{
    padding:0;
}
.proInfo .pro_man >div{
    margin-bottom:20px;
}
.coop-detail .proInfo .pro_man span.F16{
    width:80px;
    display:inline-block;
}
.proInfo .pro_man .active{
    margin-top:15px;
    /*width: 32%;*/
    /*height: 100px;*/
    float: left;
}
.proInfo .pro_man  .btn-default{
    background-color:#65c17d !important;
    color:#fff;
    border:0;
}
.proInfo .pro_man  .btn-default:hover{
    background:#55ad6c !important;
    border:0;
}
.proInfo .pro_man  .btn-default:active{
    background:#4a965e !important;
    border:0;
}
.proInfo .pro_man  .btn.focus, .btn:focus, .btn:hover{
   /* background:#65c17d;*/
}
.proInfo .pro_man .coop-name{
    display: inline-block;
}
.proInfo .pro_man div:nth-child(1) .look-model{
    /*background:url(../imgs/show_model.png) 5px center no-repeat;*/
    padding-left:30px;
}
.proInfo .pro_man div:nth-child(1) .look-model img{
    position:absolute;
    margin-left: -4%;
}
.proInfo .pro_man .play-audio{
    width:143px;
    /*background: url(../imgs/play.png) 30px center no-repeat;*/
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.proInfo .pro_man .play-audio img{
    /*position: absolute;*/
    float: left;
    margin-left: 14px !important;

}
.proInfo .pro_man .play-audio:hover,.play-audio:focus{
    color:#fff !important;
}
.proInfo .pro_man  .look-model{
    /*background: url(../imgs/show_model.png) 13px center no-repeat;*/
   width:143px;
    height:34px;
    border-radius:5px;
}
.proInfo .pro_man  .look-model img{
    float:left;
    margin-right:2px;
}
.say-time{
    margin-left: 89px;
    margin-bottom:10px;
    clear:both;
}
.say-pic{
    margin:10px 0;margin-right:20px;
}
/*.proInfo .pro_man  .look-model:focus, .look-model:hover{*/
    /*!*background: url(../imgs/show_model.png) 13px center no-repeat;*!*/
    /*!*padding-left: 36px;*!*/
    /*!*border-radius:5px;*!*/
    /*!*color:#fff !important;*!*/
/*}*/

/*play-audio-Mask*/
.detail-voice .play-audio-mask{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:77px;
    background:#000;
    opacity:0.6;
    z-index: 100;
}
.detail-voice .palys{
    position: fixed;
    top: 16px; 
    left: 50%;
    z-index: 100;
    margin-left: -140px;
}
/*声音进度条*/
.detail-voice  .detail-voice-dialog{
    z-index: 108;
    position: absolute;
    right: 25px;
    width: 36px;
    color: #fff;
    top: -33px;
    font-size: 20px;
}


.detail-computer .audio-close {
    z-index: 108;
    position: absolute;
    right: 0;
    width: 17px;
    color: #fff;
    top: -14px;
}

input,button{margin:0;font-size:12px;vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}

a{color:#333;text-decoration:none;}
/*a:hover{color:#c00;text-decoration:underline;}*/

/* votebox */
.votebox{width:282px;margin-left:15px;text-align:left;position:relative;z-index:66;}
/* barbox */
.barbox{height:10px;line-height:10px;overflow:hidden;}
.barbox dt a{color:#0048CC;}
.barbox dd{float:left;}
.barbox dd.last{color:#999;}
.barbox dd.barline{width:282px;background:#fff ;border-radius:5px;}
.barbox dd.barline div.charts{height:10px;overflow:hidden;background:#65c17d;border-radius:8px;}
.detail-voice .palys .play-play{
    margin-right:34px;
}
/*声音印度条*/

.row{
    margin:0;
}
.proInfo .pad_clear{
    padding:0;
}
.active span{
    display:inline-block;
    width:80px;
    text-align:left;
}
.active p{
    display:inline-block;
}
.active .btn{
    margin-top:10px;
}
/*-------------detail(详情描述)--------------*/
.textHeight{
    height:130px;
}
.detail {
    margin-top:32px;
    border-bottom:1px solid #ddd;
}
.detail .blank{
    margin-bottom:20px;
}
.Avatar{
    /*clear:both;*/
    margin-top:33px;
    margin-bottom:16px;
}
.detail .pc-job-descrition{
    border-bottom:1px solid #ddd;
    padding-bottom:40px;
    padding-bottom:40px;
}
.Avatar .photo dl{
    height: 100px;
    display: inline-block;
    margin-right:31px;
    text-align:center;
    font-size:12px;
    margin-left:0px;
    margin-bottom:31px;
}
.photo.col-xs-8.col-md-10{
    /*padding:0;*/
}
.col-xs-11{
    padding:0;
}
.Avatar .photo dl dt{
    /*width:50px;*/
    /*height: 50px;*/
    border-radius: 50%;
    /*border:1px solid #ddd;*/
    margin-bottom:10px;

}
.Avatar .photo dl dt img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    border:2px solid #d8dbe5;
}
.Avatar .photo dl dd{
    line-height:20px;
    margin-bottom:10px;
    font-size:14px;
}
.Avatar .photo dl dd:last-child{
    margin-bottom:0;
}
.adorn-line{
    border-right: 1px solid #ddd;
    height: 100%;
    display: inline-block;
    position: absolute;
}
.margin-bottom10{
    margin-bottom:10px;
}
/*-----------------------action--------------*/
.action{
    /*padding:40px 0;*/
    padding-top:38px;
    padding-bottom:20px;
    border-bottom:1px solid #ddd;
}
.action dl{
    display: inline-block;
    text-align: center;
    margin-right: 40px;
    width: 118px;
    margin-bottom: 15px;
}
/*.action dl dt{
    border:1px solid #ddd;
}*/

.action dl dt img{
    margin-top: 9px;
}
.action dl dd{
    line-height:40px;
    margin-top:10px;
}
.action .show-icon .detail-down{
    width:20px;
    height:20px;
    margin-top:7px;
}
.action .picInfo  dl dt .detail-search{
    width:100%;
    background:#b8bac3;
    line-height:36px;
    /*opacity:0.6;*/
    position:absolute;
    bottom:-36px;
    left:0;
    opacity:0.8;
}
.action .picInfo  dl dt .detail-search img{
  width:15px;
  height:15px;
  vertical-align:middle;
}
.action .picInfo  dl dt {
    width: 72px;
    overflow: hidden;

}

.action .picInfo dl dt>img.thumb {
    max-width: 118px;
}
.action .picInfo dl dt>img.file-icon {
    max-width: 118px;
    vertical-align: middle;
    position: absolute;
    left: 10px;
    top: 9px;
}
.action .picInfo  dl dt .deta-down{
    width: 118px;
    height: 118px;
    border:1px solid #ddd;
    overflow: hidden;
}
.action .picInfo  dl dt .deta-down img{


}
.action .picInfo .data-list dt{
    width:118px;
    height:118px;
    border:1px solid #ddd;
}
.action .picInfo .data-list dt:hover{
    border:1px solid #65C17D;
}
.action .picInfo .data-list dd{
    width: 118px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*-------------reply---------------------------*/
.reply{
/*margin:34px 0;*/
    margin-top:40px;
}
.reply .man_pic{
    text-align:left;
}
.reply .man_pic p{
    margin-top:10px;
    /* margin-left:12px; */
    width: 55px;
}
.reply .man_pic img{
    width:50px;
    height:50px;
    border-radius: 50%;
    border: 2px solid #d8dbe5;
}
.reply .say{
    margin-bottom:34px;
}
.reply .comment {
    border: 1px solid #ddd;
    min-height: 70px;
    padding: 0 20px;
/*    width:auto !important;*/
}
.coop-detail .coop-detail-con{
    margin-top:84px;
}
.reply .comment .comment-doclist >div {
    width: 100px;
    margin-right: 10px;
}
.reply .say .comment  .dashed {
    border-bottom: 0.1rem dashed #ddd;
    padding: 10px 0;
}
.reply .say .comment .dashed dl {
    width: 66px;
}
.reply .say .comment .dashed dl dt {
    border: 1px solid #ddd;
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.reply .say .comment  .dashed .btn-replay-audio{
    background:#65C17D;
    color:#fff;
    line-height:30px;
    padding:0 10px;
    border-radius: 5px;
    outline-style:none;
}
.reply .say .comment  .dashed .btn-replay-audio:hover{
    background:#55ad6c ;
}
.reply .say .comment  .dashed .btn-replay-audio:active{
    background:#4a965e ;
}
.reply .say .comment  .dashed .btn-replay-audio>img{
    float:left;
    margin-top:5px;
    margin-right:5px;
}
.reply .reply-state{
    margin-bottom:10px;float:left;margin-right:20px;

}
.reply-other{
    display: inline-block;
}
.reply .say .comment .say-content .look-return span > img{
   width: 70px;
}
.reply .say .comment .say-content .look-return{
   width: 80px;
}

/*-----------principal(个人信息)-----------------------------*/
.principal{
    width:30%;
    border:1px solid red;
    margin-right:30px;
    float:left;
}
/*--------------------content_right---------------*/
.content_right_pc{
    width: 260px;
    position:fixed;
    top: 0px;
    right:-260px;
    background:#fff;
    z-index:200;
    /*box-shadow: 0px 3px 23px 3px;*/
}
.content_right_bv{
    width: 280px;
    position:fixed;
    top: 0;
    right: -280px;
    background:#fff;
    bottom:0;
    z-index:2;
}
.coop-theme .theme-title.span.F16{
    width:61px !important;
}
/*-------bttn(侧边栏样式)-----------------------------------*/
 .btn_box_pc{
    top: 42px;
    width: 43px;
    height: 74px;
    background: #979ba8;
    text-align: center;
    position: fixed;
    right: 0px;
    line-height: 74px;
    z-index:200;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height:85px;
     overflow:hidden;
}
 .btn_box_pc span{
     font-size: 30px;
     color: #fff;
     line-height:0;
 }
 .btn_box_bv{
    width: 43px;
    height: 74px;
    background: #979ba8;
    text-align: center;
    position: absolute;
    top: 40px;
    right: 0px;
    line-height: 74px;
    z-index:2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height:85px;
}
 .btn_box_bv span{
     font-size: 30px;
     color: #fff;
     line-height:0;
 }
  .hide_btn{
    line-height:60px !important;
 }
 /*-------------------aside--------------------------*/
.aside{
    width:100%;
    /*border:1px solid red;*/
    float:right;
    /*position:absolute;*/
    /*right:0;*/
    /*top:0;*/

    /*display:none;*/
}
.aside .side_title{
    line-height:41px;
    border-bottom:1px solid #ccc;
    text-align:center;
    background:#ddd;
    font-size:16px;
}

/*----------------state-----------------------*/
.state{
    width: 82%;
    margin-left: 30px;
    margin-top: 20px;
}
.state::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 0;
    width: 2px;
    height: calc(100% - 100px);
    background: #65c17d;
}
.mobile-devices .state::before {
    background: #5c58f9;
}

.state ul{
    width: 100%;
    position: relative;
    left: -18px;
    top: 0;
    margin-left: 19px;
    margin-bottom: 10px;
}
.state ul li{
    list-style:none;
    clear:both;
    margin-bottom:20px;
    position:relative;

}
.state ul li:last-child{
     margin-bottom:0;
     
}
.replay-down{
    border:1px solid #ddd;
}
.replay-down:hover{
    border:1px solid #65C17D;
}
.state ul li .step{
    width:34px;
    height:34px;
    background:#65c17d;
    border-radius: 50%;
    display:inline-block;
    position:absolute;
    top:0;
    left:-15px;
    text-align:center;
    display:inline-block;
}
.state ul li .step.pc-step img{
    text-align: center;
    width: 25px;
    vertical-align: middle;
    margin-left: 4.15px;
    margin-top:1px;
}
.state ul li .step.pc-step img+span{
    display:inline-block;
    vertical-align:middle;
    text-align:center;
    width:0%;
    height:100%;
}
.mobile-devices .state ul li .step {
    background: #5c58f9;
}

.state ul li .handle{
    line-height: 30px;
    border: 1px solid #ddd;
    width: 82%;
    display:inline-block;
    border-radius: 5px;
    margin-left: 30px;

}
.icon_man{
    display: inline-block;
    float: left;
    margin-top: 3px;
    padding: 0 5px;
    height: 27px;
}

.state ul li .handle p{
    display:inline-block;
    font-size:14px;
}

.icon_man img{
    width:24px;
    height:24px;
    border-radius: 50%;
    border:1px solid #d8dbe5;
}
.down-operate{
   width: 120px;margin-top:10px;text-align:left;
}
/*------------------footer---------------------*/

.show-icon {
    bottom: -38px;
    width: 118px;
    background: #b8bac3;
    /*opacity: 0.5;*/
    height:36px;
    text-align:center;
    opacity:0.8;
}
.show-icon span {
    margin: 0 7px;
    color: #fff;
    /*line-height:36px;*/
}
.data-list :hover .show-icon{
    display: block;
}

.data-list dd {
    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
    height: 30px;
}
/*问题整改*/
.pro_solve{
    position: absolute;
    top: 40px;
    left: -125px;
    width: 100px;
    height: 79px;
}
.pro_solve img{
    width:100px;
    height:79px;
}
.detail-computer .pull-left{
    /*width:10%;*/
    margin-top:10px;
}
.detail-computer .downloading {
    z-index: 201;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -150px;
    display: none;
}
.detail-computer .downloadIndex {
    z-index: 201;
    position: fixed;
    top: 50%;
    left: 50%;
    color: #55ad6c;
    margin-top: 85px;
    margin-left: -79px;
    display: none;
    font-size: 20px;
    letter-spacing: 2px;
}

/*电子签名*/
.pdf-sign .sign{
    position: fixed;;
    bottom: 60px;
    text-align: center;
    width: 100%;
}
/*手机端*/
html,body{
    height:100%;
/*    overflow-x:hidden;
    overflow-y:scroll;*/
    /*scroll:no;*/
}

.mobile-devices{
    height:100%;
    overflow-x:hidden;
}
.detail-computer .mobile-mark{
    z-index:150;
}
.mobile-mark{
    width:100%;
    height:100%;
    background:#000;
    opacity:0.5;
    position:fixed;
    top:0;
    left:0;
    bottom: 0;
    z-index:1;
    display:none;
}
.detail-computer .down-mark{
    z-index:201;
}
.down-mark{
    width:100%;
    height:100%;
    background:#fff;
    opacity:0.9;
    position:fixed;
    top:0;
    left:0;
    bottom: 0;
    z-index:1;
    display:none;
}
.detail-computer .export-mobile-mark{
    z-index:150;
}
.export-mobile-mark{
    width:100%;
    height:100%;
    background:#000;
    opacity:0.5;
    position:fixed;
    top:0;
    left:0;
    bottom: 0;
    z-index:1;
    display:none;
}
.text-format{
    /*text-indent:28px;*/
    line-height:20px;
}
.mobile-header{
    line-height:40px;
    background:#eceef0;
    text-align:center;
}
/*标识色块*/
.chara{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 6px;
    float: left;
    margin-top:3px;
}
.mobile-devices .play-audio{
    width: 49%;
    height: 40px;
    background: #65C17D url(../imgs/play.png) 32px center no-repeat;
    background: #5c58f9;
   padding:0 15px;
   border-radius:5px;
}
.dashed .play-audio{
    height:30px;
}
.mobile-devices .play-audio:active{
    background:#4e4ae3;
    outline-style: none;
}
.mobile-devices .play-audio img{
    float:left;
    margin-top:1px;
    padding-right:2px;
}
.mobile-devices .look-modle{
   /*background:#65C17D url(../imgs/show_model.png) 32px center no-repeat;*/
    background:#65C17D ;
    padding-left: 21px;
    border-radius:5px;
}
.mobile-devices .look-modle img{
    position:absolute;
    margin-left:-8%;
}
.mobile-main{
    width: 100%;
    padding:0;
    position:relative;
    overflow:hidden;
    padding:0 8px;
    margin-bottom: 70px;
}
.F14{
    font-size:16px;
}
.mobile-devices .inline{
    display: inline-block;
    /*padding: 0 8px;*/
    /*margin-bottom: 10px;*/
    /*margin-right: 10px;*/
}
.mobile-devices .inline > span {
    /*vertical-align: middle;*/
}
.mobile-devices .inline > span >img {
    height:50px;
}

.container{
    /*overflow-x:hidden;*/
}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-12{
    padding:0;
}
.mobile-main .mobile-main-principal{
    margin-top:20px;
    border-bottom:1px solid #ddd;
    padding:0px;
}
.mobile-main .mobile-main-principal p{
    margin-bottom:10px;
}
.last-p{
    margin:0 !important;
}
.btn-item{
    text-align:center;margin-top:15px;margin-bottom:20px;
}
.mobile-main .mobile-main-principal p .oSpan{
    width:81px;
    text-align:left;
    display:inline-block;
}
.mobile-main .mobile-main-principal div:nth-child(1){
    padding:0;
}
.mobile-main .mobile-main-principal .paly-model{
    /*background: #65c17d url(../imgs/show_model.png) no-repeat 22px center;*/
    background: #5c58f9;
    padding-left: 28px;
    border-radius:5px;
    outline-style:none;
}
.mobile-main .mobile-main-principal .paly-model:hover{
    background: #4e4ae3;
}
.mobile-main .mobile-main-principal .paly-model img{
    position: absolute;
    margin-left: -8%;
    margin-top:1px;
}
.mobile-main .mobile-main-principal .paly-mode img{
    position:absolute;
    margin-left:-8%;
    margin-top:3px;
}
/*.mobile-main .mobile-main-principal div:nth-child(2){
    padding:0;
    margin-bottom:20px;
}*/
.mobile-main .mobile-main-principal .paly-audio{
    /*background: #65c17d url(../imgs/play.png) no-repeat 32px center;*/
    background: #65c17d;
    padding-right: 9px;
    border: none;
    padding-left: 35px;
    outline-style:none;
}
.mobile-main .mobile-main-principal .paly-audio:hover{
    background:#4e4ae3;
}

.mobile-main .mobile-main-principal .paly-audio img{
    position:absolute;
    margin-left:-8%;
    margin-top:3px;
}
.mobile-main .mobile-main-principal div:nth-child(3){
    padding:0;
    float:right;
    margin-bottom:20px;
}
.mobile-main .mobile-main-principal .float-rig{
    float:right;
}
/*play-audio-Mask*/
.mobile-devices .detail-voice .play-audio-mask{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:80px;
    background:#000;
    opacity:0.6;
    z-index: 100;
}
.mobile-devices .detail-voice .palys{
    position:absolute;
    top: 15px;
    left: 8%;
    z-index: 100;
    margin-left: 0;
    margin-top: 0;
}
.mobile-devices .jp-audio .jp-controls {
    padding: 6px 0 0 0!important;
}
.mobile-devices .jp-audio .jp-time-holder {
    position: absolute;
    top: 17px !important;
    right: 67px !important;
    left: 226px !important;
 
}
.mobile-devices .jp-audio .jp-type-single .jp-time-holder {
    left: 110px;
    width: 40px!important;
}
.mobile-devices .jp-duration {
    color: #fff;
}
.mobile-devices .jp-interface {
    background-color: transparent!important
}
.mobile-devices .jp-audio, .jp-audio-stream, .jp-video {
    border: none !important;
    background-color:transparent!important;
}
.mobile-devices .jp-audio .jp-type-single .jp-progress {
    left: 80px!important;
    width: 35%;
    height: 10px;
    border-radius: 10px;
    top: 21px;
    margin-left: -10px;
}
.mobile-devices  .jp-current-time, .jp-duration {
    width: 40px!important;
}
.mobile-devices .audio-close {
    z-index: 108;
    position: absolute;
    right: 0;
    width: 25px;
    color: #fff;
    top: -14px;
}

.line-h22{
    margin-top:20px;
}
.DIY-btn{
    border:none ;
    color:#fff;
}
.DIY-btn.paly-model{
    height: 40px;
    width: 49%;
    background: #65C17D url(../imgs/show_model.png) 23px center no-repeat;
    padding-left: 27px;
}

textarea{
    border:1px solid #ddd !important;
}
/*详情描述*/
.mobile-main .mobile-job-descrition{
    padding:0px;
}
.mobile-main .mobile-job-descrition .mobile-title{
    padding:0;
    margin:17px 0;
    font-size:16px;
}
.mobile-main .mobile-job-descrition .mobile-textarea{
    /*float:right;*/
    padding:0;
    border:1px solid #ddd;
    min-height:70px;
    padding:3px 8px;
    font-size:16px;
/*    text-indent:32px;*/
}
/*相关人*/
.mobile-main .mobile-relate, .mobile-main .mobile-photo, .mobile-main .mobile-means{
    padding-top:20px;
    border-bottom:1px solid #ddd;
}
.mobile-main .mobile-relate .mobile-relate-title{
    padding:0;
}
.mobile-main  .mobile-relate .mobile-relate-con{
    padding:0;
}
.mobile-main  .mobile-relate .mobile-relate-con dl{
    width:50px;
    text-align:center;
    display:inline-block;
    margin-right:16px;
    margin-bottom:20px;
}
/*.mobile-main  .mobile-relate .mobile-relate-con dl:last-child{*/
    /*margin-bottom:0 !important;*/
/*}*/

.mobile-main  .mobile-relate .mobile-relate-con dl dd{
    margin-top:4px;
    font-size:16px;
}
.mobile-main  .mobile-relate .mobile-relate-con dl dt{
    /*width:45px;*/
    /*height:45px;*/
}
.mobile-main  .mobile-relate .mobile-relate-con dl dt img{
    width:45px;
    height:45px;
    border-radius:50%;
    border:1px solid #ddd;
}
.show-more-btn span{
    padding-right:10px;
}
.show-more-btn span:not(.bv-more):hover{
    color:#3fce61;
}
.mobile-main .mobile-relate .show-more-btn {
    position:absolute;
    bottom:10px;
    right:0px;
    width:100%;
    text-align:center;
    color: #909090;
}
/*照片*/
.mobile-main .mobile-photo .photo-title{

}
.mobile-main .mobile-photo .photo-con dl{
    width:70px;
    text-align:center;

}
.mobile-main .mobile-photo .photo-con .detail-sear{
    width: 70px;
    height: 70px;
    border: 1px solid #ddd;
    overflow: hidden;
}
.mobile-main .mobile-photo .photo-con .detail-sear:active{
    border-color:#5c58f9 !important;
}
.mobile-main .mobile-photo .photo-con .detail-sear>img.thumb{
    max-width: 70px;
}
.mobile-main .mobile-photo .photo-con .detail-sear>img.file-icon{
    width: 56px;
    position: absolute;
    top: 6px;
    left: 6px;
}
.mobile-main .mobile-photo .photo-con .detail-sear .detail-search{
    width:100%;
    line-height:20px;
    background:#000;
    opacity:0.6;
    position:absolute;
    bottom:-1px;
    left:0;
    line-height:20px;
    text-align:Center;
    display:none;
}
.mobile-main .mobile-photo .photo-con .detail-sear .detail-search img{
    width:10px;
    height:10px;
}

.mobile-main .mobile-photo .photo-con dl{
    float: left;
    margin-right: 7px;
    margin-bottom: 20px;
    font-size:16px;
}
.mobile-main .show-more-btn span:active{
    color:#5c58f9;
}
.mobile-main .mobile-photo .photo-con dl dd{
    margin-top:10px;
}
/*移动端资料*/

.mobile-devices header{
    height:40px;
    background:#ddd;
    text-align:center;
    position:relative;
}
.mobile-devices header p{
    line-height:40px;
    /*color:#fff;*/
}
.mobile-main .mobile-means .means-con dl{
    width:70px;
    display:inline-block;
    margin-right:7px;
    font-size:16px;
}
.mobile-main .mobile-means .means-con dl dd{
    width:70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mobile-main .mobile-means .means-con .means-list .means-down{
    width:70px;
    height:70px;
    position:relative;
    overflow:hidden;
    float:left;
    border:1px solid #ddd;
    margin-bottom: 10px;
}
.mobile-main .mobile-means .means-con .means-list .means-down:active{
    border-color:#5c58f9;
}
.mobile-main .mobile-means .means-con .means-list .means-down>img{
    width: 56px;
    overflow:hidden;
    margin-left: 6px;
    margin-top: 6px
}
.mobile-main .mobile-means .means-con .means-list .means-down .means-address{
    width: 70px;
    position: absolute;
    bottom: -1px;
    height: 20px;
    line-height:21px;
    text-align: center;
    opacity: 0.6;
    background:#000;
}
.mobile-main .mobile-means .means-con .means-list .means-down .means-address img{
    width: 13px;
    height: 13px;
    line-height: 20px;
    margin-top: -1px;
}
.mobile-main .mobile-means .means-con .means-list dd{
    text-align: center;
}
/*回复*/
.mobile-main .mobile-reply{
    padding:0;
    font-size:16px;
}
.mobile-main .mobile-reply .say-content .dashed {
    border-bottom: 0.1rem dashed #ddd;
    padding: 10px 0;
}
.mobile-main .mobile-reply .say-content .dashed dl {
    width: 66px;   
}
.mobile-main .reply-con .reply-reply .reply-icon{
    text-align:center;
    float:left;
}
.mobile-main .reply-con .reply-reply .reply-icon p{
    margin-top:10px;
}
.mobile-main .reply-con .reply-reply .reply-icon img{
    width:30px;
    height:30px;
    border-radius:50%;
    border:1px solid #ddd;
}
.mobile-main .reply-con .reply-reply .reply-box{
    min-height:60px;
    float:right;
}
.mobile-main .reply-con .reply-reply .replys{
    margin-top:17px;
}
.mobile-main .mobile-reply .comment-doclist div{
    width: 66px;
}
.comment-doclist .read-folder>dt{
    border:1px solid #ddd;
    width: 60px;
    height:60px;
    overflow: hidden;
}
.comment-doclist .read-folder>dd{
    width: 60px;
}
.comment-doclist .read-folder>dt>img.thumb{
    width: 60px;
}
.comment-doclist .read-folder>dt>img.file-icon{
    width: 50px;
    position: absolute;
    top: 4px;
    left: 4px;
}
.comment-doclist .read-folder>span:active{
    border-color:#5c58f9;
}
.comment-time{
    color:#ddd;text-align:right;padding:10px 0
}
/*底部*/
.mobile-footer{
    width:100%;
    height:50px;
    position:fixed;
    bottom:0px;
    left:0px;
    background:#eceef0;
    text-align:center;
}
.mobile-footer button{
    /*line-height:40px;*/
    background:#65c17d;
    height:30px;
    padding:0 10px;
    text-align:center;
    margin-top:10px;

}

/*侧边栏划出效果*/
.mobile-main .content_right {
    bottom:0;
}

.mobile-devices .mobile-phone-turn{
    width: 37px;
    height: 60px;
    line-height: 60px;
    /*background:#65C17D;*/
    background:#5c58f9;
}

.mobile-devices .mobile-phone-turn .glyphicon-menu-left {
    font-size:20px;
    vertical-align: middle;
}
.mobile-devices .mobile-phone-turn .glyphicon-menu-right{
    display:none;
    font-size:20px;
}
/*.mobile-menus*/
.mobile-menus{
    position:absolute;
    right:0;
    top:40px;
}
.state ul li .handle p{
    font-size:16px;
    margin-left:5px;
}
.mobile-devices .menus-time{
    margin-left: 7px;
}
.mobile-devices .menus-name{
    width:100px;
    margin-top:-3px;
    text-align:left;
}
.mobile-devices .menus-head{
    margin-top:3px;
}
.mobile-devices .aside{
    height:100%;
    overflow: auto;
}

.detailType-brands>img{
    box-shadow: 4px 4px 10px rgba(78,83,76,0.35);
}
.handle .menus-time{
    margin: 0;
    font-weight: normal;
    margin-top: -3px;
    margin-left: 5px;
    margin-bottom: 9px;
}
/*打开bv*/
.app-mask{
    height: 65px;
    background:url('../imgs/icon/line.png') repeat-x;
    position: fixed;
    bottom: -65px;
    left: 0px;
    width: 100%;
    bottom:0px;
}
.app-mask img{
  float:left;
  margin:12px 9px 5px 6px;
}
.bv-openTitle{
    /*width:98px;*/
    display:inline-block;
    color:#fff;
    margin-top:16px;
}
.bv-openTitle p {
    font-size:12px;
}
.bv-btn{
    float: right;
    margin-right: 8px;
    margin-top: 22px;
    line-height: 25px;
    padding: 0 2px;
    background: #5c58f9;
    border: none;
    color: #fff;
    outline: none !important;
}
.bv-btn:active{
    background-color:#4e4ae3;
}
/*图片预览功能*/
.preview-tools{
    width:100%;
    height:100%;
}
.show-pictures{
    width:100%;height:360px;position:fixed;left:50%;top:50%;margin-top:-180px;margin-left:-50%;z-index:206; 
}
.show-pictures img {
    height: 360px;
    width: 100%;
    position: fixed;
    top: 50%;
    margin-top: -180px;
}
.show-pictures div{
   width:100%;text-align:center;height:100%;
}
/*图片预览框的遮罩*/
.showMsg-mask{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 205;
    position: fixed;
}

/*----------删除按钮------------*/
.coop-btns{
    width:100%;
    line-height:33px;
    padding:0 20px;
}
.coop-btns button{
    background: red;
    border: none;
    color: #fff;
    line-height: 33px;
    width: 88%;
    position: absolute;
    bottom: 10px;
    /* padding: 0 15px; */
    left: 20px;

}
.photoImg .detail-sign {
    position: absolute;
    right: -8px;
    top: 27px;
}
.photoImg {
    position: relative;
}
.error-msg img{
    position: fixed;
    top: 40%;
    background: #fff;
    left: 50%;
    margin-left: -180px;
    margin-top: -180px;
}
.error-msg{
    background: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index:210;
}
.error-msg .msg {
    top: 74%;
    left: 50%;
    color: #D5D7E0;
    font-size: 18px;
    text-align: center;
    width: 250px;
    margin-left: -125px;
}

.preview-tools .show-pictures:before {
    content: "";
    display: inline-block;
    height: 50%;
    width: 1px;
    margin-right: -1px;
}

/*left-right-pic*/
/* The gallery overlay */

#galleryOverlay{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    opacity:0;
    z-index:100000;
    background-color:#222;
    background-color:rgba(0,0,0,0.8);
    overflow:hidden;
    display:none;
    
    -moz-transition:opacity 1s ease;
    -webkit-transition:opacity 1s ease;
    transition:opacity 1s ease;
}

/* This class will trigger the animation */

#galleryOverlay.visible{
    opacity:1;
}

#gallerySlider{
    height:100%;
    
    left:0;
    top:0;
    
    width:100%;
    white-space: nowrap;
    position:absolute;
    
    -moz-transition:left 0.4s ease;
    -webkit-transition:left 0.4s ease;
    transition:left 0.4s ease;
}

#gallerySlider .placeholder{
    /*background: url("preloader.gif") no-repeat center center;*/
    height: 100%;
    line-height: 1px;
    text-align: center;
    width:100%;
    display:inline-block;
}

/* The before element moves the
 * image halfway from the top */

#gallerySlider .placeholder:before{
    content: "";
    display: inline-block;
    height: 50%;
    width: 1px;
    margin-right:-1px;
}

#gallerySlider .placeholder img{
    display: inline-block;
    max-height: 360px;
    width: 100%;
    vertical-align: middle;
}

#gallerySlider.rightSpring{
    -moz-animation: rightSpring 0.3s;
    -webkit-animation: rightSpring 0.3s;
}

#gallerySlider.leftSpring{
    -moz-animation: leftSpring 0.3s;
    -webkit-animation: leftSpring 0.3s;
}

/* Firefox Keyframe Animations */

@-moz-keyframes rightSpring{
    0%{     margin-left:0px;}
    50%{    margin-left:-30px;}
    100%{   margin-left:0px;}
}

@-moz-keyframes leftSpring{
    0%{     margin-left:0px;}
    50%{    margin-left:30px;}
    100%{   margin-left:0px;}
}

/* Safari and Chrome Keyframe Animations */

@-webkit-keyframes rightSpring{
    0%{     margin-left:0px;}
    50%{    margin-left:-30px;}
    100%{   margin-left:0px;}
}

@-webkit-keyframes leftSpring{
    0%{     margin-left:0px;}
    50%{    margin-left:30px;}
    100%{   margin-left:0px;}
}

/* Arrows */

#prevArrow,#nextArrow{
    border:none;
    text-decoration:none;
    background:url('arrows.png') no-repeat;
    opacity:0.5;
    cursor:pointer;
    position:absolute;
    width:43px;
    height:58px;
    
    top:50%;
    margin-top:-29px;
    
    -moz-transition:opacity 0.2s ease;
    -webkit-transition:opacity 0.2s ease;
    transition:opacity 0.2s ease;
}

#prevArrow:hover, #nextArrow:hover{
    opacity:1;
}

#prevArrow{
    background-position:left top;
    left:40px;
}

#nextArrow{
    background-position:right top;
    right:40px;
}
